@charset "UTF-8";
.page-title{
    font-weight:700;
    text-transform:uppercase
}
p{
    color:#a5a5a5;
    line-height:19px
}
.btn.btn-primary,.btn.btn-secondary,.btn.btn-success{
    position:relative;
    z-index:0;
    padding:10px;
    text-align:center;
    font-weight:700;
    text-transform:uppercase
}
.iframe-credit-card-payment-group .card-flags,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,.body-order-form .iframe-credit-card-payment-group .card-flags,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.shipping-data .label-vertical-group{
    display:-ms-flexbox!important;
    display:flex!important
}
.align-items-center,.iframe-credit-card-payment-group .card-flags,.body-checkout-confirmation .align-items-center,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,.body-order-form .align-items-center,.body-order-form .iframe-credit-card-payment-group .card-flags,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.shipping-data .label-vertical-group{
    -ms-flex-align:center!important;
    align-items:center!important
}
.justify-content-between,.body-checkout-confirmation .justify-content-between,.body-order-form .justify-content-between,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.shipping-data .label-vertical-group{
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}
a,a:active,a:hover,a:link,a:visited,button,input[type=button],input[type=submit]{
    transition:.3s all
}
ul.list-inline,ul.list-unstyled,.body-checkout-confirmation ul.list-inline,.body-checkout-confirmation ul.list-unstyled,.body-order-form ul.list-inline,.body-order-form ul.list-unstyled{
    margin:0;
    padding:0;
    list-style:none
}
.btn{
    padding:0;
    margin:0;
    border:0;
    box-shadow:none!important;
    line-height:1rem;
    cursor:pointer;
    background:0 0;
    border-radius:0
}
.body-checkout-confirmation,.body-order-form{
    background:#fff;
    padding:85px 0 0!important
}
ul.list-inline,ul.list-unstyled,.body-checkout-confirmation ul.list-inline,.body-checkout-confirmation ul.list-unstyled,.body-order-form ul.list-inline,.body-order-form ul.list-unstyled{
    margin:0;
    padding:0;
    list-style:none
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.shipping-data .label-vertical-group,.iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,.iframe-credit-card-payment-group .body-order-form .card-flags,.iframe-credit-card-payment-group .card-flags,.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.body-checkout-confirmation .container-order-form .step.shipping-data .label-vertical-group,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,.body-checkout-confirmation .iframe-credit-card-payment-group .body-order-form .card-flags,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,.body-order-form .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.body-order-form .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.body-order-form .container-order-form .step.shipping-data .label-vertical-group,.body-order-form .iframe-credit-card-payment-group .card-flags,.body-order-form .iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,.body-order-form .iframe-credit-card-payment-group .card-flags,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-checkout-confirmation .address-item,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-order-form .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-checkout-confirmation .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-order-form .address-item,.container-order-form .step.shipping-data .label-vertical-group,.container-order-form .step.shipping-data .body-checkout-confirmation .label-vertical-group,.container-order-form .step.shipping-data .body-order-form .label-vertical-group{
    display:-ms-flexbox!important;
    display:flex!important
}
.align-items-center,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.shipping-data .label-vertical-group,.iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,.iframe-credit-card-payment-group .body-order-form .card-flags,.iframe-credit-card-payment-group .card-flags,.body-checkout-confirmation .align-items-center,.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.body-checkout-confirmation .container-order-form .step.shipping-data .label-vertical-group,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,.body-checkout-confirmation .iframe-credit-card-payment-group .body-order-form .card-flags,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,.body-order-form .align-items-center,.body-order-form .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.body-order-form .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.body-order-form .container-order-form .step.shipping-data .label-vertical-group,.body-order-form .iframe-credit-card-payment-group .card-flags,.body-order-form .iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,.body-order-form .iframe-credit-card-payment-group .card-flags,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-checkout-confirmation .address-item,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-order-form .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-checkout-confirmation .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-order-form .address-item,.container-order-form .step.shipping-data .label-vertical-group,.container-order-form .step.shipping-data .body-checkout-confirmation .label-vertical-group,.container-order-form .step.shipping-data .body-order-form .label-vertical-group{
    -ms-flex-align:center!important;
    align-items:center!important
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.shipping-data .label-vertical-group,.justify-content-between,.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.body-checkout-confirmation .container-order-form .step.shipping-data .label-vertical-group,.body-checkout-confirmation .justify-content-between,.body-order-form .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.body-order-form .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.body-order-form .container-order-form .step.shipping-data .label-vertical-group,.body-order-form .justify-content-between,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-checkout-confirmation .address-item,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-order-form .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-checkout-confirmation .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-order-form .address-item,.container-order-form .step.shipping-data .label-vertical-group,.container-order-form .step.shipping-data .body-checkout-confirmation .label-vertical-group,.container-order-form .step.shipping-data .body-order-form .label-vertical-group{
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}
ul.list-inline li,.body-checkout-confirmation ul.list-inline li,.body-order-form ul.list-inline li{
    display:inline-block
}
.modal-body *,.body-checkout-confirmation .modal-body *,.body-order-form .modal-body *{
    color:#fff
}
.modal-body .btn,.body-checkout-confirmation .modal-body .btn,.body-order-form .modal-body .btn{
    background:#fff;
    margin:10px 0 0;
    color:#4c4c4c;
    border:0 none;
    border-radius:6px
}
.modal-body .btn:active,.modal-body .btn:focus,.modal-body .btn:hover,.body-checkout-confirmation .modal-body .btn:active,.body-checkout-confirmation .modal-body .btn:focus,.body-checkout-confirmation .modal-body .btn:hover,.body-order-form .modal-body .btn:active,.body-order-form .modal-body .btn:focus,.body-order-form .modal-body .btn:hover{
    background:#fff;
    border:0 none;
    color:#111
}
.sr-only,.body-checkout-confirmation .sr-only,.body-order-form .sr-only{
    border:0;
    clip:rect(0,0,0,0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}
.align-self-center,.body-checkout-confirmation .align-self-center,.body-order-form .align-self-center{
    -ms-flex-item-align:center!important;
    align-self:center!important
}
.d-flex,.body-checkout-confirmation .d-flex,.body-order-form .d-flex{
    display:-ms-flexbox!important;
    display:flex!important
}
.d-none,.body-checkout-confirmation .d-none,.body-order-form .d-none{
    display:none!important
}
@media (min-width:768px){
    .d-md-block,.body-checkout-confirmation .d-md-block,.body-order-form .d-md-block{
        display:block!important
    }
}
@media (min-width:992px){
    .d-lg-flex,.body-checkout-confirmation .d-lg-flex,.body-order-form .d-lg-flex{
        display:-ms-flexbox!important;
        display:flex!important
    }
}
@media (min-width:768px){
    .d-md-flex,.body-checkout-confirmation .d-md-flex,.body-order-form .d-md-flex{
        display:-ms-flexbox!important;
        display:flex!important
    }
}
@media (min-width:576px){
    .d-sm-flex,.body-checkout-confirmation .d-sm-flex,.body-order-form .d-sm-flex{
        display:-ms-flexbox!important;
        display:flex!important
    }
}
@media only screen and (max-width:767px){
    .hidden-xs,.body-checkout-confirmation .hidden-xs,.body-order-form .hidden-xs{
        display:none!important
    }
    body .container,.body-checkout-confirmation body .container,.body-order-form body .container{
        padding:0 15px!important
    }
}
@media only screen and (max-width:991px){
    .hidden-sm,.body-checkout-confirmation .hidden-sm,.body-order-form .hidden-sm{
        display:none!important
    }
}
.full-cart .cart table tbody tr,.body-checkout-confirmation .full-cart .cart table tbody tr,.body-order-form .full-cart .cart table tbody tr{
    min-height:120px
}
.full-cart .cart table tbody tr+tr,.body-checkout-confirmation .full-cart .cart table tbody tr+tr,.body-order-form .full-cart .cart table tbody tr+tr{
    border-top:1px solid #ddd;
    margin-top:10px
}
.iframe-credit-card-payment-group h5,.body-checkout-confirmation .iframe-credit-card-payment-group h5,.body-order-form .iframe-credit-card-payment-group h5{
    font-size:16px;
    line-height:20px;
    font-weight:500;
    color:#3b4850
}
.iframe-credit-card-payment-group input,.iframe-credit-card-payment-group label,.iframe-credit-card-payment-group select,.body-checkout-confirmation .iframe-credit-card-payment-group input,.body-checkout-confirmation .iframe-credit-card-payment-group label,.body-checkout-confirmation .iframe-credit-card-payment-group select,.body-order-form .iframe-credit-card-payment-group input,.body-order-form .iframe-credit-card-payment-group label,.body-order-form .iframe-credit-card-payment-group select{
    box-sizing:border-box
}
.iframe-credit-card-payment-group input,.iframe-credit-card-payment-group select,.body-checkout-confirmation .iframe-credit-card-payment-group input,.body-checkout-confirmation .iframe-credit-card-payment-group select,.body-order-form .iframe-credit-card-payment-group input,.body-order-form .iframe-credit-card-payment-group select{
    height:35px;
    line-height:35px;
    border-radius:5px
}
.iframe-credit-card-payment-group .add-on,.body-checkout-confirmation .iframe-credit-card-payment-group .add-on,.body-order-form .iframe-credit-card-payment-group .add-on{
    height:35px;
    border:1px solid #edebea;
    background:#edebea;
    color:#3b4850;
    padding:0 5px;
    line-height:33px;
    box-sizing:border-box;
    text-shadow:0 0 0 transparent
}
.iframe-credit-card-payment-group input[type=checkbox],.iframe-credit-card-payment-group input[type=radio],.body-checkout-confirmation .iframe-credit-card-payment-group input[type=checkbox],.body-checkout-confirmation .iframe-credit-card-payment-group input[type=radio],.body-order-form .iframe-credit-card-payment-group input[type=checkbox],.body-order-form .iframe-credit-card-payment-group input[type=radio]{
    height:auto;
    line-height:none;
    margin-right:5px
}
.iframe-credit-card-payment-group label,.body-checkout-confirmation .iframe-credit-card-payment-group label,.body-order-form .iframe-credit-card-payment-group label{
    font-size:13px;
    color:#3b4850;
    font-weight:500;
    line-height:20px
}
.iframe-credit-card-payment-group .PaymentCardCVV input,.iframe-credit-card-payment-group .PaymentCardCVV label,.body-checkout-confirmation .iframe-credit-card-payment-group .PaymentCardCVV input,.body-checkout-confirmation .iframe-credit-card-payment-group .PaymentCardCVV label,.body-order-form .iframe-credit-card-payment-group .PaymentCardCVV input,.body-order-form .iframe-credit-card-payment-group .PaymentCardCVV label{
    display:inline-block!important;
    vertical-align:middle;
    margin:0;
    float:none
}
.iframe-credit-card-payment-group .CardForm .PaymentCardHolderName,.iframe-credit-card-payment-group .CardForm>div,.iframe-credit-card-payment-group .CardForm>p,.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm .PaymentCardHolderName,.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm>div,.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm>p,.body-order-form .iframe-credit-card-payment-group .CardForm .PaymentCardHolderName,.body-order-form .iframe-credit-card-payment-group .CardForm>div,.body-order-form .iframe-credit-card-payment-group .CardForm>p{
    margin-bottom:10px
}
.iframe-credit-card-payment-group .CardForm .PaymentCardFlags,.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm .PaymentCardFlags,.body-order-form .iframe-credit-card-payment-group .CardForm .PaymentCardFlags{
    margin:10px 0 20px
}
.iframe-credit-card-payment-group .card-flags input,.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags input,.body-order-form .iframe-credit-card-payment-group .card-flags input{
    display:none
}
.iframe-credit-card-payment-group .ChangeNumberOfPayments a,.body-checkout-confirmation .iframe-credit-card-payment-group .ChangeNumberOfPayments a,.body-order-form .iframe-credit-card-payment-group .ChangeNumberOfPayments a{
    color:#013365;
    font-size:14px;
    line-height:20px;
    font-weight:400
}
@keyframes alertInput{
    0%{
        border-color:#edebea
    }
    100%{
        border-color:#cf3030
    }
}
#orderform-title,.body-checkout-confirmation #orderform-title,.body-order-form #orderform-title{
    display:none!important
}
#header-checkout,.body-checkout-confirmation #header-checkout,.body-order-form #header-checkout{
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:13px 0;
    z-index:98;
    background:#f2f6f7
}
@media (max-width:767px){
    #header-checkout .col-logo,.body-checkout-confirmation #header-checkout .col-logo,.body-order-form #header-checkout .col-logo{
        width:100%
    }
}
#header-checkout .col-logo a,.body-checkout-confirmation #header-checkout .col-logo a,.body-order-form #header-checkout .col-logo a{
    display:block
}
#header-checkout .col-logo a img,.body-checkout-confirmation #header-checkout .col-logo a img,.body-order-form #header-checkout .col-logo a img{
    margin:auto;
    display:table
}
@media (min-width:768px){
    #header-checkout .col-contact,.body-checkout-confirmation #header-checkout .col-contact,.body-order-form #header-checkout .col-contact{
        display:block!important
    }
}
#header-checkout .col-contact a,#header-checkout .col-contact li,.body-checkout-confirmation #header-checkout .col-contact a,.body-checkout-confirmation #header-checkout .col-contact li,.body-order-form #header-checkout .col-contact a,.body-order-form #header-checkout .col-contact li{
    font-size:13px;
    color: #013365;
    line-height:20px;
}
#header-checkout .col-contact a i,#header-checkout .col-contact li i,.body-checkout-confirmation #header-checkout .col-contact a i,.body-checkout-confirmation #header-checkout .col-contact li i,.body-order-form #header-checkout .col-contact a i,.body-order-form #header-checkout .col-contact li i{
    margin-right:4px;
    color: #013365;
}
#header-checkout .col-contact a i.fa-whatsapp,#header-checkout .col-contact li i.fa-whatsapp,.body-checkout-confirmation #header-checkout .col-contact a i.fa-whatsapp,.body-checkout-confirmation #header-checkout .col-contact li i.fa-whatsapp,.body-order-form #header-checkout .col-contact a i.fa-whatsapp,.body-order-form #header-checkout .col-contact li i.fa-whatsapp{
    color:#91bd5d
}
#header-checkout .col-contact a:hover,.body-checkout-confirmation #header-checkout .col-contact a:hover,.body-order-form #header-checkout .col-contact a:hover{
    color:#746e6d
}
#header-checkout .col-contact li,.body-checkout-confirmation #header-checkout .col-contact li,.body-order-form #header-checkout .col-contact li{
    margin-left:15px
}
#footer-checkout,.body-checkout-confirmation #footer-checkout,.body-order-form #footer-checkout{
    margin-top:30px;
    position:relative;
    z-index:10000
}
#footer-checkout #footer-institucional,.body-checkout-confirmation #footer-checkout #footer-institucional,.body-order-form #footer-checkout #footer-institucional{
    padding:30px 0;
    background:#f2f6f7
}
#footer-checkout #footer-institucional h5,.body-checkout-confirmation #footer-checkout #footer-institucional h5,.body-order-form #footer-checkout #footer-institucional h5{
    font-weight:700;
    font-size:16px;
    color:#013365;
    line-height:20px;
    margin:0 0 10px
}
#footer-checkout #footer-institucional .container,.body-checkout-confirmation #footer-checkout #footer-institucional .container,.body-order-form #footer-checkout #footer-institucional .container{
    padding:0 15px!important
}
@media (max-width:767px){
    #footer-checkout #footer-institucional .col-contacts,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts,.body-order-form #footer-checkout #footer-institucional .col-contacts{
        margin-bottom:25px
    }
}
#footer-checkout #footer-institucional .col-contacts li,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts li,.body-order-form #footer-checkout #footer-institucional .col-contacts li{
    margin-right:20px
}
#footer-checkout #footer-institucional .col-contacts .details,#footer-checkout #footer-institucional .col-contacts .icon,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .details,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .icon,.body-order-form #footer-checkout #footer-institucional .col-contacts .details,.body-order-form #footer-checkout #footer-institucional .col-contacts .icon{
    display:inline-block;
    vertical-align:top
}
#footer-checkout #footer-institucional .col-contacts .icon,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .icon,.body-order-form #footer-checkout #footer-institucional .col-contacts .icon{
    min-width:23px
}
#footer-checkout #footer-institucional .col-contacts .icon i,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .icon i,.body-order-form #footer-checkout #footer-institucional .col-contacts .icon i{
    font-size:20px;
    color:#2ec4b6;
    line-height:20px;
    margin-right:5px;
    min-width:20px;
    text-align:center
}
#footer-checkout #footer-institucional .col-contacts .details,.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .details,.body-order-form #footer-checkout #footer-institucional .col-contacts .details{
    font-size:13px;
    color:#3b4850;
    line-height:20px
}
#footer-checkout #footer-copyright,.body-checkout-confirmation #footer-checkout #footer-copyright,.body-order-form #footer-checkout #footer-copyright{
    padding:15px 0
}
#footer-checkout #footer-copyright p,.body-checkout-confirmation #footer-checkout #footer-copyright p,.body-order-form #footer-checkout #footer-copyright p{
    font-size:12px;
    color:#3b4850;
    letter-spacing:0
}
#footer-checkout #footer-copyright ul li,.body-checkout-confirmation #footer-checkout #footer-copyright ul li,.body-order-form #footer-checkout #footer-copyright ul li{
    vertical-align:middle
}
#footer-checkout #footer-copyright ul a,.body-checkout-confirmation #footer-checkout #footer-copyright ul a,.body-order-form #footer-checkout #footer-copyright ul a{
    display:block
}
.container-cart,.container-order-form,.body-checkout-confirmation .container-cart,.body-checkout-confirmation .container-order-form,.body-order-form .container-cart,.body-order-form .container-order-form{
    padding:0 15px!important
}
@media (min-width:1200px){
    .container-cart,.container-order-form,.body-checkout-confirmation .container-cart,.body-checkout-confirmation .container-order-form,.body-order-form .container-cart,.body-order-form .container-order-form{
        width:1170px
    }
}
.lookatme,.body-checkout-confirmation .lookatme,.body-order-form .lookatme{
    background:0 0
}
.item-unavailable,.body-checkout-confirmation .item-unavailable,.body-order-form .item-unavailable{
    background-color:#e5e5e4;
    color:#7d7d7d
}
.item-unavailable .top-arrow,.body-checkout-confirmation .item-unavailable .top-arrow,.body-order-form .item-unavailable .top-arrow{
    border-bottom-color:#e5e5e4
}
.item-unavailable .item-unavailable-message,.body-checkout-confirmation .item-unavailable .item-unavailable-message,.body-order-form .item-unavailable .item-unavailable-message{
    padding:15px 0
}
#header-login,.body-checkout-confirmation #header-login,.body-order-form #header-login{
    padding:15px 0;
    z-index:9999999
}
#header-login .brand,.body-checkout-confirmation #header-login .brand,.body-order-form #header-login .brand{
    line-height:0
}
#header-login .brand a,.body-checkout-confirmation #header-login .brand a,.body-order-form #header-login .brand a{
    display:block
}
#header-login #phone-info,.body-checkout-confirmation #header-login #phone-info,.body-order-form #header-login #phone-info{
    font-size:18px;
    color:#013365;
    font-weight:500;
    line-height:27px
}
#header-login #phone-info i,.body-checkout-confirmation #header-login #phone-info i,.body-order-form #header-login #phone-info i{
    margin-right:5px
}
#footer-login,.body-checkout-confirmation #footer-login,.body-order-form #footer-login{
    border-top:1px solid #edebea;
    z-index:9999
}
.vtex-front-messages-placeholder,.body-checkout-confirmation .vtex-front-messages-placeholder,.body-order-form .vtex-front-messages-placeholder{
    z-index:99999999999
}
#btn-clear-cart,.body-checkout-confirmation #btn-clear-cart,.body-order-form #btn-clear-cart{
    height:30px;
    text-shadow:0 0 0 transparent;
    text-transform:uppercase;
    padding:0 15px;
    line-height:30px
}
#btn-clear-cart i,.body-checkout-confirmation #btn-clear-cart i,.body-order-form #btn-clear-cart i{
    margin-right:6px
}
#show-more,.body-checkout-confirmation #show-more,.body-order-form #show-more{
    margin:10px auto;
    width:170px;
    color:#666;
    background:#edebea;
    font-size:12px;
    text-transform:uppercase;
    display:block;
    text-align:center;
    height:40px;
    padding:0;
    line-height:40px;
    font-weight:500;
    text-decoration:none;
    transition:.3s all
}
#show-more:hover,.body-checkout-confirmation #show-more:hover,.body-order-form #show-more:hover{
    color:#404040;
    background:#cac4c1
}
#cart-coupon,.body-checkout-confirmation #cart-coupon,.body-order-form #cart-coupon{
    height:45px
}
@media (max-width:767px){
    #cart-coupon-add,.body-checkout-confirmation #cart-coupon-add,.body-order-form #cart-coupon-add{
        width:100%
    }
}
#cart-coupon-add,#cart-shipping-calculate,.body-checkout-confirmation #cart-coupon-add,.body-checkout-confirmation #cart-shipping-calculate,.body-order-form #cart-coupon-add,.body-order-form #cart-shipping-calculate{
    height:45px;
    padding:0 10px;
    line-height:45px;
    border:0 none;
    border-radius:0;
    background:#00dd3e;
    color:#fff;
    font-size:14px;
    font-weight:400;
    text-transform:uppercase;
    box-sizing:border-box;
    text-shadow:0 0 0 transparent!important;
    transition:.3s all
}
#cart-coupon-add:hover,#cart-shipping-calculate:hover,.body-checkout-confirmation #cart-coupon-add:hover,.body-checkout-confirmation #cart-shipping-calculate:hover,.body-order-form #cart-coupon-add:hover,.body-order-form #cart-shipping-calculate:hover{
    background:#009129
}
#cart-coupon-add,.body-checkout-confirmation #cart-coupon-add,.body-order-form #cart-coupon-add{
    margin-left:15px
}
#cart-shipping-calculate,.body-checkout-confirmation #cart-shipping-calculate,.body-order-form #cart-shipping-calculate{
    font-size:0;
    line-height:0;
    color:transparent
}
#cart-shipping-calculate:before,.body-checkout-confirmation #cart-shipping-calculate:before,.body-order-form #cart-shipping-calculate:before{
    display:block;
    content:"OK";
    color:#fff;
    font-size:14px;
    line-height:45px;
    font-weight:400
}
.shipping-fieldset,.body-checkout-confirmation .shipping-fieldset,.body-order-form .shipping-fieldset{
    text-align:right
}
#summary-postal-code,.body-checkout-confirmation #summary-postal-code,.body-order-form #summary-postal-code{
    width:100px;
    max-width:100px;
    height:45px
}
.orderform-template,.body-checkout-confirmation .orderform-template,.body-order-form .orderform-template{
    z-index:2
}
.cart-template,.body-checkout-confirmation .cart-template,.body-order-form .cart-template{
    z-index:3
}
.btn-success,.body-checkout-confirmation .btn-success,.body-order-form .btn-success{
    line-height:53px;
    display:block;
    padding:0!important;
    height:53px;
    background:#00dd3e;
    text-transform:uppercase;
    box-sizing:border-box;
    text-align:center;
    transition:.3s all;
    border-radius:3px;
    font-weight:700;
    font-size:15px;
    color:#fff;
    letter-spacing:0;
    text-align:center
}
.btn-success:hover,.body-checkout-confirmation .btn-success:hover,.body-order-form .btn-success:hover{
    background:#009129
}
.btn-submit-wrapper .btn-success,.body-checkout-confirmation .btn-submit-wrapper .btn-success,.body-order-form .btn-submit-wrapper .btn-success{
    width:100%
}
.form-control,input[type=email],input[type=password],input[type=phone],input[type=tel],input[type=text],select,textarea,.body-checkout-confirmation .form-control,.body-checkout-confirmation input[type=email],.body-checkout-confirmation input[type=password],.body-checkout-confirmation input[type=phone],.body-checkout-confirmation input[type=tel],.body-checkout-confirmation input[type=text],.body-checkout-confirmation select,.body-checkout-confirmation textarea,.body-order-form .form-control,.body-order-form input[type=email],.body-order-form input[type=password],.body-order-form input[type=phone],.body-order-form input[type=tel],.body-order-form input[type=text],.body-order-form select,.body-order-form textarea{
    border-radius:3px;
    box-sizing:border-box;
    background:#f2f6f7;
    height:45px;
    border:0 none;
    box-shadow:0 0 0 none!important
}
label.checkbox input,label.checkbox span,.body-checkout-confirmation label.checkbox input,.body-checkout-confirmation label.checkbox span,.body-order-form label.checkbox input,.body-order-form label.checkbox span{
    display:inline-block;
    vertical-align:middle;
    padding:3px 0
}
select,.body-checkout-confirmation select,.body-order-form select{
    height:50px
}
h5,.body-checkout-confirmation h5,.body-order-form h5{
    font-size:16px;
    float:none;
    display:block;
    margin:5px 0 10px;
    font-weight:500;
    color:#3b4850;
    line-height:20px
}
.checkout-container{
    padding-top:25px
}
.container-cart h1,.container-order-form h1{
    font-size:25px;
    color:#3b4850;
    line-height:30px;
    font-weight:500;
    margin:10px 0 15px
}
.container-cart .cart,.container-cart .step,.container-cart .totalizers{
    border:0 none;
    padding:0
}
.container-cart .cart-items{
    position:relative;
    margin-bottom:25px
}
.container-cart .cart-items th{
    background:#f2f6f7;
    font-size:13px;
    color:#013365;
    font-weight:700;
    line-height:13px;
    padding:12px 5px;
    border:0 none!important;
    border-top:0 none!important
}
.container-cart .cart-items th.product{
    padding-left:20px
}
.container-cart .item-attachments-header strong{
    padding:10px 15px
}
.container-cart .item-attachments-header:after{
    display:none
}
.container-cart .item-attachments-item-fields input{
    animation:alertInput .6s linear 1s 6 alternate
}
.container-cart .product-item td{
    padding-top:20px;
    padding-bottom:20px
}
@media (min-width:768px){
    .container-cart .product-item td{
        border-bottom:1px solid #edebea
    }
}
.container-cart .product-item td.product-name>a{
    font-size:12px;
    color:#3b4850;
    line-height:18px;
    display:block
}
.container-cart .product-item td.product-name>a:hover{
    color:#000
}
.container-cart .product-item td.product-name hr{
    border:#edebea;
    background:#edebea
}
.container-cart .product-item td.product-name .clone-item{
    background:#edebea;
    border-radius:3px;
    height:35px;
    line-height:35px;
    border:0 none;
    color:#666;
    text-transform:uppercase;
    font-size:10px;
    text-shadow:0 0 0 transparent;
    font-weight:500
}
.container-cart .product-item td.product-name .clone-item:hover{
    color:#3b4850
}
.container-cart .product-item td.shipping-date div,.container-cart .product-item td.shipping-date span{
    font-size:14px;
    color:#666;
    line-height:16px;
    font-weight:400
}
.container-cart .product-item td.product-price .list-price{
    font-size:12px;
    color:#666;
    line-height:14px;
    text-decoration:line-through
}
.container-cart .product-item td.product-price .best-price{
    font-size:14px;
    color:#3b4850;
    font-weight:500;
    line-height:16px
}
.container-cart .product-item td.product-price .best-price .new-product-real-price-per-unit{
    font-size:10px
}
.container-cart .product-item td.quantity .item-quantity-change{
    background:0 0
}
.container-cart .product-item td.quantity .item-quantity-change .icon-minus-sign:before,.container-cart .product-item td.quantity .item-quantity-change .icon-plus-sign:before{
    color:#666
}
.container-cart .product-item td.quantity .item-quantity-change .icon-minus-sign:before{
    content:"-";
    font-size:18px
}
.container-cart .product-item td.quantity .item-quantity-change .icon-plus-sign:before{
    content:"+";
    font-size:16px
}
.container-cart .product-item td.quantity input{
    background:0 0;
    border:0 none;
    border-radius:0;
    box-shadow:0 0 0 transparent;
    height:30px;
    font-size:14px;
    color:#3b4850;
    font-weight:400;
    text-align:center;
    min-width:50px
}
@media (min-width:768px){
    .container-cart .product-item td.quantity input{
        min-width:60px;
        border: 1px solid #fff;
        border-radius: 3px;
        background: #f2f6f7;
    }
}
.container-cart .product-item td.quantity .item-unit-label{
    font-size:12px;
    font-weight:400;
    color:#013365;
    line-height:14px
}
.container-cart .product-item td.quantity-price .total-selling-price{
    color:#df6400;
    font-size:15px;
    font-weight:800;
    line-height:16px
}
.container-cart .product-item td .item-link-remove .icon-remove{
    transition:.3s all
}
.container-cart .product-item td .item-link-remove .icon-remove:before{
    content:"\F2ED";
    display:block;
    color:#000;
    font:400 14px Font Awesome\ 5 Free;
    color:#435b9f
}
.container-cart .product-item td .item-link-remove:hover .icon-remove{
    transform:scale(1.04)
}
@media (max-width:767px){
    .container-cart .coupon.summary-coupon{
        width:100%
    }
}
.container-cart .coupon.summary-coupon,.container-cart .coupon.summary-coupon .coupon-data{
    float:none!important;
    margin: 0;
}
.container-cart .coupon.summary-coupon .link-coupon-add{
    width:270px;
    height:45px;
    display:block;
    font-weight:700;
    font-size:13px;
    line-height:45px;
    color:#8e8786;
    letter-spacing:0;
    text-align:center;
    text-transform:uppercase;
    padding:0;
    background:#fff;
    border:1px solid #edebea;
    border-radius:3px
}
@media (max-width:767px){
    .container-cart .coupon.summary-coupon .link-coupon-add{
        width:98%
    }
}
.container-cart .coupon.summary-coupon .link-coupon-add:before{
    content:"\F02B";
    display:block;
    color:#000;
    font:900 16px Font Awesome\ 5 Free;
    display:inline-block;
    font-size:13px;
    color:#8e8786;
    margin-right:5px
}
.container-cart .coupon.summary-coupon .link-coupon-add:hover{
    color:#746e6d
}
.container-cart .cart-totalizers{
    max-width:100%
}
@media (min-width:768px){
    .container-cart .cart-totalizers{
        max-width:280px
    }
}
.container-cart .cart-totalizers #shipping-calculate-link{
    text-decoration:underline!important
}
.container-cart .cart-totalizers tbody td,.container-cart .cart-totalizers tfoot td{
    font-size:14px;
    color:#666;
    font-weight:400;
    line-height:20px
}
.container-cart .cart-totalizers tbody td.info,.container-cart .cart-totalizers tfoot td.info{
    text-align:left
}
.container-cart .cart-totalizers tbody td.monetary,.container-cart .cart-totalizers tfoot td.monetary{
    text-align:right
}
.container-cart .cart-totalizers tbody td.empty,.container-cart .cart-totalizers tfoot td.empty{
    width:0;
    padding:0
}
.container-cart .cart-totalizers tfoot td.monetary{
    color:#df6400;
    font-weight:800
}
.container-cart .empty-cart-title{
    font-size:25px;
    font-weight:500;
    line-height:20px;
    color:#666;
    margin:20px 0
}
.container-cart .empty-cart-message p{
    color:#3b4850;
    font-size:14px;
    font-weight:500;
    line-height:20px
}
.container-cart .empty-cart-links .link-choose-products{
    color:transparent;
    font-size:0;
    line-height:0;
    background:#edebea;
    height:35px;
    width:100px
}
.container-cart .empty-cart-links .link-choose-products:before{
    transition:.3s all;
    content:'Voltar';
    color:#666;
    font-size:10px;
    font-weight:500;
    line-height:35px;
    display:block
}
.container-cart .empty-cart-links .link-choose-products:hover{
    background:#cac4c1
}
.container-cart .empty-cart-links .link-choose-products:hover:before{
    color:#3b4850
}
.container-cart .cart-links.cart-links-bottom{
    float:none!important
}
@media (min-width:768px){
    .container-cart .cart-links.cart-links-bottom{
        display:-ms-flexbox!important;
        display:flex!important;
        -ms-flex-pack:justify!important;
        justify-content:space-between!important;
        -ms-flex-align:center!important;
        align-items:center!important
    }
}
.container-cart .cart-links.cart-links-bottom[style*="display: none;"]{
    display:none!important
}
.container-cart .cart-links.cart-links-bottom:after,.container-cart .cart-links.cart-links-bottom:before{
    display:none
}
.container-cart .cart-links.cart-links-bottom>span{
    max-width:320px
}
.container-cart .cart-links.cart-links-bottom a{
    display:block;
    width:270px;
    height:50px;
    padding:0;
    line-height:50px;
    margin:0;
    font-size:14px;
    font-weight:600;
    color:#8e8786;
    text-transform:uppercase;
    border:0 none;
    border-radius:3px;
    background:#edebea;
    text-align:center;
    transition:.3s all
}
@media (max-width:767px){
    .container-cart .cart-links.cart-links-bottom a{
        width:100%;
        margin:0 0 15px
    }
}
.container-cart .cart-links.cart-links-bottom a:hover{
    background:#e1dedc
}
.container-cart .cart-links.cart-links-bottom a#cart-to-orderform{
    background:#00dd3e;
    color:transparent;
    line-height:0;
    font-size:0;
    position:relative
}
.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:after{
    content:"\F0DA";
    display:block;
    color:#000;
    font:900 16px Font Awesome\ 5 Free;
    margin-left:15px
}
.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:before{
    content:"CONTINUAR"
}
.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:after,.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:before{
    display:inline-block;
    color:#fff;
    font-weight:700;
    font-size:18px;
    line-height:50px;
    text-align:center
}
.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:hover{
    background:#00c437
}
.client-pre-email{
    border:0 none
}
.client-pre-email .link-cart{
    margin:20px
}
.client-pre-email .pre-email{
    max-width:525px;
    display:block;
    margin:70px auto 30px;
    box-sizing:border-box;
    width:100%
}
.client-pre-email .pre-email .client-pre-email-h{
    margin:0 0 35px;
    line-height:0
}
.client-pre-email .pre-email .client-pre-email-h label{
    margin:0;
    line-height:0
}
.client-pre-email .pre-email .client-pre-email-h label span{
    font-size:18px;
    color:#666;
    line-height:27px;
    font-weight:700;
    text-transform:uppercase;
    display:block
}
.client-pre-email .pre-email .client-pre-email-h label small{
    font-size:15px;
    color:#8e8786;
    line-height:22px;
    font-weight:400;
    margin-top:5px;
    display:block
}
.client-pre-email .pre-email .client-email{
    position:relative;
    display:block;
    width:100%;
    margin:0
}
.client-pre-email .pre-email .client-email input{
    width:100%;
    height:53px;
    border-radius:3px;
    display:block;
    padding-right:135px;
    background:#fff;
    border:1px solid #edebea;
    box-shadow:0 0 none!important
}
.client-pre-email .pre-email .client-email button{
    width:135px;
    position:absolute;
    background:#00dd3e;
    right:0;
    top:0;
    height:53px;
    border-radius:0;
    color:#fff;
    font-weight:700;
    font-size:14px
}
@media (max-width:767px){
    .client-pre-email .pre-email .client-email button{
        width:100%;
        position:relative
    }
}
.client-pre-email .pre-email .client-email button span:after{
    content:"\F0DA";
    display:block;
    color:#000;
    font:900 16px Font Awesome\ 5 Free;
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
    color:#fff;
    font-size:14px
}
.client-pre-email .emailInfo{
    max-width:525px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box;
    border-radius:3px;
    padding:30px;
    width:100%;
    background:#fff;
    border:1px solid #edebea;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.03)
}
.client-pre-email .emailInfo h3,.client-pre-email .emailInfo ul{
    max-width:376px;
    display:block;
    margin:auto
}
.client-pre-email .emailInfo h3{
    font-size:16px;
    color:#444;
    font-weight:400;
    margin-bottom:25px;
    text-align:center
}
.client-pre-email .emailInfo ul li{
    padding:3px 0
}
.client-pre-email .emailInfo ul li i{
    font-size:14px;
    color:#435b9f!important
}
.client-pre-email .emailInfo ul li span{
    font-size:13px;
    color:#8e8786;
    line-height:16px;
    font-weight:400
}
.client-pre-email .emailInfo .icon-lock{
    display:none
}
.container-order-form .step{
    padding:15px;
    border-radius:3px;
    background:#fff;
    border:1px solid #edebea;
    box-shadow:4px 4px 0 0 rgba(0,0,0,.03)
}
.container-order-form .step.shipping-data .label-vertical-group{
    padding:5px 0;
    background:#fff;
    border:0 none
}
.container-order-form .step.shipping-data .label-vertical-group i,.container-order-form .step.shipping-data .label-vertical-group>span{
    display:block;
    float:none!important;
    position:relative;
    left:auto;
    top:auto;
    right:auto
}
.container-order-form .step.shipping-data .label-vertical-group span{
    color:#666;
    font-size:13px;
    font-weight:300
}
.container-order-form .step.shipping-data .label-vertical-group i{
    color:#666;
    transition:.3s all
}
.container-order-form .step.shipping-data .label-vertical-group.active i,.container-order-form .step.shipping-data .label-vertical-group:hover i{
    color:#013365
}
.container-order-form .step.accordion-group .accordion-heading{
    padding:15px;
    margin:-15px -15px 15px;
    background:#f2f6f7
}
.container-order-form .step.accordion-group .accordion-heading .accordion-toggle{
    padding:0;
    line-height:15px
}
.container-order-form .step.accordion-group .accordion-heading .accordion-toggle i{
    font-size:14px;
    color:#013365;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    line-height:15px
}
.container-order-form .step.accordion-group .accordion-heading .accordion-toggle span{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    color:#013365;
    line-height:15px;
    font-weight:700;
    text-transform:uppercase
}
.container-order-form .step.accordion-group .accordion-inner{
    padding:0
}
.container-order-form .step.accordion-group .accordion-body,.container-order-form .step.accordion-group .accordion-body a,.container-order-form .step.accordion-group .accordion-body p,.container-order-form .step.accordion-group .accordion-inner,.container-order-form .step.accordion-group .accordion-inner a,.container-order-form .step.accordion-group .accordion-inner p{
    font-size:12px;
    color:#666;
    line-height:14px;
    font-weight:300
}
.container-order-form .step.accordion-group .accordion-body p,.container-order-form .step.accordion-group .accordion-inner p{
    margin-bottom:10px
}
.container-order-form .step.accordion-group .accordion-body a,.container-order-form .step.accordion-group .accordion-inner a{
    color:#666;
    font-size:14px
}
.container-order-form .step.accordion-group .accordion-body a:hover,.container-order-form .step.accordion-group .accordion-inner a:hover{
    color:#000d19
}
.container-order-form .step.accordion-group .accordion-body a.link-edit,.container-order-form .step.accordion-group .accordion-inner a.link-edit{
    color:#cf3030
}
.container-order-form .step.accordion-group .accordion-body a.link-edit:hover,.container-order-form .step.accordion-group .accordion-inner a.link-edit:hover{
    color:#912222
}
.container-order-form .step.accordion-group .accordion-body label,.container-order-form .step.accordion-group .accordion-body label span,.container-order-form .step.accordion-group .accordion-inner label,.container-order-form .step.accordion-group .accordion-inner label span{
    font-size:13px;
    color:#666;
    font-weight: 400;
    line-height:13px;
    margin-bottom: 6px;
}
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item,.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item{
    border:1px solid #edebea
}
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item i,.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item i{
    transition:.3s all;
    color:#edebea
}
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item.active i,.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item:hover i,.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item.active i,.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item:hover i{
    color:#013365
}
.container-order-form .step.accordion-group .accordion-body .client-profile-email .email,.container-order-form .step.accordion-group .accordion-inner .client-profile-email .email{
    color:#3b4850;
    font-weight:500;
    font-size:14px
}
.container-order-form .step.accordion-group .accordion-body .client-profile-email .link-logout,.container-order-form .step.accordion-group .accordion-inner .client-profile-email .link-logout{
    color:#013365;
    font-weight:400
}
.container-order-form .step.accordion-group .accordion-body .client-profile-email .link-logout:hover,.container-order-form .step.accordion-group .accordion-inner .client-profile-email .link-logout:hover{
    color:#000d19
}
.container-order-form .step.accordion-group .accordion-body p.input input,.container-order-form .step.accordion-group .accordion-body p.input select,.container-order-form .step.accordion-group .accordion-inner p.input input,.container-order-form .step.accordion-group .accordion-inner p.input select{
    width:100%
}
.container-order-form .step.accordion-group .accordion-body p.input input#ship-postal-code,.container-order-form .step.accordion-group .accordion-body p.input select#ship-postal-code,.container-order-form .step.accordion-group .accordion-inner p.input input#ship-postal-code,.container-order-form .step.accordion-group .accordion-inner p.input select#ship-postal-code{
    width:90px;
    max-width:none
}
.container-order-form .step.accordion-group .accordion-body .client-company-document,.container-order-form .step.accordion-group .accordion-body .client-company-ie,.container-order-form .step.accordion-group .accordion-body .client-document,.container-order-form .step.accordion-group .accordion-body .client-document+div,.container-order-form .step.accordion-group .accordion-body .client-first-name,.container-order-form .step.accordion-group .accordion-body .client-last-name,.container-order-form .step.accordion-group .accordion-body .ship-city,.container-order-form .step.accordion-group .accordion-body .ship-more-info,.container-order-form .step.accordion-group .accordion-body .ship-number,.container-order-form .step.accordion-group .accordion-body .ship-state,.container-order-form .step.accordion-group .accordion-inner .client-company-document,.container-order-form .step.accordion-group .accordion-inner .client-company-ie,.container-order-form .step.accordion-group .accordion-inner .client-document,.container-order-form .step.accordion-group .accordion-inner .client-document+div,.container-order-form .step.accordion-group .accordion-inner .client-first-name,.container-order-form .step.accordion-group .accordion-inner .client-last-name,.container-order-form .step.accordion-group .accordion-inner .ship-city,.container-order-form .step.accordion-group .accordion-inner .ship-more-info,.container-order-form .step.accordion-group .accordion-inner .ship-number,.container-order-form .step.accordion-group .accordion-inner .ship-state{
    margin-right:0;
    width:50%;
    box-sizing:border-box;
    float:left;
    margin-left:0
}
.container-order-form .step.accordion-group .accordion-body .client-company-document:after,.container-order-form .step.accordion-group .accordion-body .client-company-ie:after,.container-order-form .step.accordion-group .accordion-body .client-document+div:after,.container-order-form .step.accordion-group .accordion-body .client-document:after,.container-order-form .step.accordion-group .accordion-body .client-first-name:after,.container-order-form .step.accordion-group .accordion-body .client-last-name:after,.container-order-form .step.accordion-group .accordion-body .ship-city:after,.container-order-form .step.accordion-group .accordion-body .ship-more-info:after,.container-order-form .step.accordion-group .accordion-body .ship-number:after,.container-order-form .step.accordion-group .accordion-body .ship-state:after,.container-order-form .step.accordion-group .accordion-inner .client-company-document:after,.container-order-form .step.accordion-group .accordion-inner .client-company-ie:after,.container-order-form .step.accordion-group .accordion-inner .client-document+div:after,.container-order-form .step.accordion-group .accordion-inner .client-document:after,.container-order-form .step.accordion-group .accordion-inner .client-first-name:after,.container-order-form .step.accordion-group .accordion-inner .client-last-name:after,.container-order-form .step.accordion-group .accordion-inner .ship-city:after,.container-order-form .step.accordion-group .accordion-inner .ship-more-info:after,.container-order-form .step.accordion-group .accordion-inner .ship-number:after,.container-order-form .step.accordion-group .accordion-inner .ship-state:after{
    clear:both;
    content:"";
    display:table
}
.container-order-form .step.accordion-group .accordion-body .ship-number,.container-order-form .step.accordion-group .accordion-body .ship-state,.container-order-form .step.accordion-group .accordion-inner .ship-number,.container-order-form .step.accordion-group .accordion-inner .ship-state{
    width:25%
}
.container-order-form .step.accordion-group .accordion-body .ship-city,.container-order-form .step.accordion-group .accordion-inner .ship-city{
    width:75%;
    padding-right:10px
}
.container-order-form .step.accordion-group .accordion-body .ship-more-info,.container-order-form .step.accordion-group .accordion-inner .ship-more-info{
    width:75%;
    padding-left:10px
}
.container-order-form .step.accordion-group .accordion-body .client-company-ie,.container-order-form .step.accordion-group .accordion-body .client-document,.container-order-form .step.accordion-group .accordion-body .client-first-name,.container-order-form .step.accordion-group .accordion-inner .client-company-ie,.container-order-form .step.accordion-group .accordion-inner .client-document,.container-order-form .step.accordion-group .accordion-inner .client-first-name{
    padding-right:10px
}
.container-order-form .step.accordion-group .accordion-body .client-profile-summary,.container-order-form .step.accordion-group .accordion-inner .client-profile-summary{
    color:#3b4850;
    font-size:14px;
    line-height:16px
}
.container-order-form .step.accordion-group .accordion-body .links,.container-order-form .step.accordion-group .accordion-inner .links{
    width:100%
}
.container-order-form .step.accordion-group .accordion-body .links .link a,.container-order-form .step.accordion-group .accordion-inner .links .link a{
    border:1px solid #666;
    background:#666;
    color:#fff;
    border-radius:5px;
    display:block;
    width:100%;
    height:35px;
    font-weight:500;
    font-size:10px;
    padding:0;
    text-align:center;
    line-height:35px;
    text-transform:uppercase;
    margin-bottom:6px
}
.container-order-form .step.accordion-group .accordion-body .links .link a:hover,.container-order-form .step.accordion-group .accordion-inner .links .link a:hover{
    background:#4d4d4d
}
.container-order-form .step.accordion-group .accordion-body #change-other-shipping-option,.container-order-form .step.accordion-group .accordion-inner #change-other-shipping-option{
    height:35px;
    width:100%;
    padding:0;
    line-height:35px;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
    font-weight:600;
    background:#2EC4B6;
    border-radius:5px;
    text-transform:uppercase;
    margin-top:15px;
    border:0 none
}
.container-order-form .step.accordion-group .accordion-body #change-other-shipping-option:hover,.container-order-form .step.accordion-group .accordion-inner #change-other-shipping-option:hover{
    background: #23b3a5;
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item{
    padding:10px;
    border:1px solid #edebea;
    background:#fff;
    transition:.3s all
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .input,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .link-box-select,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .input,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .link-box-select{
    position:relative;
    display:block;
    float:none
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .input i,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .link-box-select i,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .input i,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .link-box-select i{
    position:relative;
    left:auto;
    top:auto;
    right:auto;
    color:#666
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item a.link-box-select,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item a.link-box-select{
    display:none
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item label,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item p,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item span,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item label,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item p,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item span{
    text-shadow:0 0 transparent;
    color:#3b4850;
    font-size:13px;
    font-weight:300
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item p,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item p{
    margin:0
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item label,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item label{
    float:none
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item label br,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item label br{
    display:none
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item:hover,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item:hover{
    border-color:#013365
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item:hover .link-box-select i,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item:hover .link-box-select i{
    color:#013365
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active{
    border-color: #2EC4B6;
    background: #2EC4B6;
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active label,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active p,.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active span,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active label,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active p,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active span{
    color:#fff;
    font-weight:400
}
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active label > br{
    display: block;
}
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active span{
    line-height: 20px;
}
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active .link-box-select i,.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active .link-box-select i{
    color:#fff
}
.container-order-form .step.accordion-group.active .accordion-heading .accordion-toggle i{
    color:#435b9f
}
.container-order-form .cart-template.mini-cart h2{
    font-size:20px;
    color:#3b4850;
    line-height:22px;
    background:0 0;
    border:0 none;
    font-weight:500;
    text-align:left;
    margin-top:10px
}
.container-order-form .cart-template.mini-cart .cart-items>li{
    padding:5px 0;
    border:0 none
}
.container-order-form .cart-template.mini-cart .cart-items>li .product-name{
    font-size:12px;
    color:#3b4850;
    line-height:13px;
    font-weight:500
}
.container-order-form .cart-template.mini-cart .cart-items>li .quantity.badge{
    background:#435b9f;
    border:1px solid #fff;
    box-shadow:0 0 0 transparent;
    color:#fff;
    left:30px
}
.container-order-form .cart-template.mini-cart .cart-items>li .description .shipping-date{
    font-size:12px;
    color:#666;
    font-weight:300;
    line-height:20px
}
.container-order-form .cart-template.mini-cart .cart-items>li .description .price{
    font-size:14px;
    color:#df6400;
    line-height:20px;
    font-weight:700;
    text-align:right
}
.container-order-form .cart-template.mini-cart #go-to-cart-button{
    float:none!important;
    width:100%;
    background:0 0
}
.container-order-form .cart-template.mini-cart #go-to-cart-button a{
    display:block;
    text-align:center;
    background: transparent;
    border-radius: 0;
    height:35px;
    padding:0;
    font-size: 12px;
    font-weight: 400;
    line-height:35px;
    color: #afafaf;
    text-transform: none;
    text-shadow:0 0 transparent;
}
.container-order-form .cart-template.mini-cart #go-to-cart-button a:hover{
    color:#404040;
    background: transparent;
}
.container-order-form .cart-template.mini-cart .summary-template-holder{
    background:0 0;
    border:0 none
}
.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td,.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td{
    width:50%;
    float:none;
    font-size:14px;
    color:#666;
    font-weight:400;
    line-height:16px;
    padding:10px 0
}
.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.info,.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.info{
    text-align:left
}
.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.monetary,.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.monetary{
    text-align:right
}
.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.empty,.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.space,.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.empty,.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.space{
    width:0!important;
    padding:0!important
}
.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.monetary{
    color:#013365;
    font-weight:500
}
body{
    line-height:1
}
@media (max-width:767px){
    body{
        padding:0!important
    }
    body .container .container{
        padding-left:0!important;
        padding-right:0!important
    }
}
a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline
}
:focus{
    outline:0!important
}
a,a:active,a:hover,a:link,a:visited,button,input[type=button],input[type=submit]{
    text-decoration:none!important
}
table{
    border-collapse:separate;
    border-spacing:0
}
td,th{
    text-align:left;
    font-weight:400
}
iframe,img{
    border:none;
    text-decoration:none
}
ol,ul,ul li{
    list-style:none
}
button,input,select,textarea{
    font-size:100%;
    font-family:inherit
}
select{
    margin:inherit
}
hr{
    margin:30px 0;
    padding:0;
    border:0;
    color:#edebea;
    background-color:#edebea;
    height:1px
}
div#ajaxBusy{
    display:none!important
}
a[x-apple-data-detectors],span[x-apple-data-detectors]{
    color:inherit!important;
    text-decoration:none!important;
    font-size:inherit!important;
    font-family:inherit!important;
    font-weight:inherit!important;
    line-height:inherit!important
}
a[href^=tel]{
    color:inherit;
    text-decoration:none
}
#footer-payments .details>span{
    color:#fff!important;
    display:block
}
body{
    font-family:Montserrat,sans-serif;
    font-size:14px;
    letter-spacing:0;
    padding-top: 97px;
}
@media (min-width:1200px){
    body .container{
        max-width:1170px
    }
}
a{
    color:#2ec4b6
}
a:hover{
    color:#013365
}
h3{
    font-weight:700;
    text-transform:uppercase;
    font-size:14px;
    color:#013365;
    line-height:20px;
    margin:10px 0 15px
}
.btn.btn-primary{
    color:#fff;
    font-size:13px;
    background:#2ec4b6;
    border-radius:3px;
    width:auto;
    height:auto
}
.btn.btn-primary:hover{
    background:#249b90
}
.btn.btn-success{
    color:#fff;
    font-size:13px;
    background:#00dd3e;
    border-radius:3px;
    width:auto;
    height:auto;
    font-weight:600
}
.btn.btn-success:hover{
    background:#00aa30
}
.btn.btn-secondary{
    color:#fff;
    font-size:13px;
    background:#013365;
    border-radius:3px;
    width:auto;
    height:auto;
    font-weight:600
}
.btn.btn-secondary:hover{
    background:#011a33
}
.btn.btn-large,.btn.btn-lg{
    padding:15px 40px
}
.page-title{
    font-size:24px;
    line-height:32px;
    margin-bottom:30px;
    color:#013365
}
@media only screen and (max-width:767px){
    .page-title{
        font-size:20px
    }
}
p{
    font-size:14px
}
.reset-box-banner .box-banner img{
    width:100%
}
.box-banner img{
    max-width:100%;
    height:auto
}
#vtexIdUI-global-loader{
    z-index:999999!important
}
#vtexIdContainer{
    z-index:9999999!important
}
.admake-title,.page-header>.title{
    background:#f2f6f7;
    border-radius:25px 0 0 25px;
    border:0 none
}
.admake-title .title-icon,.page-header>.title .title-icon{
    border-radius:25px;
    width:50px;
    height:50px;
    overflow:hidden;
    position:relative;
    text-align:center;
    background:#013365;
    margin-right:18px
}
.admake-title .title-icon i,.page-header>.title .title-icon i{
    font-size:22px;
    color:#f2f6f7;
    line-height:50px;
    display:block;
    margin:auto
}
.admake-title .title-text,.page-header>.title .title-text{
    font-weight:700;
    font-size:16px;
    color:#013365;
    line-height:20px
}
@media (min-width:768px){
    .admake-title .title-text,.page-header>.title .title-text{
        font-size:18px
    }
}
.page-header>.title{
    font-weight:700;
    font-size:16px;
    color:#013365;
    line-height:20px
}
@media (min-width:768px){
    .page-header>.title{
        font-size:18px
    }
}
.page-header>.title:before{
    content:"\F043";
    display:block;
    color:#000;
    font:900 16px Font Awesome\ 5 Free;
    border-radius:25px;
    width:50px;
    height:50px;
    overflow:hidden;
    position:relative;
    text-align:center;
    background:#013365;
    display:inline-block;
    vertical-align:middle;
    font-size:22px;
    color:#f2f6f7;
    line-height:50px;
    margin:auto 18px auto 0
}
 #cart-coupon-add{
     max-width: 140px;
}
 #payment-data-submit{
    width: 100%;
}

.coupon-fields{
    margin-top: 10px;
}
.coupon-fields .info > span{
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: #fff;
    border: 3px dotted #013365;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #013365;
    font-weight: 400;
}
#btn-add-gift-card,
.coupon-fields #cart-coupon-remove{
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    padding: 0 10px;
    line-height: 45px;
    border: 0 none;
    border-radius: 3px;
    background: #00dd3e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    box-sizing: border-box;
    text-shadow: 0 0 0 transparent!important;
    transition: .3s all;
}
#btn-add-gift-card{
    margin-top: 5px;
}
#show-gift-card-group{
    color: #2EC4B6;
}
.gift-card-section{
    margin-bottom: 5px;
    margin: 10px 0 10px auto;
    padding: 15px;
    width: 421px;
    background: #f4f4f4;
}
    .gift-card-section input{
        background: #fff!important;
    }


.modal-body.default-modal-body.payment-confirmation-modal-body{
    min-height: 100px;
}

#vtexIdUI-global-loader {
  z-index: 999999 !important; }

#vtexIdContainer {
  z-index: 9999999 !important; }

#vtexIdContainer input {
  border: 1px solid #E5E5E5; }
  #vtexIdContainer input:focus {
    border-color: #2EC4B6; }

#vtexIdContainer .modal-header {
  display: block; }

#vtexIdContainer .vtexIdUI-close {
  right: 0;
  margin: 0; }

#vtexIdContainer .vtexIdUI {
  box-shadow: 0 0 0 transparent;
  border-radius: 0; }
  #vtexIdContainer .vtexIdUI a,
  #vtexIdContainer .vtexIdUI .vtexId-link {
    color: #013365; }
    #vtexIdContainer .vtexIdUI a:hover,
    #vtexIdContainer .vtexIdUI .vtexId-link:hover {
      color: #2EC4B6; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-header {
    display: block;
    text-align: center; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list:hover .btn {
    opacity: .4; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn {
    border: 0 none;
    border-radius: 0;
    background: #e6e6e6;
    box-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
    height: 45px;
    width: 100%;
    padding: 0 0 0 45px;
    text-align: left; }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn i {
      width: 45px;
      height: 45px;
      left: 0;
      top: 0;
      text-align: center;
      opacity: 1; }
      #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn i:before {
        content: "\F0E0";
        display: block;
        color: #fff;
        font: 900 25px Font Awesome\ 5 Free; }
        @media only screen and (max-width: 767px) {
          #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn i:before {
            font-size: 20px; } }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn p,
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn span {
      margin: 0;
      color: #fff;
      font-size: 15px;
      line-height: 15px;
      font-weight: 500;
      text-align: left;
      text-transform: none; }
      @media only screen and (max-width: 575px) {
        #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn p,
        #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn span {
          font-size: 11px; } }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .btn:hover {
      opacity: 1; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #loginWithAccessKeyBtn {
    background-color: #3B4850; }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #loginWithAccessKeyBtn i:before {
      content: "\F0E0";
      line-height: 45px; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #vtexIdUI-facebook {
    background-color: #475D98; }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #vtexIdUI-facebook i:before {
      content: "\F082";
      color: #fff;
      font: 300 25px Font Awesome\ 5 Brands;
      line-height: 45px; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #vtexIdUI-google-plus {
    background-color: #E25C4F; }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #vtexIdUI-google-plus i:before {
      content: "\F0D5";
      color: #fff;
      font: 300 25px Font Awesome\ 5 Brands;
      line-height: 45px; }
  #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #loginWithUserAndPasswordBtn {
    background-color: #2EC4B6; }
    #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #loginWithUserAndPasswordBtn:before {
      content: "\F084";
      display: block;
      color: #fff;
      font: 900 25px Font Awesome\ 5 Free;
      width: 45px;
      height: 45px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      text-align: center;
      line-height: 45px; }
      @media only screen and (max-width: 767px) {
        #vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li #loginWithUserAndPasswordBtn:before {
          font-size: 20px; } }

#vtexIdContainer .vtexIdUI #vtexIdUI-auth-selector .modal-body .vtexIdUI-providers-list > li .vtexIdUI-send-email span{
 	padding-left: 45px; 
}