﻿// DEFAULT OPTIONS

// Prefix for Hover class names
$nameSpace: 'hvr' !default;

// Compile with or without classes
$includeClasses: true !default;

// Arrows options
$spaceBetweenTextAndArrows: 2.2em !default;


@mixin hardwareAccel() {
	// Improve performance on mobile/tablet devices
	// Perspective reduces blurryness of text in Chrome
	@include prefixed(transform, perspective(1px) translateZ(0));
}

@mixin improveAntiAlias() {
	// Improve aliasing on mobile/tablet devices
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin forceBlockLevel() {
	// Transforms need to be block-level to work
	display: inline-block;
	vertical-align: middle;
}

@mixin hacks() {
	@include forceBlockLevel();
	@include hardwareAccel();
	@include improveAntiAlias();
}

/* Icon Pop */
@include keyframes(#{$nameSpace}-icon-pop) {
	50% {
		@include prefixed(transform, scale(1.5));
	}
}

@mixin icon-pop {
	@include hacks();
	@include prefixed(transition-duration, $mediumDuration);
	position: relative;
	i, img {
		position: absolute;
		left: 0;
		top: 0;
		line-height: inherit;
		@include prefixed(transform, translateZ(0));
		@include prefixed(transition-duration, $mediumDuration);
		@include prefixed(transition-property, transform);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:hover,
	&:focus,
	&:active {

		i, img{
			@include prefixed(animation-name, #{$nameSpace}-icon-pop);
			@include prefixed(animation-duration, $mediumDuration);
			@include prefixed(animation-timing-function, linear);
			@include prefixed(animation-iteration-count, 1);
		}
	}
}

@mixin underline-from-left ($bg: $colorPrimary, $height: 1px) {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 0;
		background: $bg;
		height: $height;
		@include prefixed(transition-property, "right");
		@include prefixed(transition-duration, $duration);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:hover,
	&:focus,
	&:active,
	&.active {

		&:before {
			right: 0;
		}
	}
}


.hvr-icon-pop {
    @include icon-pop();
}
.hvr-underline-from-left {
	@include underline-from-left();
}




