﻿body {
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: 0;
    &#page-orders{
        font-family: $fontFamily!important;
    }
}
@media (min-width: 1200px){
    body .container {
        max-width: 1170px;
    }
}
a{
    color: $colorSecondary;
    &:hover{
        color: $colorPrimary;
    }
}
h3{
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #013365;
    line-height: 20px;
    margin: 10px 0 15px;
}
.btn {
    @extend %reset-btn;

    &.btn-primary {
        @include btn-default;
    }
    &.btn-success{
        @include btn-default(#00DD3E, #fff);
        font-weight: $semiBold;
    }
    &.btn-secondary{
        @include btn-default(#013365, #fff);
        font-weight: $semiBold;
    }
    &.btn-lg, &.btn-large {
        padding: 15px 40px;
    }
}
.page-title{
    @include title-default($mb: 30px);
    @include media-queries('phone-wide', max){
        font-size: 20px;
    }
}
p{
    @include text-default(14px);
}

/** DEFAULTS **/
.reset-box-banner {
    .box-banner {
        img {
            width: 100%;
        }
    }
}
.box-banner {
    img {
        max-width: 100%;
        height: auto;
    }
}

#vtexIdUI-global-loader{
    z-index: 999999!important;
}
#vtexIdContainer{
    z-index: 9999999!important;
}


.page-header > .title,
.admake-title{
    background: #F2F6F7;
    border-radius: 25px 0 0 25px;
    border: 0 none;
    .title-icon{
        border-radius: 25px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: relative;
        text-align: center;
        background: #013365;
        margin-right: 18px;
        i{
            font-size: 22px;
            color: #F2F6F7;
            line-height: 50px;
            display: block;
            margin: auto;
        }
    }
    .title-text{
        font-weight: $bold;
        font-size: 16px;
        color: #013365;
        line-height: 20px;
        @media( min-width: 768px ){
            font-size: 18px;
        }
    }
}
.page-header > .title{
    font-weight: $bold;
    font-size: 16px;
    color: #013365;
    line-height: 20px;
    @media( min-width: 768px ){
        font-size: 18px;
    }
    &:before{
        @include fontAwesome('\f043', 'fas');
        border-radius: 25px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: relative;
        text-align: center;
        background: #013365;
        display: inline-block;
        vertical-align: middle;
        font-size: 22px;
        color: #F2F6F7;
        line-height: 50px;
        margin: auto 18px auto 0;
    }
}