/**  THEME  **/

%title-default {
    font-weight: $bold;
    text-transform: uppercase;
}

%text-default {
    color: $color4;
    line-height: 19px;
}

%btn-skew {
    @extend %transition;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 3px;
    z-index: -1;
}

%btn-default {
    position: relative;
    z-index: 0;
    padding: 10px;
    text-align: center;
    font-weight: $bold;
    text-transform: uppercase;
}

%flag {
    display: block;
    min-width: 89px;
    font-weight: $regular;
    font-size: 10px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    text-align: center;
    background: #2ec4b6;
    color: #fff;
    margin-bottom: 3px;
    &.super-oferta{
        background: #da2e2f;
    }
    &.lancamento{
        background: #7fd446;
    }
    &.promocao,
    &.percent{
        background: #f1a42f;
    }
    &.percent{
        min-width: 48px;
    }
    &.frete-gratis{
        background: #000;
    }
}

// btn-close
%btn-close {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    transform: rotate(45deg);
}

// bootstrap 4
%d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

%align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

%justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

%flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

/** DEFAULTS **/

// hover-zoom
%hover-zoom {
    @extend %transition;
    &:hover {
        transform: scale(1.02);
    }
}
%hover-zoom-img {
    overflow: hidden;
    display: block;
    img{
        @extend %transition;
    }
    &:hover {
        img{
            transform: scale(1.02);
        }
    }
}

// position fixed all page
%fixed-full {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

//center block
%center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//clear both
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// transition
%transition {
    transition: 300ms all;
}

// sr-only
%sr-only {
    font-size: 0;
    line-height: 0;
    color: transparent;
}

%br-radius-100 {
    border-radius: 100%;
}

// reset-ul
%reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// reset-btn
%reset-btn {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none !important;
    line-height: 1rem;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
}