@charset "UTF-8";
/** VARIABLES **/
/** DEFAULTS **/
/**  THEME  **/
.page-title {
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: #a5a5a5;
  line-height: 19px;
}

.btn.btn-primary, .btn.btn-success, .btn.btn-secondary {
  position: relative;
  z-index: 0;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.body-cart .iframe-credit-card-payment-group .card-flags,
.body-order-form .iframe-credit-card-payment-group .card-flags,
.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags, .container-order-form .step.shipping-data .label-vertical-group, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.body-cart .align-items-center,
.body-order-form .align-items-center,
.body-checkout-confirmation .align-items-center, .body-cart .iframe-credit-card-payment-group .card-flags,
.body-order-form .iframe-credit-card-payment-group .card-flags,
.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags, .container-order-form .step.shipping-data .label-vertical-group, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.body-cart .justify-content-between,
.body-order-form .justify-content-between,
.body-checkout-confirmation .justify-content-between, .container-order-form .step.shipping-data .label-vertical-group, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
}

/** DEFAULTS **/
a, a:link, a:visited, a:hover, a:active, button, input[type="button"], input[type="submit"] {
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.body-cart ul.list-unstyled,
.body-order-form ul.list-unstyled,
.body-checkout-confirmation ul.list-unstyled, .body-cart ul.list-inline,
.body-order-form ul.list-inline,
.body-checkout-confirmation ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  line-height: 1rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0;
}

.body-cart,
.body-order-form,
.body-checkout-confirmation {
  background: #fff;
  padding: 85px 0 0 !important;
}

.body-cart ul.list-unstyled, .body-cart ul.list-inline,
.body-order-form ul.list-unstyled,
.body-order-form ul.list-inline,
.body-checkout-confirmation ul.list-unstyled,
.body-checkout-confirmation ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body-cart .iframe-credit-card-payment-group .card-flags, .body-order-form .iframe-credit-card-payment-group .body-cart .card-flags, .body-checkout-confirmation .iframe-credit-card-payment-group .body-cart .card-flags, .body-cart .container-order-form .step.shipping-data .label-vertical-group, .container-order-form .step.shipping-data .body-cart .label-vertical-group, .body-cart .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-cart .address-item,
.body-cart .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item, .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-cart .address-item,
.body-cart .iframe-credit-card-payment-group .body-order-form .card-flags,
.body-order-form .iframe-credit-card-payment-group .card-flags,
.body-checkout-confirmation .iframe-credit-card-payment-group .body-order-form .card-flags,
.body-order-form .container-order-form .step.shipping-data .label-vertical-group,
.container-order-form .step.shipping-data .body-order-form .label-vertical-group,
.body-order-form .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-order-form .address-item,
.body-order-form .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-order-form .address-item,
.body-cart .iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,
.body-order-form .iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,
.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,
.body-checkout-confirmation .container-order-form .step.shipping-data .label-vertical-group,
.container-order-form .step.shipping-data .body-checkout-confirmation .label-vertical-group,
.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-checkout-confirmation .address-item,
.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-checkout-confirmation .address-item {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.body-cart .align-items-center, .body-cart .iframe-credit-card-payment-group .card-flags, .body-order-form .iframe-credit-card-payment-group .body-cart .card-flags, .body-checkout-confirmation .iframe-credit-card-payment-group .body-cart .card-flags, .body-cart .container-order-form .step.shipping-data .label-vertical-group, .container-order-form .step.shipping-data .body-cart .label-vertical-group, .body-cart .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-cart .address-item,
.body-cart .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item, .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-cart .address-item,
.body-order-form .align-items-center,
.body-cart .iframe-credit-card-payment-group .body-order-form .card-flags,
.body-order-form .iframe-credit-card-payment-group .card-flags,
.body-checkout-confirmation .iframe-credit-card-payment-group .body-order-form .card-flags,
.body-order-form .container-order-form .step.shipping-data .label-vertical-group,
.container-order-form .step.shipping-data .body-order-form .label-vertical-group,
.body-order-form .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-order-form .address-item,
.body-order-form .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-order-form .address-item,
.body-checkout-confirmation .align-items-center,
.body-cart .iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,
.body-order-form .iframe-credit-card-payment-group .body-checkout-confirmation .card-flags,
.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags,
.body-checkout-confirmation .container-order-form .step.shipping-data .label-vertical-group,
.container-order-form .step.shipping-data .body-checkout-confirmation .label-vertical-group,
.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-checkout-confirmation .address-item,
.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-checkout-confirmation .address-item {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.body-cart .justify-content-between, .body-cart .container-order-form .step.shipping-data .label-vertical-group, .container-order-form .step.shipping-data .body-cart .label-vertical-group, .body-cart .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-cart .address-item,
.body-cart .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item, .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-cart .address-item,
.body-order-form .justify-content-between,
.body-order-form .container-order-form .step.shipping-data .label-vertical-group,
.container-order-form .step.shipping-data .body-order-form .label-vertical-group,
.body-order-form .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-order-form .address-item,
.body-order-form .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-order-form .address-item,
.body-checkout-confirmation .justify-content-between,
.body-checkout-confirmation .container-order-form .step.shipping-data .label-vertical-group,
.container-order-form .step.shipping-data .body-checkout-confirmation .label-vertical-group,
.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .body-checkout-confirmation .address-item,
.body-checkout-confirmation .container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .body-checkout-confirmation .address-item {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
}

.body-cart ul.list-inline li,
.body-order-form ul.list-inline li,
.body-checkout-confirmation ul.list-inline li {
  display: inline-block;
}

.body-cart .modal-body *,
.body-order-form .modal-body *,
.body-checkout-confirmation .modal-body * {
  color: #fff;
}

.body-cart .modal-body .btn,
.body-order-form .modal-body .btn,
.body-checkout-confirmation .modal-body .btn {
  background: #fff;
  margin: 10px 0 0;
  color: #4c4c4c;
  border: 0 none;
  border-radius: 6px;
}

.body-cart .modal-body .btn:hover, .body-cart .modal-body .btn:active, .body-cart .modal-body .btn:focus,
.body-order-form .modal-body .btn:hover,
.body-order-form .modal-body .btn:active,
.body-order-form .modal-body .btn:focus,
.body-checkout-confirmation .modal-body .btn:hover,
.body-checkout-confirmation .modal-body .btn:active,
.body-checkout-confirmation .modal-body .btn:focus {
  background: #fff;
  border: 0 none;
  color: #111;
}

.body-cart .sr-only,
.body-order-form .sr-only,
.body-checkout-confirmation .sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.body-cart .align-self-center,
.body-order-form .align-self-center,
.body-checkout-confirmation .align-self-center {
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
      align-self: center !important;
}

.body-cart .d-flex,
.body-order-form .d-flex,
.body-checkout-confirmation .d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.body-cart .d-none,
.body-order-form .d-none,
.body-checkout-confirmation .d-none {
  display: none !important;
}

@media (min-width: 768px) {
  .body-cart .d-md-block,
  .body-order-form .d-md-block,
  .body-checkout-confirmation .d-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .body-cart .d-lg-flex,
  .body-order-form .d-lg-flex,
  .body-checkout-confirmation .d-lg-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .body-cart .d-md-flex,
  .body-order-form .d-md-flex,
  .body-checkout-confirmation .d-md-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
}

@media (min-width: 576px) {
  .body-cart .d-sm-flex,
  .body-order-form .d-sm-flex,
  .body-checkout-confirmation .d-sm-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 767px) {
  .body-cart .hidden-xs,
  .body-order-form .hidden-xs,
  .body-checkout-confirmation .hidden-xs {
    display: none !important;
  }
  .body-cart body .container,
  .body-order-form body .container,
  .body-checkout-confirmation body .container {
    padding: 0 15px !important;
  }
}

@media only screen and (max-width: 991px) {
  .body-cart .hidden-sm,
  .body-order-form .hidden-sm,
  .body-checkout-confirmation .hidden-sm {
    display: none !important;
  }
}

.body-cart .full-cart .cart table tbody tr,
.body-order-form .full-cart .cart table tbody tr,
.body-checkout-confirmation .full-cart .cart table tbody tr {
  min-height: 120px;
}

.body-cart .full-cart .cart table tbody tr + tr,
.body-order-form .full-cart .cart table tbody tr + tr,
.body-checkout-confirmation .full-cart .cart table tbody tr + tr {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

.body-cart .iframe-credit-card-payment-group h5,
.body-order-form .iframe-credit-card-payment-group h5,
.body-checkout-confirmation .iframe-credit-card-payment-group h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #3B4850;
}

.body-cart .iframe-credit-card-payment-group input, .body-cart .iframe-credit-card-payment-group label, .body-cart .iframe-credit-card-payment-group select,
.body-order-form .iframe-credit-card-payment-group input,
.body-order-form .iframe-credit-card-payment-group label,
.body-order-form .iframe-credit-card-payment-group select,
.body-checkout-confirmation .iframe-credit-card-payment-group input,
.body-checkout-confirmation .iframe-credit-card-payment-group label,
.body-checkout-confirmation .iframe-credit-card-payment-group select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-cart .iframe-credit-card-payment-group input, .body-cart .iframe-credit-card-payment-group select,
.body-order-form .iframe-credit-card-payment-group input,
.body-order-form .iframe-credit-card-payment-group select,
.body-checkout-confirmation .iframe-credit-card-payment-group input,
.body-checkout-confirmation .iframe-credit-card-payment-group select {
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
}

.body-cart .iframe-credit-card-payment-group .add-on,
.body-order-form .iframe-credit-card-payment-group .add-on,
.body-checkout-confirmation .iframe-credit-card-payment-group .add-on {
  height: 35px;
  border: 1px solid #EDEBEA;
  background: #EDEBEA;
  color: #3B4850;
  padding: 0 5px;
  line-height: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: 0 0 0 transparent;
}

.body-cart .iframe-credit-card-payment-group input[type="checkbox"],
.body-cart .iframe-credit-card-payment-group input[type="radio"],
.body-order-form .iframe-credit-card-payment-group input[type="checkbox"],
.body-order-form .iframe-credit-card-payment-group input[type="radio"],
.body-checkout-confirmation .iframe-credit-card-payment-group input[type="checkbox"],
.body-checkout-confirmation .iframe-credit-card-payment-group input[type="radio"] {
  height: auto;
  line-height: none;
  margin-right: 5px;
}

.body-cart .iframe-credit-card-payment-group label,
.body-order-form .iframe-credit-card-payment-group label,
.body-checkout-confirmation .iframe-credit-card-payment-group label {
  font-size: 13px;
  color: #3B4850;
  font-weight: 500;
  line-height: 20px;
}

.body-cart .iframe-credit-card-payment-group .PaymentCardCVV input, .body-cart .iframe-credit-card-payment-group .PaymentCardCVV label,
.body-order-form .iframe-credit-card-payment-group .PaymentCardCVV input,
.body-order-form .iframe-credit-card-payment-group .PaymentCardCVV label,
.body-checkout-confirmation .iframe-credit-card-payment-group .PaymentCardCVV input,
.body-checkout-confirmation .iframe-credit-card-payment-group .PaymentCardCVV label {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0;
  float: none;
}

.body-cart .iframe-credit-card-payment-group .CardForm > div, .body-cart .iframe-credit-card-payment-group .CardForm > p, .body-cart .iframe-credit-card-payment-group .CardForm .PaymentCardHolderName,
.body-order-form .iframe-credit-card-payment-group .CardForm > div,
.body-order-form .iframe-credit-card-payment-group .CardForm > p,
.body-order-form .iframe-credit-card-payment-group .CardForm .PaymentCardHolderName,
.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm > div,
.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm > p,
.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm .PaymentCardHolderName {
  margin-bottom: 10px;
}

.body-cart .iframe-credit-card-payment-group .CardForm .PaymentCardFlags,
.body-order-form .iframe-credit-card-payment-group .CardForm .PaymentCardFlags,
.body-checkout-confirmation .iframe-credit-card-payment-group .CardForm .PaymentCardFlags {
  margin: 10px 0 20px;
}

.body-cart .iframe-credit-card-payment-group .card-flags input,
.body-order-form .iframe-credit-card-payment-group .card-flags input,
.body-checkout-confirmation .iframe-credit-card-payment-group .card-flags input {
  display: none;
}

.body-cart .iframe-credit-card-payment-group .ChangeNumberOfPayments a,
.body-order-form .iframe-credit-card-payment-group .ChangeNumberOfPayments a,
.body-checkout-confirmation .iframe-credit-card-payment-group .ChangeNumberOfPayments a {
  color: #013365;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@-webkit-keyframes alertInput {
  0% {
    border-color: #EDEBEA;
  }
  100% {
    border-color: #CF3030;
  }
}

@keyframes alertInput {
  0% {
    border-color: #EDEBEA;
  }
  100% {
    border-color: #CF3030;
  }
}

.body-cart #orderform-title,
.body-order-form #orderform-title,
.body-checkout-confirmation #orderform-title {
  display: none !important;
}

.body-cart #header-checkout,
.body-order-form #header-checkout,
.body-checkout-confirmation #header-checkout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 13px 0;
  z-index: 98;
  background: #F2F6F7;
}

@media (max-width: 767px) {
  .body-cart #header-checkout .col-logo,
  .body-order-form #header-checkout .col-logo,
  .body-checkout-confirmation #header-checkout .col-logo {
    width: 100%;
  }
}

.body-cart #header-checkout .col-logo a,
.body-order-form #header-checkout .col-logo a,
.body-checkout-confirmation #header-checkout .col-logo a {
  display: block;
}

.body-cart #header-checkout .col-logo a img,
.body-order-form #header-checkout .col-logo a img,
.body-checkout-confirmation #header-checkout .col-logo a img {
  margin: auto;
  display: table;
}

@media (min-width: 768px) {
  .body-cart #header-checkout .col-contact,
  .body-order-form #header-checkout .col-contact,
  .body-checkout-confirmation #header-checkout .col-contact {
    display: block !important;
  }
}

.body-cart #header-checkout .col-contact a, .body-cart #header-checkout .col-contact li,
.body-order-form #header-checkout .col-contact a,
.body-order-form #header-checkout .col-contact li,
.body-checkout-confirmation #header-checkout .col-contact a,
.body-checkout-confirmation #header-checkout .col-contact li {
  font-size: 13px;
  color: #8E8786;
  line-height: 20px;
}

.body-cart #header-checkout .col-contact a i, .body-cart #header-checkout .col-contact li i,
.body-order-form #header-checkout .col-contact a i,
.body-order-form #header-checkout .col-contact li i,
.body-checkout-confirmation #header-checkout .col-contact a i,
.body-checkout-confirmation #header-checkout .col-contact li i {
  margin-right: 4px;
  color: #D1CCCB;
}

.body-cart #header-checkout .col-contact a i.fa-whatsapp, .body-cart #header-checkout .col-contact li i.fa-whatsapp,
.body-order-form #header-checkout .col-contact a i.fa-whatsapp,
.body-order-form #header-checkout .col-contact li i.fa-whatsapp,
.body-checkout-confirmation #header-checkout .col-contact a i.fa-whatsapp,
.body-checkout-confirmation #header-checkout .col-contact li i.fa-whatsapp {
  color: #91BD5D;
}

.body-cart #header-checkout .col-contact a:hover,
.body-order-form #header-checkout .col-contact a:hover,
.body-checkout-confirmation #header-checkout .col-contact a:hover {
  color: #746e6d;
}

.body-cart #header-checkout .col-contact li,
.body-order-form #header-checkout .col-contact li,
.body-checkout-confirmation #header-checkout .col-contact li {
  margin-left: 15px;
}

.body-cart #footer-checkout,
.body-order-form #footer-checkout,
.body-checkout-confirmation #footer-checkout {
  margin-top: 30px;
  position: relative;
  z-index: 10000;
}

.body-cart #footer-checkout #footer-institucional,
.body-order-form #footer-checkout #footer-institucional,
.body-checkout-confirmation #footer-checkout #footer-institucional {
  padding: 30px 0;
  background: #F2F6F7;
}

.body-cart #footer-checkout #footer-institucional h5,
.body-order-form #footer-checkout #footer-institucional h5,
.body-checkout-confirmation #footer-checkout #footer-institucional h5 {
  font-weight: 700;
  font-size: 16px;
  color: #013365;
  line-height: 20px;
  margin: 0 0 10px;
}

.body-cart #footer-checkout #footer-institucional .container,
.body-order-form #footer-checkout #footer-institucional .container,
.body-checkout-confirmation #footer-checkout #footer-institucional .container {
  padding: 0 15px !important;
}

@media (max-width: 767px) {
  .body-cart #footer-checkout #footer-institucional .col-contacts,
  .body-order-form #footer-checkout #footer-institucional .col-contacts,
  .body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts {
    margin-bottom: 25px;
  }
}

.body-cart #footer-checkout #footer-institucional .col-contacts li,
.body-order-form #footer-checkout #footer-institucional .col-contacts li,
.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts li {
  margin-right: 20px;
}

.body-cart #footer-checkout #footer-institucional .col-contacts .icon,
.body-cart #footer-checkout #footer-institucional .col-contacts .details,
.body-order-form #footer-checkout #footer-institucional .col-contacts .icon,
.body-order-form #footer-checkout #footer-institucional .col-contacts .details,
.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .icon,
.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .details {
  display: inline-block;
  vertical-align: top;
}

.body-cart #footer-checkout #footer-institucional .col-contacts .icon,
.body-order-form #footer-checkout #footer-institucional .col-contacts .icon,
.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .icon {
  min-width: 23px;
}

.body-cart #footer-checkout #footer-institucional .col-contacts .icon i,
.body-order-form #footer-checkout #footer-institucional .col-contacts .icon i,
.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .icon i {
  font-size: 20px;
  color: #2EC4B6;
  line-height: 20px;
  margin-right: 5px;
  min-width: 20px;
  text-align: center;
}

.body-cart #footer-checkout #footer-institucional .col-contacts .details,
.body-order-form #footer-checkout #footer-institucional .col-contacts .details,
.body-checkout-confirmation #footer-checkout #footer-institucional .col-contacts .details {
  font-size: 13px;
  color: #3B4850;
  line-height: 20px;
}

.body-cart #footer-checkout #footer-copyright,
.body-order-form #footer-checkout #footer-copyright,
.body-checkout-confirmation #footer-checkout #footer-copyright {
  padding: 15px 0;
}

.body-cart #footer-checkout #footer-copyright p,
.body-order-form #footer-checkout #footer-copyright p,
.body-checkout-confirmation #footer-checkout #footer-copyright p {
  font-size: 12px;
  color: #3B4850;
  letter-spacing: 0;
}

.body-cart #footer-checkout #footer-copyright ul li,
.body-order-form #footer-checkout #footer-copyright ul li,
.body-checkout-confirmation #footer-checkout #footer-copyright ul li {
  vertical-align: middle;
}

.body-cart #footer-checkout #footer-copyright ul a,
.body-order-form #footer-checkout #footer-copyright ul a,
.body-checkout-confirmation #footer-checkout #footer-copyright ul a {
  display: block;
}

.body-cart .container-cart, .body-cart .container-order-form,
.body-order-form .container-cart,
.body-order-form .container-order-form,
.body-checkout-confirmation .container-cart,
.body-checkout-confirmation .container-order-form {
  padding: 0 15px !important;
}

@media (min-width: 1200px) {
  .body-cart .container-cart, .body-cart .container-order-form,
  .body-order-form .container-cart,
  .body-order-form .container-order-form,
  .body-checkout-confirmation .container-cart,
  .body-checkout-confirmation .container-order-form {
    width: 1170px;
  }
}

.body-cart .lookatme,
.body-order-form .lookatme,
.body-checkout-confirmation .lookatme {
  background: transparent;
}

.body-cart .item-unavailable,
.body-order-form .item-unavailable,
.body-checkout-confirmation .item-unavailable {
  background-color: #e5e5e4;
  color: #7d7d7d;
}

.body-cart .item-unavailable .top-arrow,
.body-order-form .item-unavailable .top-arrow,
.body-checkout-confirmation .item-unavailable .top-arrow {
  border-bottom-color: #e5e5e4;
}

.body-cart .item-unavailable .item-unavailable-message,
.body-order-form .item-unavailable .item-unavailable-message,
.body-checkout-confirmation .item-unavailable .item-unavailable-message {
  padding: 15px 0;
}

.body-cart #header-login,
.body-order-form #header-login,
.body-checkout-confirmation #header-login {
  padding: 15px 0;
  z-index: 9999999;
}

.body-cart #header-login .brand,
.body-order-form #header-login .brand,
.body-checkout-confirmation #header-login .brand {
  line-height: 0;
}

.body-cart #header-login .brand a,
.body-order-form #header-login .brand a,
.body-checkout-confirmation #header-login .brand a {
  display: block;
}

.body-cart #header-login #phone-info,
.body-order-form #header-login #phone-info,
.body-checkout-confirmation #header-login #phone-info {
  font-size: 18px;
  color: #013365;
  font-weight: 500;
  line-height: 27px;
}

.body-cart #header-login #phone-info i,
.body-order-form #header-login #phone-info i,
.body-checkout-confirmation #header-login #phone-info i {
  margin-right: 5px;
}

.body-cart #footer-login,
.body-order-form #footer-login,
.body-checkout-confirmation #footer-login {
  border-top: 1px solid #EDEBEA;
  z-index: 9999;
}

.body-cart .vtex-front-messages-placeholder,
.body-order-form .vtex-front-messages-placeholder,
.body-checkout-confirmation .vtex-front-messages-placeholder {
  z-index: 99999999999;
}

.body-cart #btn-clear-cart,
.body-order-form #btn-clear-cart,
.body-checkout-confirmation #btn-clear-cart {
  height: 30px;
  text-shadow: 0 0 0 transparent;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 30px;
}

.body-cart #btn-clear-cart i,
.body-order-form #btn-clear-cart i,
.body-checkout-confirmation #btn-clear-cart i {
  margin-right: 6px;
}

.body-cart #show-more,
.body-order-form #show-more,
.body-checkout-confirmation #show-more {
  margin: 10px auto;
  width: 170px;
  color: #666666;
  background: #EDEBEA;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  height: 40px;
  padding: 0;
  line-height: 40px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.body-cart #show-more:hover,
.body-order-form #show-more:hover,
.body-checkout-confirmation #show-more:hover {
  color: #404040;
  background: #cac4c1;
}

.body-cart #cart-coupon,
.body-order-form #cart-coupon,
.body-checkout-confirmation #cart-coupon {
  height: 45px;
}

@media (max-width: 767px) {
  .body-cart #cart-coupon-add,
  .body-order-form #cart-coupon-add,
  .body-checkout-confirmation #cart-coupon-add {
    width: 100%;
  }
}

.body-cart #cart-coupon-add,
.body-cart #cart-shipping-calculate,
.body-order-form #cart-coupon-add,
.body-order-form #cart-shipping-calculate,
.body-checkout-confirmation #cart-coupon-add,
.body-checkout-confirmation #cart-shipping-calculate {
  height: 45px;
  padding: 0 10px;
  line-height: 45px;
  border: 0 none;
  border-radius: 0;
  background: #00DD3E;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: 0 0 0 transparent !important;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.body-cart #cart-coupon-add:hover,
.body-cart #cart-shipping-calculate:hover,
.body-order-form #cart-coupon-add:hover,
.body-order-form #cart-shipping-calculate:hover,
.body-checkout-confirmation #cart-coupon-add:hover,
.body-checkout-confirmation #cart-shipping-calculate:hover {
  background: #009129;
}

.body-cart #cart-coupon-add,
.body-order-form #cart-coupon-add,
.body-checkout-confirmation #cart-coupon-add {
  margin-left: 15px;
}

.body-cart #cart-shipping-calculate,
.body-order-form #cart-shipping-calculate,
.body-checkout-confirmation #cart-shipping-calculate {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.body-cart #cart-shipping-calculate:before,
.body-order-form #cart-shipping-calculate:before,
.body-checkout-confirmation #cart-shipping-calculate:before {
  display: block;
  content: "OK";
  color: #fff;
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
}

.body-cart .shipping-fieldset,
.body-order-form .shipping-fieldset,
.body-checkout-confirmation .shipping-fieldset {
  text-align: right;
}

.body-cart #summary-postal-code,
.body-order-form #summary-postal-code,
.body-checkout-confirmation #summary-postal-code {
  width: 100px;
  max-width: 100px;
  height: 45px;
}

.body-cart .orderform-template,
.body-order-form .orderform-template,
.body-checkout-confirmation .orderform-template {
  z-index: 2;
}

.body-cart .cart-template,
.body-order-form .cart-template,
.body-checkout-confirmation .cart-template {
  z-index: 3;
}

.body-cart .btn-success,
.body-order-form .btn-success,
.body-checkout-confirmation .btn-success {
  line-height: 53px;
  display: block;
  padding: 0 !important;
  height: 53px;
  background: #00DD3E;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  border-radius: 3px;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}

.body-cart .btn-success:hover,
.body-order-form .btn-success:hover,
.body-checkout-confirmation .btn-success:hover {
  background: #009129;
}

.body-cart .btn-submit-wrapper .btn-success,
.body-order-form .btn-submit-wrapper .btn-success,
.body-checkout-confirmation .btn-submit-wrapper .btn-success {
  width: 100%;
}

.body-cart input[type="text"], .body-cart input[type="email"], .body-cart input[type="phone"], .body-cart input[type="tel"], .body-cart input[type="password"], .body-cart textarea, .body-cart select, .body-cart .form-control,
.body-order-form input[type="text"],
.body-order-form input[type="email"],
.body-order-form input[type="phone"],
.body-order-form input[type="tel"],
.body-order-form input[type="password"],
.body-order-form textarea,
.body-order-form select,
.body-order-form .form-control,
.body-checkout-confirmation input[type="text"],
.body-checkout-confirmation input[type="email"],
.body-checkout-confirmation input[type="phone"],
.body-checkout-confirmation input[type="tel"],
.body-checkout-confirmation input[type="password"],
.body-checkout-confirmation textarea,
.body-checkout-confirmation select,
.body-checkout-confirmation .form-control {
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F2F6F7;
  height: 45px;
  border: 0 none;
  -webkit-box-shadow: 0 0 0 none !important;
          box-shadow: 0 0 0 none !important;
}

.body-cart label.checkbox input, .body-cart label.checkbox span,
.body-order-form label.checkbox input,
.body-order-form label.checkbox span,
.body-checkout-confirmation label.checkbox input,
.body-checkout-confirmation label.checkbox span {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 0;
}

.body-cart select,
.body-order-form select,
.body-checkout-confirmation select {
  height: 50px;
}

.body-cart h5,
.body-order-form h5,
.body-checkout-confirmation h5 {
  font-size: 16px;
  float: none;
  display: block;
  margin: 5px 0 10px;
  font-weight: 500;
  color: #3B4850;
  line-height: 20px;
}

.checkout-container {
  padding-top: 25px;
}

.container-cart h1,
.container-order-form h1 {
  font-size: 25px;
  color: #3B4850;
  line-height: 30px;
  font-weight: 500;
  margin: 10px 0 15px;
}

.container-cart .step, .container-cart .cart, .container-cart .totalizers {
  border: 0 none;
  padding: 0;
}

.container-cart .cart-items {
  position: relative;
  margin-bottom: 25px;
}

.container-cart .cart-items th {
  background: #F2F6F7;
  font-size: 13px;
  color: #013365;
  font-weight: 700;
  line-height: 13px;
  padding: 12px 5px;
  border: 0 none !important;
  border-top: 0 none !important;
}

.container-cart .cart-items th.product {
  padding-left: 20px;
}

.container-cart .item-attachments-header strong {
  padding: 10px 15px;
}

.container-cart .item-attachments-header:after {
  display: none;
}

.container-cart .item-attachments-item-fields input {
  -webkit-animation: alertInput 600ms linear 1s 6 alternate;
          animation: alertInput 600ms linear 1s 6 alternate;
}

.container-cart .product-item td {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container-cart .product-item td {
    border-bottom: 1px solid #EDEBEA;
  }
}

.container-cart .product-item td.product-name > a {
  font-size: 12px;
  color: #3B4850;
  line-height: 18px;
  display: block;
}

.container-cart .product-item td.product-name > a:hover {
  color: black;
}

.container-cart .product-item td.product-name hr {
  border: #EDEBEA;
  background: #EDEBEA;
}

.container-cart .product-item td.product-name .clone-item {
  background: #EDEBEA;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
  border: 0 none;
  color: #666666;
  text-transform: uppercase;
  font-size: 10px;
  text-shadow: 0 0 0 transparent;
  font-weight: 500;
}

.container-cart .product-item td.product-name .clone-item:hover {
  color: #3B4850;
}

.container-cart .product-item td.shipping-date span, .container-cart .product-item td.shipping-date div {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
  font-weight: 400;
}

.container-cart .product-item td.product-price .list-price {
  font-size: 12px;
  color: #666666;
  line-height: 14px;
  text-decoration: line-through;
}

.container-cart .product-item td.product-price .best-price {
  font-size: 14px;
  color: #3B4850;
  font-weight: 500;
  line-height: 16px;
}

.container-cart .product-item td.product-price .best-price .new-product-real-price-per-unit {
  font-size: 10px;
}

.container-cart .product-item td.quantity .item-quantity-change {
  background: transparent;
}

.container-cart .product-item td.quantity .item-quantity-change .icon-minus-sign:before,
.container-cart .product-item td.quantity .item-quantity-change .icon-plus-sign:before {
  color: #666666;
}

.container-cart .product-item td.quantity .item-quantity-change .icon-minus-sign:before {
  content: "-";
  font-size: 18px;
}

.container-cart .product-item td.quantity .item-quantity-change .icon-plus-sign:before {
  content: "+";
  font-size: 16px;
}

.container-cart .product-item td.quantity input {
  background: transparent;
  border: 0 none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  height: 30px;
  font-size: 14px;
  color: #3B4850;
  font-weight: 400;
  text-align: center;
  min-width: 50px;
}

@media (min-width: 768px) {
  .container-cart .product-item td.quantity input {
    min-width: 60px;
  }
}

.container-cart .product-item td.quantity .item-unit-label {
  font-size: 12px;
  font-weight: 400;
  color: #013365;
  line-height: 14px;
}

.container-cart .product-item td.quantity-price .total-selling-price {
  color: #DF6400;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
}

.container-cart .product-item td .item-link-remove .icon-remove {
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.container-cart .product-item td .item-link-remove .icon-remove:before {
  content: "";
  display: block;
  color: #000;
  font: 400 14px Font Awesome\ 5 Free;
  color: #435B9F;
}

.container-cart .product-item td .item-link-remove:hover .icon-remove {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media (max-width: 767px) {
  .container-cart .coupon.summary-coupon {
    width: 100%;
  }
}

.container-cart .coupon.summary-coupon, .container-cart .coupon.summary-coupon .coupon-data {
  float: none !important;
}

.container-cart .coupon.summary-coupon .link-coupon-add {
  width: 270px;
  height: 45px;
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 45px;
  color: #8E8786;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  background: #FFFFFF;
  border: 1px solid #EDEBEA;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .container-cart .coupon.summary-coupon .link-coupon-add {
    width: 98%;
  }
}

.container-cart .coupon.summary-coupon .link-coupon-add:before {
  content: "";
  display: block;
  color: #000;
  font: 900 16px Font Awesome\ 5 Free;
  display: inline-block;
  font-size: 13px;
  color: #8E8786;
  margin-right: 5px;
}

.container-cart .coupon.summary-coupon .link-coupon-add:hover {
  color: #746e6d;
}

.container-cart .cart-totalizers {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container-cart .cart-totalizers {
    max-width: 280px;
  }
}

.container-cart .cart-totalizers #shipping-calculate-link {
  text-decoration: underline !important;
}

.container-cart .cart-totalizers tbody td, .container-cart .cart-totalizers tfoot td {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  line-height: 20px;
}

.container-cart .cart-totalizers tbody td.info, .container-cart .cart-totalizers tfoot td.info {
  text-align: left;
}

.container-cart .cart-totalizers tbody td.monetary, .container-cart .cart-totalizers tfoot td.monetary {
  text-align: right;
}

.container-cart .cart-totalizers tbody td.empty, .container-cart .cart-totalizers tfoot td.empty {
  width: 0;
  padding: 0;
}

.container-cart .cart-totalizers tfoot td.monetary {
  color: #DF6400;
  font-weight: 800;
}

.container-cart .empty-cart-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  color: #666666;
  margin: 20px 0;
}

.container-cart .empty-cart-message p {
  color: #3B4850;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.container-cart .empty-cart-links .link-choose-products {
  color: transparent;
  font-size: 0;
  line-height: 0;
  background: #EDEBEA;
  height: 35px;
  width: 100px;
}

.container-cart .empty-cart-links .link-choose-products:before {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  content: 'Voltar';
  color: #666666;
  font-size: 10px;
  font-weight: 500;
  line-height: 35px;
  display: block;
}

.container-cart .empty-cart-links .link-choose-products:hover {
  background: #cac4c1;
}

.container-cart .empty-cart-links .link-choose-products:hover:before {
  color: #3B4850;
}

.container-cart .cart-links.cart-links-bottom {
  float: none !important;
}

@media (min-width: 768px) {
  .container-cart .cart-links.cart-links-bottom {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
            justify-content: space-between !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
            align-items: center !important;
  }
}

.container-cart .cart-links.cart-links-bottom[style*="display: none;"] {
  display: none !important;
}

.container-cart .cart-links.cart-links-bottom:before, .container-cart .cart-links.cart-links-bottom:after {
  display: none;
}

.container-cart .cart-links.cart-links-bottom > span {
  max-width: 320px;
}

.container-cart .cart-links.cart-links-bottom a {
  display: block;
  width: 270px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #8E8786;
  text-transform: uppercase;
  border: 0 none;
  border-radius: 3px;
  background: #EDEBEA;
  text-align: center;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

@media (max-width: 767px) {
  .container-cart .cart-links.cart-links-bottom a {
    width: 100%;
    margin: 0 0 15px;
  }
}

.container-cart .cart-links.cart-links-bottom a:hover {
  background: #e1dedc;
}

.container-cart .cart-links.cart-links-bottom a#cart-to-orderform {
  background: #00DD3E;
  color: transparent;
  line-height: 0;
  font-size: 0;
  position: relative;
}

.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:after {
  content: "";
  display: block;
  color: #000;
  font: 900 16px Font Awesome\ 5 Free;
  margin-left: 15px;
}

.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:before {
  content: "CONTINUAR";
}

.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:after, .container-cart .cart-links.cart-links-bottom a#cart-to-orderform:before {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.container-cart .cart-links.cart-links-bottom a#cart-to-orderform:hover {
  background: #00c437;
}

.client-pre-email {
  border: 0 none;
}

.client-pre-email .link-cart {
  margin: 20px;
}

.client-pre-email .pre-email {
  max-width: 525px;
  display: block;
  margin: 70px auto 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.client-pre-email .pre-email .client-pre-email-h {
  margin: 0 0 35px;
  line-height: 0;
}

.client-pre-email .pre-email .client-pre-email-h label {
  margin: 0;
  line-height: 0;
}

.client-pre-email .pre-email .client-pre-email-h label span {
  font-size: 18px;
  color: #666666;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.client-pre-email .pre-email .client-pre-email-h label small {
  font-size: 15px;
  color: #8E8786;
  line-height: 22px;
  font-weight: 400;
  margin-top: 5px;
  display: block;
}

.client-pre-email .pre-email .client-email {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
}

.client-pre-email .pre-email .client-email input {
  width: 100%;
  height: 53px;
  border-radius: 3px;
  display: block;
  padding-right: 135px;
  background: #FFFFFF;
  border: 1px solid #EDEBEA;
  -webkit-box-shadow: 0 0 none !important;
          box-shadow: 0 0 none !important;
}

.client-pre-email .pre-email .client-email button {
  width: 135px;
  position: absolute;
  background: #00DD3E;
  right: 0;
  top: 0;
  height: 53px;
  border-radius: 0;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 767px) {
  .client-pre-email .pre-email .client-email button {
    width: 100%;
    position: relative;
  }
}

.client-pre-email .pre-email .client-email button span:after {
  content: "";
  display: block;
  color: #000;
  font: 900 16px Font Awesome\ 5 Free;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
}

.client-pre-email .emailInfo {
  max-width: 525px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 30px;
  width: 100%;
  background: #fff;
  border: 1px solid #EDEBEA;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.03);
          box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.03);
}

.client-pre-email .emailInfo h3, .client-pre-email .emailInfo ul {
  max-width: 376px;
  display: block;
  margin: auto;
}

.client-pre-email .emailInfo h3 {
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

.client-pre-email .emailInfo ul li {
  padding: 3px 0;
}

.client-pre-email .emailInfo ul li i {
  font-size: 14px;
  color: #435B9F !important;
}

.client-pre-email .emailInfo ul li span {
  font-size: 13px;
  color: #8E8786;
  line-height: 16px;
  font-weight: 400;
}

.client-pre-email .emailInfo .icon-lock {
  display: none;
}

.container-order-form .step {
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #EDEBEA;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.03);
          box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.03);
}

.container-order-form .step.shipping-data .label-vertical-group {
  padding: 5px 0;
  background: #fff;
  border: 0 none;
}

.container-order-form .step.shipping-data .label-vertical-group > span, .container-order-form .step.shipping-data .label-vertical-group i {
  display: block;
  float: none !important;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}

.container-order-form .step.shipping-data .label-vertical-group span {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
}

.container-order-form .step.shipping-data .label-vertical-group i {
  color: #666666;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.container-order-form .step.shipping-data .label-vertical-group:hover i, .container-order-form .step.shipping-data .label-vertical-group.active i {
  color: #013365;
}

.container-order-form .step.accordion-group .accordion-heading {
  padding: 15px;
  margin: -15px -15px 15px;
  background: #F2F6F7;
}

.container-order-form .step.accordion-group .accordion-heading .accordion-toggle {
  padding: 0;
  line-height: 15px;
}

.container-order-form .step.accordion-group .accordion-heading .accordion-toggle i {
  font-size: 14px;
  color: #013365;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 15px;
}

.container-order-form .step.accordion-group .accordion-heading .accordion-toggle span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #013365;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.container-order-form .step.accordion-group .accordion-inner {
  padding: 0;
}

.container-order-form .step.accordion-group .accordion-inner, .container-order-form .step.accordion-group .accordion-inner p, .container-order-form .step.accordion-group .accordion-inner a,
.container-order-form .step.accordion-group .accordion-body,
.container-order-form .step.accordion-group .accordion-body p,
.container-order-form .step.accordion-group .accordion-body a {
  font-size: 12px;
  color: #666666;
  line-height: 14px;
  font-weight: 300;
}

.container-order-form .step.accordion-group .accordion-inner p,
.container-order-form .step.accordion-group .accordion-body p {
  margin-bottom: 10px;
}

.container-order-form .step.accordion-group .accordion-inner a,
.container-order-form .step.accordion-group .accordion-body a {
  color: #666666;
  font-size: 14px;
}

.container-order-form .step.accordion-group .accordion-inner a:hover,
.container-order-form .step.accordion-group .accordion-body a:hover {
  color: #000d19;
}

.container-order-form .step.accordion-group .accordion-inner a.link-edit,
.container-order-form .step.accordion-group .accordion-body a.link-edit {
  color: #CF3030;
}

.container-order-form .step.accordion-group .accordion-inner a.link-edit:hover,
.container-order-form .step.accordion-group .accordion-body a.link-edit:hover {
  color: #912222;
}

.container-order-form .step.accordion-group .accordion-inner label, .container-order-form .step.accordion-group .accordion-inner label span,
.container-order-form .step.accordion-group .accordion-body label,
.container-order-form .step.accordion-group .accordion-body label span {
  font-size: 13px;
  color: #666666;
  font-weight: 600;
  line-height: 13px;
}

.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item,
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item {
  border: 1px solid #EDEBEA;
}

.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item i,
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item i {
  -webkit-transition: 300ms all;
  transition: 300ms all;
  color: #EDEBEA;
}

.container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item.active i, .container-order-form .step.accordion-group .accordion-inner .debit-options .debit-list-item:hover i,
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item.active i,
.container-order-form .step.accordion-group .accordion-body .debit-options .debit-list-item:hover i {
  color: #013365;
}

.container-order-form .step.accordion-group .accordion-inner .client-profile-email .email,
.container-order-form .step.accordion-group .accordion-body .client-profile-email .email {
  color: #3B4850;
  font-weight: 500;
  font-size: 14px;
}

.container-order-form .step.accordion-group .accordion-inner .client-profile-email .link-logout,
.container-order-form .step.accordion-group .accordion-body .client-profile-email .link-logout {
  color: #013365;
  font-weight: 400;
}

.container-order-form .step.accordion-group .accordion-inner .client-profile-email .link-logout:hover,
.container-order-form .step.accordion-group .accordion-body .client-profile-email .link-logout:hover {
  color: #000d19;
}

.container-order-form .step.accordion-group .accordion-inner p.input input, .container-order-form .step.accordion-group .accordion-inner p.input select,
.container-order-form .step.accordion-group .accordion-body p.input input,
.container-order-form .step.accordion-group .accordion-body p.input select {
  width: 100%;
}

.container-order-form .step.accordion-group .accordion-inner p.input input#ship-postal-code, .container-order-form .step.accordion-group .accordion-inner p.input select#ship-postal-code,
.container-order-form .step.accordion-group .accordion-body p.input input#ship-postal-code,
.container-order-form .step.accordion-group .accordion-body p.input select#ship-postal-code {
  width: 90px;
  max-width: none;
}

.container-order-form .step.accordion-group .accordion-inner .client-first-name,
.container-order-form .step.accordion-group .accordion-inner .client-last-name,
.container-order-form .step.accordion-group .accordion-inner .client-document,
.container-order-form .step.accordion-group .accordion-inner .client-document + div,
.container-order-form .step.accordion-group .accordion-inner .client-company-ie,
.container-order-form .step.accordion-group .accordion-inner .client-company-document,
.container-order-form .step.accordion-group .accordion-inner .ship-number,
.container-order-form .step.accordion-group .accordion-inner .ship-more-info,
.container-order-form .step.accordion-group .accordion-inner .ship-city,
.container-order-form .step.accordion-group .accordion-inner .ship-state,
.container-order-form .step.accordion-group .accordion-body .client-first-name,
.container-order-form .step.accordion-group .accordion-body .client-last-name,
.container-order-form .step.accordion-group .accordion-body .client-document,
.container-order-form .step.accordion-group .accordion-body .client-document + div,
.container-order-form .step.accordion-group .accordion-body .client-company-ie,
.container-order-form .step.accordion-group .accordion-body .client-company-document,
.container-order-form .step.accordion-group .accordion-body .ship-number,
.container-order-form .step.accordion-group .accordion-body .ship-more-info,
.container-order-form .step.accordion-group .accordion-body .ship-city,
.container-order-form .step.accordion-group .accordion-body .ship-state {
  margin-right: 0;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0;
}

.container-order-form .step.accordion-group .accordion-inner .client-first-name:after,
.container-order-form .step.accordion-group .accordion-inner .client-last-name:after,
.container-order-form .step.accordion-group .accordion-inner .client-document:after,
.container-order-form .step.accordion-group .accordion-inner .client-document + div:after,
.container-order-form .step.accordion-group .accordion-inner .client-company-ie:after,
.container-order-form .step.accordion-group .accordion-inner .client-company-document:after,
.container-order-form .step.accordion-group .accordion-inner .ship-number:after,
.container-order-form .step.accordion-group .accordion-inner .ship-more-info:after,
.container-order-form .step.accordion-group .accordion-inner .ship-city:after,
.container-order-form .step.accordion-group .accordion-inner .ship-state:after,
.container-order-form .step.accordion-group .accordion-body .client-first-name:after,
.container-order-form .step.accordion-group .accordion-body .client-last-name:after,
.container-order-form .step.accordion-group .accordion-body .client-document:after,
.container-order-form .step.accordion-group .accordion-body .client-document + div:after,
.container-order-form .step.accordion-group .accordion-body .client-company-ie:after,
.container-order-form .step.accordion-group .accordion-body .client-company-document:after,
.container-order-form .step.accordion-group .accordion-body .ship-number:after,
.container-order-form .step.accordion-group .accordion-body .ship-more-info:after,
.container-order-form .step.accordion-group .accordion-body .ship-city:after,
.container-order-form .step.accordion-group .accordion-body .ship-state:after {
  clear: both;
  content: "";
  display: table;
}

.container-order-form .step.accordion-group .accordion-inner .ship-number,
.container-order-form .step.accordion-group .accordion-inner .ship-state,
.container-order-form .step.accordion-group .accordion-body .ship-number,
.container-order-form .step.accordion-group .accordion-body .ship-state {
  width: 25%;
}

.container-order-form .step.accordion-group .accordion-inner .ship-city,
.container-order-form .step.accordion-group .accordion-body .ship-city {
  width: 75%;
  padding-right: 10px;
}

.container-order-form .step.accordion-group .accordion-inner .ship-more-info,
.container-order-form .step.accordion-group .accordion-body .ship-more-info {
  width: 75%;
  padding-left: 10px;
}

.container-order-form .step.accordion-group .accordion-inner .client-first-name,
.container-order-form .step.accordion-group .accordion-inner .client-document,
.container-order-form .step.accordion-group .accordion-inner .client-company-ie,
.container-order-form .step.accordion-group .accordion-body .client-first-name,
.container-order-form .step.accordion-group .accordion-body .client-document,
.container-order-form .step.accordion-group .accordion-body .client-company-ie {
  padding-right: 10px;
}

.container-order-form .step.accordion-group .accordion-inner .client-profile-summary,
.container-order-form .step.accordion-group .accordion-body .client-profile-summary {
  color: #3B4850;
  font-size: 14px;
  line-height: 16px;
}

.container-order-form .step.accordion-group .accordion-inner .links,
.container-order-form .step.accordion-group .accordion-body .links {
  width: 100%;
}

.container-order-form .step.accordion-group .accordion-inner .links .link a,
.container-order-form .step.accordion-group .accordion-body .links .link a {
  border: 1px solid #666666;
  background: #666666;
  color: #fff;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 35px;
  font-weight: 500;
  font-size: 10px;
  padding: 0;
  text-align: center;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.container-order-form .step.accordion-group .accordion-inner .links .link a:hover,
.container-order-form .step.accordion-group .accordion-body .links .link a:hover {
  background: #4d4d4d;
}

.container-order-form .step.accordion-group .accordion-inner #change-other-shipping-option,
.container-order-form .step.accordion-group .accordion-body #change-other-shipping-option {
  height: 35px;
  width: 100%;
  padding: 0;
  line-height: 35px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  background: #666666;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 15px;
  border: 0 none;
}

.container-order-form .step.accordion-group .accordion-inner #change-other-shipping-option:hover,
.container-order-form .step.accordion-group .accordion-body #change-other-shipping-option:hover {
  background: #333333;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item {
  padding: 10px;
  border: 1px solid #EDEBEA;
  background: #fff;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .input,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .link-box-select,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .input,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .link-box-select {
  position: relative;
  display: block;
  float: none;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .input i,
.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item .link-box-select i,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .input i,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item .link-box-select i {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  color: #666666;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item a.link-box-select,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item a.link-box-select {
  display: none;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item p, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item label, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item span,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item p,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item label,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item span {
  text-shadow: 0 0 transparent;
  color: #3B4850;
  font-size: 13px;
  font-weight: 300;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item p,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item p {
  margin: 0;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item label,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item label {
  float: none;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item label br,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item label br {
  display: none;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item:hover,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item:hover {
  border-color: #013365;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item:hover .link-box-select i,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item:hover .link-box-select i {
  color: #013365;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active {
  border-color: #013365;
  background: #013365;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active p, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active label, .container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active span,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active p,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active label,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active span {
  color: #fff;
  font-weight: 400;
}

.container-order-form .step.accordion-group .accordion-inner .address-list-placeholder .address-item.active .link-box-select i,
.container-order-form .step.accordion-group .accordion-body .address-list-placeholder .address-item.active .link-box-select i {
  color: #fff;
}

.container-order-form .step.accordion-group.active .accordion-heading .accordion-toggle i {
  color: #435B9F;
}

.container-order-form .cart-template.mini-cart h2 {
  font-size: 20px;
  color: #3B4850;
  line-height: 22px;
  background: transparent;
  border: 0 none;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
}

.container-order-form .cart-template.mini-cart .cart-items > li {
  padding: 5px 0;
  border: 0 none;
}

.container-order-form .cart-template.mini-cart .cart-items > li .product-name {
  font-size: 12px;
  color: #3B4850;
  line-height: 13px;
  font-weight: 500;
}

.container-order-form .cart-template.mini-cart .cart-items > li .quantity.badge {
  background: #435B9F;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  color: #fff;
  left: 30px;
}

.container-order-form .cart-template.mini-cart .cart-items > li .description .shipping-date {
  font-size: 12px;
  color: #666666;
  font-weight: 300;
  line-height: 20px;
}

.container-order-form .cart-template.mini-cart .cart-items > li .description .price {
  font-size: 14px;
  color: #DF6400;
  line-height: 20px;
  font-weight: 700;
  text-align: right;
}

.container-order-form .cart-template.mini-cart #go-to-cart-button {
  float: none !important;
  width: 100%;
  background: transparent;
}

.container-order-form .cart-template.mini-cart #go-to-cart-button a {
  display: block;
  text-align: center;
  background: #EDEBEA;
  border-radius: 5px;
  height: 35px;
  padding: 0;
  font-size: 10px;
  font-weight: 600;
  line-height: 35px;
  color: #666666;
  text-transform: uppercase;
  text-shadow: 0 0 transparent;
}

.container-order-form .cart-template.mini-cart #go-to-cart-button a:hover {
  color: #404040;
  background: #cac4c1;
}

.container-order-form .cart-template.mini-cart .summary-template-holder {
  background: transparent;
  border: 0 none;
}

.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td,
.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td {
  width: 50%;
  float: none;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  line-height: 16px;
  padding: 10px 0;
}

.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.info,
.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.info {
  text-align: left;
}

.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.monetary,
.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.monetary {
  text-align: right;
}

.container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.space, .container-order-form .cart-template.mini-cart .summary-template-holder .table tbody tr td.empty,
.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.space,
.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.empty {
  width: 0 !important;
  padding: 0 !important;
}

.container-order-form .cart-template.mini-cart .summary-template-holder .table tfoot tr td.monetary {
  color: #013365;
  font-weight: 500;
}

/** RESETS **/
body {
  line-height: 1;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }
  body .container .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0 !important;
}

a, a:link, a:visited, a:hover, a:active, button, input[type="button"], input[type="submit"] {
  text-decoration: none !important;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  text-align: left;
  font-weight: normal;
}

img, iframe {
  border: none;
  text-decoration: none;
}

ol, ul, ul li {
  list-style: none;
}

input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}

select {
  margin: inherit;
}

hr {
  margin: 30px 0;
  padding: 0;
  border: 0;
  color: #EDEBEA;
  background-color: #EDEBEA;
  height: 1px;
}

div#ajaxBusy {
  display: none !important;
}

/** FIM RESETS **/
span[x-apple-data-detectors], a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

#footer-payments .details > span {
  color: #fff !important;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}

body#page-orders {
  font-family: "Montserrat", sans-serif !important;
}

@media (min-width: 1200px) {
  body .container {
    max-width: 1170px;
  }
}

a {
  color: #2EC4B6;
}

a:hover {
  color: #013365;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #013365;
  line-height: 20px;
  margin: 10px 0 15px;
}

.btn.btn-primary {
  color: #fff;
  font-size: 13px;
  background: #2EC4B6;
  border-radius: 3px;
  border: 0 none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  width: auto;
  height: auto;
}

.btn.btn-primary:hover {
  background: #249b90;
}

.btn.btn-success {
  color: #fff;
  font-size: 13px;
  background: #00DD3E;
  border-radius: 3px;
  border: 0 none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  width: auto;
  height: auto;
  font-weight: 600;
}

.btn.btn-success:hover {
  background: #00aa30;
}

.btn.btn-secondary {
  color: #fff;
  font-size: 13px;
  background: #013365;
  border-radius: 3px;
  border: 0 none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  width: auto;
  height: auto;
  font-weight: 600;
}

.btn.btn-secondary:hover {
  background: #011a33;
}

.btn.btn-lg, .btn.btn-large {
  padding: 15px 40px;
}

.page-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
  color: #013365;
}

@media only screen and (max-width: 767px) {
  .page-title {
    font-size: 20px;
  }
}

p {
  font-size: 14px;
}

/** DEFAULTS **/
.reset-box-banner .box-banner img {
  width: 100%;
}

.box-banner img {
  max-width: 100%;
  height: auto;
}

#vtexIdUI-global-loader {
  z-index: 999999 !important;
}

#vtexIdContainer {
  z-index: 9999999 !important;
}

.page-header > .title,
.admake-title {
  background: #F2F6F7;
  border-radius: 25px 0 0 25px;
  border: 0 none;
}

.page-header > .title .title-icon,
.admake-title .title-icon {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: #013365;
  margin-right: 18px;
}

.page-header > .title .title-icon i,
.admake-title .title-icon i {
  font-size: 22px;
  color: #F2F6F7;
  line-height: 50px;
  display: block;
  margin: auto;
}

.page-header > .title .title-text,
.admake-title .title-text {
  font-weight: 700;
  font-size: 16px;
  color: #013365;
  line-height: 20px;
}

@media (min-width: 768px) {
  .page-header > .title .title-text,
  .admake-title .title-text {
    font-size: 18px;
  }
}

.page-header > .title {
  font-weight: 700;
  font-size: 16px;
  color: #013365;
  line-height: 20px;
}

@media (min-width: 768px) {
  .page-header > .title {
    font-size: 18px;
  }
}

.page-header > .title:before {
  content: "";
  display: block;
  color: #000;
  font: 900 16px Font Awesome\ 5 Free;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: #013365;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  color: #F2F6F7;
  line-height: 50px;
  margin: auto 18px auto 0;
}
/*# sourceMappingURL=admake-checkout.css.map */