<ul class="list-unstyled list-inline">
    <li class="list-inline-item">
        <span class="icon">
            <i class="fas fa-donate"></i>
        </span>
        <span class="text">
            <strong>5% de desconto</strong>
            1x no cartão ou boleto
        </span>
    </li>
    <li class="list-inline-item">
        <span class="icon">
            <i class="far fa-credit-card"></i>
        </span>
        <span class="text">
            <strong>Parcele em até 6x</strong>
            sem juros
        </span>
    </li>
    <li class="list-inline-item">
        <span class="icon">
            <i class="fas fa-shipping-fast"></i>
        </span>
        <span class="text">
            <strong>Entregamos seu</strong>
            pedido em 1 dia
        </span>
    </li>
</ul>