﻿<ul class="list-inline list-unstyled">
    <li class="list-inline-item">
        <img src="/arquivos/formas-pagamento.png" width="277" height="31" alt="Formas de Pgamento" class="img-fluid"/>
    </li>
</ul>