﻿<ul class="list-unstyled">
    <li><a href="/account/">Dados Pessoais</a></li>
    <li><a href="/account/">Meus Endereços</a></li>
    <li><a href="/account/">Alterar Senha</a></li>
    <li><a href="/account/orders">Meus Pedidos</a></li>
</ul>