﻿<ul class="list-unstyled">
    <li>
        <a href="/institucional/empresa">Empresa</a>
    </li>
    <li>
        <a href="/institucional/politica-de-privacidade">Política de Privacidade</a>
    </li>
    <li>
        <a href="/institucional/politica-de-entrega">Política de Entrega, Troca e Devolução</a>
    </li>
    <li>
        <a href="/institucional/politica-de-compra">Política de Compra</a>
    </li>
    <li>
        <a href="/institucional/termos-de-uso-e-condicoes">Termos de Uso e Condições</a>
    </li>
    <li>
        <a href="/institucional/trabalhe-conosco">Trabalhe Conosco</a>
    </li>
</ul>