﻿<div class="newsletter d-sm-flex justify-content-between align-items-center" data-sigla="NE" data-store="hdoiso" data-admake="newsletter"
    data-element="form">
    
    <div class="title">
        <i class="far fa-envelope"></i>
        <p>Cadastre-se e Receba Novidades <span> e Promoções Exclusivas</span></p>
    </div>

    <form action="">
        <div class="form">
            <!-- <div class="input-skew">
                <input class="name" type="text" name="name" placeholder="Nome" />
            </div> -->
            <div class="input-box">
                <input class="email" type="email" name="email" placeholder="Digite seu e-mail" />
                <button type="submit" class="btn">OK</button>
            </div>
            
            <input id="newsletterRegistered" type="hidden" value="E-mail já cadastrado na base!">
            <input id="newsletterSuccess" type="hidden" value="Obrigado por se cadastrar na H2O Purificadores!">
            <input id="newsletterError" type="hidden" value="Encontramos um erro no cadastro de suas informações!">
        </div>
        <p class="alert-message" style="display: none"></p>
    </form>
</div>