﻿<ul class="list-unstyled social-links">
    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
</ul>