<!--
    * H2O Purificadores
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
    
<div id="header-bar">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    
                <div id="open-nav-mobile" class="d-block d-sm-none order-1">
                    <button class="open-close-nav-mobile button-mobile">
                        <i class="fas fa-bars"></i>
                        <span>Menu</span>
                    </button>
                </div>
                
                <div id="header-brand" class="order-2">
                    <h1 class="brand">
                        <b class="sr-only"><vtex.cmc:storeName/></b>
                        <a href="/" class="d-block"><vtex.cmc:storeBrandImage/></a>
                    </h1>
                </div>
    
                <div id="header-search" class="search-box order-5 order-sm-3">
                    <vtex.cmc:fullTextSearchBox/>
                </div>
    
                <div class="link-my-account order-3 order-sm-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="/account" title="Entrar">
                            <i class="fas fa-user-circle"></i> <span class="d-none d-sm-block">Entrar</span>
                        </a>
                        <a href="/account/orders" title="Meus Pedidos" class="d-none d-sm-block">
                            <i class="fas fa-list-ul"></i> <span class="d-none d-sm-block">Meus Pedidos</span>
                        </a>
                        <a href="/institucional/contato" title="Fale Conosco" class="d-none d-lg-block">
                            <i class="fas fa-comments"></i> <span class="d-none d-block">Fale Conosco</span>
                        </a>
                    </div>
                </div>
    
                <div class="link-item-cart order-4 order-sm-5">
                    <a href="/checkout/#/cart" class="admake-btn-smart-cart" title="Carrinho de Compras">
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i> 
                            <span class="badge">0</span>
                        </span>
                    </a>
                </div>
    
            </div>
        </div>
    </div>