﻿<div class="container">
    <h1>Fale conosco</h1>

    <!-- 
    Params .ad-contact

    sigla        : String   (default = CO, obs: Sigla do master data)
    store        : String   (default = '', obs: Store name da loja)

    Criar entidade no masterdata, formulario e trigger de e-mail.
-->
    <div class="admake-forms-master clearfix" data-sigla="CO" data-store="mslub" data-admake="masterdata-forms" data-selector=".form">
        <form class="form">

            <div class="form-field" name="number_order" label="Número do Pedido" type="text" max-length="50" required="true"></div>

            <div class="form-field" name="name" label="Nome" type="text" max-length="100" required="true"></div>

            <div class="form-field" name="email" label="E-mail" type="text" max-length="100" required="true"></div>

            <div class="form-field" name="subject" label="Assunto" type="text" max-length="100" required="true"></div>

            <div class="form-field" name="mensage" label="Mensagem" type="textarea"></div>

            <!-- 
            Params .ad-contact > button

            loader  : String   (default = <i class='fa fa-refresh fa-spin fa-3x fa-fw'></i>, obs: Conteudo do botALo quando estiver processando o envio)
            success : String   (default = <i class='fa fa-check' aria-hidden='true'></i> Enviado, obs: Conteudo do bot?o quando sucesso)
        -->
            <button type="submit" class="btn btn-primary" loader='<i class="fas fa-sync fa-spin"></i>' success='<i class="far fa-check-circle"></i> Enviado'>
                Enviar
            </button>

        </form>
    </div>
</div>