<!--
    * H2O Purificadores
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<div id="benefits-banner">
    <div class="container">
        <div class="row">
            <div class="col-benefits col-4 col-lg-6 d-none d-md-block">
                <vtex.cmc:benefitsBanner />
            </div>
            <div class="col-news col-12 col-md-8 col-lg-6">
                <div class="box-newsletter">
                    <vtex.cmc:newsletterMasterData/>
                </div>
            </div>
        </div>
    </div>
</div>