﻿<!--
    * H2O Purificadores
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<footer id="footer">

        <div class="about-box">
            <div class="container">
                <div class="about-text">
                    <h3>Sobre a H2O Purificadores</h3>
                    <p><vtex.cmc:aboutStore/></p>
                </div>

                <div class="trustvox-box d-none d-sm-block">
                    <h3>Veja o que estão dizendo sobre a loja</h3>

                    <div></div>
                </div>
            </div>
        </div>
        
        <div class="footer-institucional-payments">
            <div class="container">
                <div class="row-links d-flex align-items-start justify-content-between flex-wrap flex-lg-nowrap">
                    <div class="col-contacts">
                        <div class="accordion-content">
                            <h5 class="title-footer accordion-btn">Fale Conosco</h5>
                            <ul class="list-unstyled">
                                <li class="phone d-flex align-items-start">
                                    <i class="fas fa-phone-volume"></i>
                                    <span><vtex.cmc:phones/></span>
                                </li>
                                <li class="phone d-flex align-items-start">
                                    <i class="fab fa-whatsapp"></i>
                                    <span><vtex.cmc:whatsapp/></span>
                                </li>
                                <li class="email d-flex align-items-start">
                                    <i class="fas fa-envelope-square"></i>
                                    <span><vtex.cmc:email/></span>
                                </li>
                                <li class="h-atendimento">
                                    <span>Horário de Atendimento</span>
                                    <span><vtex.cmc:horarioAtendimento/></span>
                                </li>
                                <li class="link">
                                    <a href="#" title="Dúvidas Frequentes">Dúvidas Frequentes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-institucional links">
                        <div class="accordion-content">
                            <h5 class="title-footer accordion-btn">Institucional</h5>
                            <vtex.cmc:footerInstitucional/>
                        </div>
                    </div>
                    <div class="col-account links">
                        <div class="accordion-content">
                            <h5 class="title-footer accordion-btn">Minha Conta</h5>
                            <vtex.cmc:footerUsefulInformations/>
                        </div>
                    </div>
                    <div class="col-help links">
                        <div class="accordion-content">
                            <h5 class="title-footer accordion-btn">Dúvidas</h5>
                            <vtex.cmc:footerHelpLinks/>
                        </div>
                    </div>
                </div>

                <div class="row-social d-flex align-items-start justify-content-start flex-wrap flex-lg-nowrap">
                    <div class="col-social-links">
                        <div class="accordion-content">
                            <h5 class="title-footer accordion-btn">Siga-nos</h5>
                            <vtex.cmc:socialLinks/>
                        </div>
                    </div>
                    <div class="col-security">
                        <div class="accordion-content">
                            <h5 class="title-footer accordion-btn">Na Mídia</h5>
                            <vtex.cmc:midiaLinks/>
                        </div>
                    </div>
                </div>

                <div class="row-payments-security">
                    <div class="d-flex align-items-center justify-content-between flex-wrap flex-lg-nowrap">
                        <div class="col-payments">
                            <div class="accordion-content d-sm-flex align-items-sm-center">
                                <h5 class="title-footer title-inline accordion-btn">Formas de Pagamento</h5>
                                <vtex.cmc:flagsPayments/>
                            </div>
                        </div>
                        <div class="col-security">
                            <div class="accordion-content">
                                <h5 class="title-footer accordion-btn d-block d-sm-none">Certificados</h5>
                                <vtex.cmc:flagsSecurity/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesage-footer">
                <div class="container">
                    <vtex.cmc:mensagemRodape/>
                </div>
            </div>
        </div>
    
        <div id="footer-copyright">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-sm-nowrap flex-wrap">
                    <div class="copyright">
                        <vtex.cmc:footerCopyright/>
                    </div>
                    <div id="footer-signature">
                        <vtex.cmc:footerSignature/>
                    </div>
                </div>
            </div>
        </div>
    </footer>