<!--
    * H2O Purificadores
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
<nav id="header-nav">
    <div class="mask"></div>
    <div class="container">
        <ul class="header-nav-items d-sm-flex align-items-stretch justify-content-between">
            <li class="header-nav-item header-nav-item-all d-none d-sm-block">
                <a href="#" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-departamentos.png" width="26" height="20" alt="" /></span>
                    <span class="text">Compre por <span>Departamento</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <ul class="header-nav-sub-items">
                            <li class="header-nav-sub-item refil-e-filtro-de-reposicao">
                                <a href="/refil-filtro-de-reposicao" class="header-nav-sub-link">Refil e Filtro de
                                    Reposição</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Refil e Filtro de Reposição</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/refil-filtro-de-reposicao/para-purificador-de-agua">Refil
                                                        para Purificador de Água</a></li>
                                                <li><a href="/refil-filtro-de-reposicao/para-bebedouro-de-agua">Refil para
                                                        Bebedouro de Água</a></li>
                                                <li><a href="/refil-filtro-de-reposicao/para-filtro-de-piscina">Refil para
                                                        Filtro de Piscina</a></li>
                                                <li><a href="/refil-filtro-de-repisocao/para-filtro-de-torneira">Refil para
                                                        Filtro de Torneira</a></li>
                                                <li><a href="/refil-filtro-de-reposocao/para-geladeira-e-refrigerador">Refil
                                                        para Geladeira e Refrigerador</a></li>
                                                <li><a href="/refil-filtro-de-repisocao/para-outras-aplicacoes">Refil para
                                                        Outras Aplicações</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex:bannerAllDepartmentUm />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/refil-filtro-de-reposicao/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                        alt="IBBL" width="61" height="21" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/samsung"><img src="/arquivos/marca-samsung.png"
                                                        alt="Samsung" width="80" height="12" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/latina"><img src="/arquivos/marca-latina.png"
                                                        alt="Latina" width="63" height="21" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificador-e-filtro-de-agua">
                                <a href="/purificador-e-filtro-de-agua" class="header-nav-sub-link">Purificador e
                                    Filtro de Água</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Purificador e Filtro de Água</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/purificador-e-filtro-de-agua/filtro-de-agua-para-ponto-de-entrada">Filtro
                                                        de Água para Ponto de Entrada</a></li>
                                                <li><a href="/purificador-e-filtro-de-agua/filtro-de-agua-para-ponto-de-uso">Filtro
                                                        de Água para Ponto de Uso</a></li>
                                                <li><a href="/purificador-e-filtro-de-agua/purificador-de-agua-gelada-e-natural">Purificador
                                                        de Água Gelada e Natural</a></li>
                                                <li><a href="/purificador-e-filtro-de-agua/purificador-de-agua-para-torneira">Purificador
                                                        de Água para Torneira</a></li>
                                                <li><a href="/purificador-e-filtro-de-agua/purificador-de-agua-portatil">Purificador
                                                        de Água Portátil</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex:bannerAllDepartmentDois />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/purificador-e-filtro-de-agua/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                        alt="IBBL" width="61" height="21" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/planeta-agua"><img src="/arquivos/marca-planeta-agua.png"
                                                        alt="Planeta Água" width="56" height="23" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/3m"><img src="/arquivos/marca-3m.png"
                                                        alt="3M" width="40" height="21" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item bebedouro-de-agua">
                                <a href="/bebedouro-de-agua" class="header-nav-sub-link">Bebedouros de Água</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Bebedouros de Água</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/bebedouro-de-agua/bebedouro-de-coluna">Bebedouro de Coluna</a></li>
                                                <li><a href="/bebedouro-de-agua/bebedouro-de-galao">Bebedouro de Galão</a></li>
                                                <li><a href="/bebedouro-de-agua/bebedouro-industrial">Bebedouro Industrial</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/bebedouro-de-agua/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item eletroportateis">
                                <a href="/eletroportateis" class="header-nav-sub-link">Eletroportáteis</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Eletroportáteis</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/eletroportateis/chaleira-eletrica">Chaleira Elétrica</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/eletroportateis/brastemp"><img src="/arquivos/marca-brastemp.png"
                                                        alt="Brastemp" width="80" height="9" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item utilidades-domesticas">
                                <a href="/utilidades-domesticas" class="header-nav-sub-link">Utilidades Domésticas</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Utilidades Domésticas</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/utilidades-domesticas/cuidados-com-a-roupa">Cuidados com a
                                                        Roupa</a></li>
                                                <li><a href="/utilidades-domesticas/torneiras">Torneiras</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/utilidades-domesticas/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/utilidades-domesticas/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item pecas-e-acessorios">
                                <a href="/pecas-e-acessorios" class="header-nav-sub-link">Peças e Acessórios</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Peças e Acessórios</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/pecas-e-acessorios/acessorios-para-purificador-de-agua">Acessórios
                                                        para Purificador de Água</a></li>
                                                <li><a href="/pecas-e-acessorios/acessorios-para-geladeira-e-refrigerador">Acessórios
                                                        para Geladeira e Refrigerador</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/pecas-e-acessorios/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                            <li><a href="/pecas-e-acessorios/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/pecas-e-acessorios/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                        alt="IBBL" width="61" height="21" /></a></li>
                                            <li><a href="/pecas-e-acessorios/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificadores-para-casa">
                                <a href="/purificadores-para-casa" class="header-nav-sub-link">Purificadores para Casa</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Purificadores para Casa</h3>
                                        <ul>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-gelada-e-natural-com-placa-eletronica">Purificador
                                                    de Água Gelada e Natural Com Placa Eletrônica</a></li>
                                            <li><a href="/purificadores-para-casa/purificadores-de-agua-gelada-e-natural-com-processador">Purificadores
                                                    de Água Gelada e Natural Com Compressor</a></li>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-para-torneiras">Purificador
                                                    de Água para Torneiras</a></li>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-para-parede">Purificador
                                                    de Água para Parede</a></li>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-para-bancada">Purificador
                                                    de Água para Bancada</a></li>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-para-chuveiro">Purificador
                                                    de Água para Chuveiro</a></li>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-para-pia-e-lavatorio">Purificador
                                                    de Água para Pia e Lavatório</a></li>
                                            <li><a href="/purificadores-para-casa/purificador-de-agua-para-maquina-de-lavar-e-lava-loucas">Purificador
                                                    de Água para Máquina de Lavar e Lava Louças</a></li>
                                            <li><a href="/purificadores-para-casa/filtro-de-agua-para-caixa-dagua-e-hidrometro">Filtro
                                                    de Água para Caixa D'Água e Hidrômetro</a></li>
                                            <li><a href="/purificadores-para-casa/filtro-de-agua-para-remocao-de-particulas">Filtro
                                                    de Água para Remoção de Partículas</a></li>
                                            <li><a href="/purificadores-para-casa/filtro-de-agua-para-remocao-de-particulas-e-cloro">Filtro
                                                    de Água para Remoção de Partículas e Cloro</a></li>
                                            <li><a href="/purificadores-para-casa/filtro-de-agua-para-piscina">Filtro
                                                    de Água para Piscina</a></li>
                                            <li><a href="/purificadores-para-casa/filtro-de-agua-para-aquaria">Filtro
                                                    de Água para Aquário</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub-banner">
                                        <vtex:bannerAllDepartmentTres />
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificadores-para-empresa">
                                <a href="/purificadores-para-empresa" class="header-nav-sub-link">Purificadores para
                                    Empresa</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Purificadores para Empresa</h3>
                                        <ul>
                                            <li><a href="/purificadores-para-empresa/purificador-de-agua-gelada-e-natural-com-placa-eletronica">Purificador
                                                    de Água Gelada e Natural Com Placa Eletrônica</a></li>
                                            <li><a href="/purificadores-para-empresa/purificador-de-agua-gelada-e-natural-com-processador">Purificador
                                                    de Água Gelada e Natural Com Compressor</a></li>
                                            <li><a href="/purificadores-para-empresa/purificador-de-agua-para-industria">Purificador
                                                    de Água para Indústria</a></li>
                                            <li><a href="/purificadores-para-empresa/purificador-de-agua-para-escritorio">Purificador
                                                    de Água para Escritório</a></li>
                                            <li><a href="/purificadores-para-empresa/purificador-de-agua-para-centro-comercial">Purificador
                                                    de Água para Centro Comercial</a></li>
                                            <li><a href="/purificadores-para-empresa/purificador-de-agua-para-academia-escola-e-hospital">Purificador
                                                    de Água para Academia, Escola e Hospital</a></li>
                                            <li><a href="/purificadores-para-empresa/filtro-de-agua-para-remocao-de-particulas">Filtro
                                                    de Água para Remoção de Partículas</a></li>
                                            <li><a href="/purificadores-para-empresa/filtro-de-agua-para-maquinas-de-cafe-e-gelo">Filtro
                                                    de Água para Máquinas de Café e Gelo</a></li>
                                            <li><a href="/purificadores-para-empresa/filtro-de-agua-para-remocao-de-particulas-e-cloro">Filtro
                                                    de Água para Remoção de Partículas e Cloro</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub-banner">
                                        <vtex:bannerAllDepartmentTres />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>


            <li class="header-nav-item refil-e-filtro-de-reposicao">
                <a href="/refil-filtro-de-reposicao" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-refil-e-filtro-de-reposicao.png" width="24" height="20"
                            alt="" /></span>
                    <span class="text">Refil e Filtro <span>de Reposição</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/refil-filtro-de-reposicao/para-purificador-de-agua" class="link-lvl2">Refil
                                            para Purificador de Água</a></li>
                                    <li><a href="/refil-filtro-de-reposicao/para-bebedouro-de-agua" class="link-lvl2">Refil
                                            para Bebedouro de Água</a></li>
                                    <li><a href="/refil-filtro-de-reposicao/para-filtro-de-piscina" class="link-lvl2">Refil
                                            para Filtro de Piscina</a></li>
                                    <li><a href="/refil-filtro-de-reposicao/para-filtro-de-torneira" class="link-lvl2">Refil
                                            para Filtro de Torneira</a></li>
                                    <li><a href="/refil-filtro-de-reposicao/para-geladeira-e-refrigerador" class="link-lvl2">Refil
                                            para Geladeira e Refrigerador</a></li>
                                    <li><a href="/refil-filtro-de-reposicao/para-outras-aplicacoes" class="link-lvl2">Refil
                                            para Outras Aplicações</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-brands">
                                    <li><a href="/refil-filtro-de-reposicao/consul"><img src="/arquivos/marca-consul.png"
                                                alt="Consul" width="59" height="16" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                alt="Electrolux" width="84" height="20" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                alt="IBBL" width="61" height="21" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                alt="Lorenzetti" width="63" height="10" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/latina"><img src="/arquivos/marca-latina.png"
                                                alt="Latina" width="63" height="21" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/samsung"><img src="/arquivos/marca-samsung.png"
                                                alt="Samsung" width="80" height="12" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/3m"><img src="/arquivos/marca-3m.png" alt="3M"
                                                width="40" height="21" /></a></li>
                                    <li><a href="/refil-filtro-de-reposicao/master-frio"><img src="/arquivos/marca-master-frio.png"
                                                alt="Master Frio" width="68" height="10" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav-banner">
                            <vtex:bannerNavUm />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item purificador-e-filtro-de-agua">
                <a href="/purificador-e-filtro-de-agua" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-purificadores-de-agua.png" width="15" height="20" alt="" /></span>
                    <span class="text">Purificador e Filtro <span>de Água</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/purificador-e-filtro-de-agua/purificador-de-agua-gelada-e-natural"
                                            class="link-lvl2">Purificador de Água Gelada e Natural</a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/purificador-de-agua-para-torneira" class="link-lvl2">Purificador
                                            de Água para Torneira</a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/purificador-de-agua-portatil" class="link-lvl2">Purificador
                                            de Água Portátil</a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/filtro-de-agua-para-ponto-de-entrada"
                                            class="link-lvl2">Filtro de Água para Ponto de Entrada</a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/filtro-de-agua-para-ponto-de-uso" class="link-lvl2">Filtro
                                            de Água para Ponto de Uso</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-brands">
                                    <li><a href="/purificador-e-filtro-de-agua/3m"><img src="/arquivos/marca-3m.png"
                                                alt="3M" width="40" height="21" /></a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/consul"><img src="/arquivos/marca-consul.png"
                                                alt="Consul" width="59" height="16" /></a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                alt="IBBL" width="61" height="21" /></a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/latina"><img src="/arquivos/marca-latina.png"
                                                alt="Latina" width="63" height="21" /></a></li>
                                    <li><a href="/purificador-e-filtro-de-agua/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                alt="Lorenzetti" width="63" height="10" /></a></li>
                                    <!-- <li><a href="/purificador-e-filtro-de-agua/latina"><img src="/arquivos/marca-latina.png" alt="Latina" width="56" height="23" /></a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav-banner">
                            <vtex:bannerNavDois />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item bebedouro-de-agua">
                <a href="/bebedouro-de-agua" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-bebedouros-de-agua.png" width="29" height="20" alt="" /></span>
                    <span class="text">Bebedouros <span>de Água</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/bebedouros-de-agua/bebedouro-de-coluna" class="link-lvl2">Bebedouro
                                            de Coluna</a></li>
                                    <li><a href="/bebedouros-de-agua/bebedouro-de-galao" class="link-lvl2">Bebedouro de
                                            Galão</a></li>
                                    <li><a href="/bebedouros-de-agua/bebedouro-industrial" class="link-lvl2">Bebedouro
                                            Industrial</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-brands">
                                    <li><a href="/bebedouro-de-agua/ibbl"><img src="/arquivos/marca-ibbl.png" alt="IBBL"
                                                width="61" height="21" /></a></li>
                                    <li><a href="/bebedouro-de-agua/consul"><img src="/arquivos/marca-consul.png" alt="Consul"
                                                width="59" height="16" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav-banner">
                            <vtex:bannerNavTRES />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item utilidades-domesticas">
                <a href="/utilidades-domesticas" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-utilidades-domesticas7.png" width="25" height="22" alt="" /></span>
                    <span class="text">Utilidades <span>Domésticas</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/utilidades-domesticas/cuidados-com-a-roupa" class="link-lvl2">Cuidados
                                            com a Roupa</a></li>
                                    <li><a href="/utilidades-domesticas/torneiras" class="link-lvl2">Torneiras</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4">
                                <ul class="header-nav-brands">
                                    <li><a href="/utilidades-domesticas/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                alt="Electrolux" width="84" height="20" /></a></li>
                                    <li><a href="/utilidades-domesticas/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                alt="Lorenzetti" width="63" height="10" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav-banner">
                            <vtex:bannerNavQUATRO />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item purificadores-para-casa">
                <a href="/purificadores-para-casa" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-purificadores-para-casa.png" width="22" height="20" alt="" /></span>
                    <span class="text">Purificadores <span>para Casa</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-gelada-e-natural-com-placa-eletronica"
                                            class="link-lvl2">Purificador de Água Gelada e Natural Com Placa Eletrônica</a></li>
                                    <li><a href="/purificadores-para-casa/purificadores-de-agua-gelada-e-natural-com-compressor"
                                            class="link-lvl2">Purificadores de Água Gelada e Natural Com Compressor</a></li>
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-para-torneiras" class="link-lvl2">Purificador
                                            de Água para Torneiras</a></li>
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-para-parede" class="link-lvl2">Purificador
                                            de Água para Parede</a></li>
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-para-bancada" class="link-lvl2">Purificador
                                            de Água para Bancada</a></li>
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-para-chuveiro" class="link-lvl2">Purificador
                                            de Água para Chuveiro</a></li>
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-para-pia-e-lavatorios"
                                            class="link-lvl2">Purificador de Água para Pia e Lavatório</a></li>
                                    <li><a href="/purificadores-para-casa/purificador-de-agua-para-maquina-de-lavar-e-lava-loucas"
                                            class="link-lvl2">Purificador de Água para Máquina de Lavar e Lava Louças</a></li>
                                    <li><a href="/purificadores-para-casa/filtro-de-agua-para-remocao-de-particulas"
                                            class="link-lvl2">Filtro de Água para Remoção de Partículas</a></li>
                                    <li><a href="/purificadores-para-casa/filtro-de-agua-para-remocao-de-particulas-e-cloro"
                                            class="link-lvl2">Filtro de Água para Remoção de Partículas e Cloro</a></li>
                                    <li><a href="/purificadores-para-casa/filtro-de-agua-para-piscina" class="link-lvl2">Filtro
                                            de Água para Piscina</a></li>
                                    <li><a href="/purificadores-para-casa/filtro-de-agua-para-aquarios" class="link-lvl2">Filtro
                                            de Água para Aquários</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav-banner">
                            <vtex:bannerNavQUATRO />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item purificadores-para-empresa">
                <a href="/purificadores-para-empresa" class="header-nav-link">
                    <span class="icon"><img src="/arquivos/icon-purificadores-para-empresa.png" width="21" height="20"
                            alt="" /></span>
                    <span class="text">Purificadores <span>para Empresa</span></span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/purificadores-para-empresa/purificador-de-agua-gelada-e-natural-com-placa-eletronica"
                                            class="link-lvl2">Purificador de Água Gelada e Natural Com Placa Eletrônica</a></li>
                                    <li><a href="/purificadores-para-empresa/purificador-de-agua-gelada-e-natural-com-compressor"
                                            class="link-lvl2">Purificador de Água Gelada e Natural Com Compressor</a></li>
                                    <li><a href="/purificadores-para-empresa/purificador-de-agua-para-industria" class="link-lvl2">Purificador
                                            de Água para Indústria</a></li>
                                    <li><a href="/purificadores-para-empresa/purificador-de-agua-para-escritorio" class="link-lvl2">Purificador
                                            de Água para Escritório</a></li>
                                    <li><a href="/purificadores-para-empresa/purificador-de-agua-para-centro-comercial"
                                            class="link-lvl2">Purificador de Água para Centro Comercial</a></li>
                                    <li><a href="/purificadores-para-empresa/purificador-de-agua-para-academia-escola-e-hospital"
                                            class="link-lvl2">Purificador de Água para Academia, Escola e Hospital</a></li>
                                    <li><a href="/purificadores-para-empresa/filtro-de-agua-para-remocao-de-particulas"
                                            class="link-lvl2">Filtro de Água para Remoção de Partículas</a></li>
                                    <li><a href="/purificadores-para-empresa/filtro-de-agua-para-maquinas-de-cafe-e-gelo"
                                            class="link-lvl2">Filtro de Água para Máquinas de Café e Gelo</a></li>
                                    <li><a href="/purificadores-para-empresa/filtro-de-agua-para-remocao-de-particulas-e-cloro"
                                            class="link-lvl2">Filtro de Água para Remoção de Partículas e Cloro</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-nav-banner">
                            <vtex:bannerNavQUATRO />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item promocoes">
                <a href="/promocoes" class="header-nav-link link-offer">
                    <span class="icon"><img src="/arquivos/icon-promocoes.png" width="31" height="32" alt="" /></span>
                    <span class="text">Promoções</span>
                </a>
            </li>


        </ul>

        <div class="contact-nav-mobile d-block d-sm-none">
            <h5>Fale Conosco</h5>
            <ul class="list-unstyled">
                <li class="phone d-flex align-items-start">
                    <i class="fas fa-phone-volume"></i>
                    <span>
                        <vtex.cmc:phones /></span>
                </li>
                <li class="phone d-flex align-items-start">
                    <i class="fab fa-whatsapp"></i>
                    <span>
                        <vtex.cmc:whatsapp /></span>
                </li>
                <li class="email d-flex align-items-start">
                    <i class="fas fa-envelope-square"></i>
                    <span>
                        <vtex.cmc:email /></span>
                </li>
                <li class="h-atendimento">
                    <span>Horário de Atendimento</span>
                    <span>
                        <vtex.cmc:horarioAtendimento /></span>
                </li>
            </ul>

            <h5>Siga-nos</h5>
            <vtex.cmc:socialLinks />
        </div>
    </div>
</nav>
<div class="mask-full"></div>