<!--
    * H2O Purificadores
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<div id="header-top-bar">
    <div class="d-none d-sm-block banner-float-desk">
        <vtex:bannerHeader/>
    </div>
    <div class="d-block d-sm-none banner-float-mobile">
        <vtex:bannerHeaderMobile/>
    </div>
</div>