#create-your-shop-box {
    margin: -59px 0 64px;
    position: relative;
    z-index: 5;

    .shop-option-border {
        border: 1px solid $colorBorder;
        transition: 300ms all;
        background: $colorWhite;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0);
        margin-bottom: 36px;
        position: relative;
        @media( max-width: 767px ){
            padding-bottom: 40px;
        }
        >h2 {
            font-weight: $bold;
            background: #FABE20;
            font-style: italic;
            font-size: 20px;
            color: $colorWhite;
            line-height: 20px;
            text-align: center;
            text-shadow: $textShadow;
            padding: 15px 0;
            margin: 0;
            border-bottom: 1px solid $colorWhite;
            text-transform: uppercase;
        }

        .shop-option-image {
            overflow: hidden;
            max-width: 100%;
            height: 180px;
            position: relative;
            @media( max-width: 768px ){
                position: static;
                height: auto;
            }
            img {
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
            }

            .btn-select-shop {
                position: absolute;
                bottom: -40px;
                width: 100%;
                left: 0;
                right: 0;
                cursor: pointer;
                z-index: 2;
                border: 0 none;
                font-weight: $bold;
                font-style: italic;
                font-size: 16px;
                color: $colorWhite;
                line-height: 20px;
                padding: 10px 0;
                text-align: center;
                text-transform: uppercase;
                text-shadow: $textShadow;
                background: rgba(44, 193, 202, 9/10);
                @media( max-width: 768px ){
                    bottom: 0;
                }
                &:hover {
                    background: rgba(44, 193, 202, 1);
                }
            }
        }

        p {
            padding: 25px 20px;
            font-size: 13px;
            color: #8E8786;
            margin: 0;
            text-align: center;
            line-height: 18px;
            min-height: 106px;
        }

        &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1/10);

            .shop-option-image {
                img {
                    display: block;
                    position: relative;
                    z-index: 1;
                }

                .btn-select-shop {
                    bottom: 0;
                }
            }
        }
    }
}

#shop-type-box {
    background: $colorWhite;
    padding: 10px 0;
    @media( min-width: 768px ){
        padding: 20px;
    }
    .col-totals {
        .totals-border {
            border: 1px solid $colorBorder;

            >h3 {
                margin: 0;
                padding: 15px;
                font-weight: $semiBold;
                font-size: 14px;
                color: #444444;
                letter-spacing: 0;
                text-align: center;
                line-height: 20px;
                position: relative;
                text-transform: none;
                background: #FAFAFA;
                /* Old browsers */
                background: -moz-linear-gradient(top, #FAFAFA 0%, rgba(232, 232, 232, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #FAFAFA 0%, rgba(232, 232, 232, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #FAFAFA 0%, rgba(232, 232, 232, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#e8e8e8', GradientType=0);

                /* IE6-9 */
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: #E02C3E;
                }
            }

            .totals-price {
                padding: 20px 15px;

                .old-price,
                .best-price {
                    display: block;
                    text-align: center;
                }

                .old-price {
                    font-weight: $medium;
                    font-size: 14px;
                    color: #CFCFCF;
                    line-height: 16px;
                    text-decoration: line-through;
                }

                .best-price {
                    font-weight: $extraBold;
                    font-size: 22px;
                    color: #E02C3E;
                    line-height: 30px;
                }
                .parcelamento{
                    display: block;
                    text-align: center;
                }
            }

            .totals-action {
                #add-to-cart-shop {
                    background: #2CC1CA;
                    display: block;
                    border: 0 none;
                    text-align: center;
                    height: 50px;
                    padding: 0;
                    line-height: 50px;
                    width: 100%;
                    font-weight: $bold;
                    font-style: italic;
                    text-transform: uppercase;
                    font-size: 15px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: center;
                    text-shadow: $textShadow;
                    cursor: pointer;

                    &:hover {
                        background: darken(#2CC1CA, 10%);
                    }
                }
            }
        }

        .totals-payments {
            margin: 25px 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

#create-your-shop-products {
    .ad-showcase-create-your-shop {
        padding: 13px;
        border: 1px solid $colorBorder;
        margin-bottom: 15px;

        &.disabled {
            opacity: .5;
            -webkit-filter: grayscale(100%);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);

            .product-checkbox {
                label {
                    transform: rotate(45deg);
                }
            }
        }

        >div.d-flex {
            .product-checkbox {
                margin-right: 13px;

                label {
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                    transition: 300ms all;

                    i {
                        color: #435B9F;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }

            .product-image {
                max-width: 60px;
                width: 100%;
                margin-right: 15px;

                a {
                    display: block;

                    img {
                        display: block;
                        margin: 0;
                        max-width: 100%;
                        max-height: 60px;
                    }
                }
            }

            .product-name {
                margin: 0;
                @media( max-width: 767px ){
                    max-width: 60%;
                }
                a {
                    font-weight: $semiBold;
                    font-size: 12px;
                    color: #444444;
                    line-height: 17px;

                    &:hover {
                        color: #111;
                    }
                }
            }

            .product-variation {
                .product-skus {
                    border: 1px solid $colorBorder;
                    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.03) !important;
                    width: 70px;
                    height: 35px;
                    font-size: 12px;
                    color: #8E8786;
                    line-height: 12px;
                    margin-left: 10px;
                    border-radius: 0;
                }
                @media( max-width: 767px ){
                    min-width: 100%;
                    margin: 4px 0 10px;
                    .product-skus{
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }

            .product-price {
                min-width: 110px;
                @media( max-width: 767px ){
                    min-width: 33.33333%;
                }
                .old-price,
                .best-price {
                    display: block;
                    text-align: center;
                }

                .old-price {
                    font-size: 11px;
                    color: #CFCFCF;
                    line-height: 13px;
                    text-decoration: line-through;
                }

                .best-price {
                    font-size: 13px;
                    line-height: 16px;
                    color: #4C4C4C;
                    letter-spacing: 0;
                }
            }

            .product-qty-box {
                margin: 0 10px;
                @media( max-width: 767px ){
                    min-width: 33.33333%;
                    margin: 0;
                }
                .qty {
                    position: relative;

                    .add-remove-qty {
                        border: 0 none;
                        background: transparent;
                        width: 17px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        padding: 0;
                        font-size: 13px;
                        color: #666666;
                        letter-spacing: 0;
                        text-align: center;

                        &.add {
                            left: auto;
                            right: 0;
                        }
                    }

                    .input-qty {
                        width: 61px;
                        border: 1px solid $colorBorder;
                        height: 30px;
                        background: $colorWhite;
                        text-align: center;
                        font-size: 13px;
                        color: #8E8786;
                        letter-spacing: 0;
                        text-align: center;
                        padding: 0 17px;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            margin: 0;
                        }
                    }
                }
            }

            .product-total-price {
                min-width: 130px;
                @media( max-width: 767px ){
                    min-width: 33.33333%;
                }
                .old-price,
                .best-price {
                    display: block;
                    text-align: center;
                }

                .old-price {
                    font-size: 11px;
                    color: #CFCFCF;
                    line-height: 13px;
                    font-weight: $medium;
                    text-decoration: line-through;
                }

                .best-price {
                    font-size: 14px;
                    line-height: 16px;
                    color: #E02C3E;
                    font-weight: $extraBold;
                    letter-spacing: 0;
                }
            }

            .btn-alter-product {
                font-weight: $semiBold;
                font-style: italic;
                font-size: 12px;
                color: #8E8786;
                text-align: center;
                line-height: 13px;
                min-width: 90px;
                background: transparent;
                border: 0 none;
                height: 30px;
                padding: 0;
                max-width: 90px;
                cursor: pointer;
                @media( max-width: 767px ){
                    width: 100%;
                    display: block;
                    min-width: 100%;
                    margin-top: 15px;
                }
                i {
                    font-style: normal;
                }

                &:hover {
                    color: #111;
                }
            }
        }
    }
    .admake-showcase-others{
        padding: 25px 0 0;
        position: relative;
        text-align: center;
        @include sombra('top', true);
    }
    .admake-showcase{
        > h3{
            font-size: 14px;
            color: #666666;
            letter-spacing: 0;
            font-weight: $regular;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 15px;
        }
        .ad-showcase-product{
            border-color: transparent;
            &:hover{
                border-color: $colorBorder;
            }
        }
        li{
            padding: 0;
        }
        .product-image{
            img{
                max-height: 116px;
            }
        }
        .product-price{
            min-height: 86px;
        }
        .product-buy {
            a, button {
                font-size: 12px;
                line-height: 30px;
                height: 30px;
                padding: 0;
                &:before{
                    display: none;
                }
            }
        }
    }
}