﻿// @import 'components/_priceRange.scss';
#page-department {
    &.admake-search{
        .department-row{
            margin-top: 25px;
        }
        .bread-crumb{
            display: none!important;
        }
        .col-navigator{
            .menu-departamento{
                h3{
                    display: block;
                    padding: 0 0 5px;
                    a{
                        margin: 15px 0 10px;
                        padding: 15px 0 0;
                        font-weight: 700;
                        font-size: 14px;
                        color: #013365;
                        &:hover{
                            color: darken(#013365, 15%);
                        }
                    }
                }
                ul{ 
                    padding: 0 0 15px;
                    li{
                        padding: 3px 0;
                        a{
                            font-weight: 400;
                            font-size: 13px;
                            color: #768C9A;
                            line-height: 20px;
                            &:hover{
                                color: #0076AA;
                            }
                        }
                    }
                }
            }
        }
    }
    #close-filter-mobile{
        font-weight: $bold;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        text-align: left;
        text-transform: uppercase;
        border: 0 none;
        border-radius: 0;
        background: transparent;
        width: 100%;
        height: 35px;
        cursor: pointer;
        .fa-filter{
            margin-right: 4px;
        }
        .fa-times{
            float: right;
        }
    }
    #open-filter-mobile{
        margin: 0 8px;
        width: calc(50% - 16px);
        text-align: center;
        font-weight: $bold;
        font-size: 12px;
        color: #666666;
        line-height: 35px;
        text-transform: uppercase;
        border: 1px solid #EDEBEA;
        border-radius: 0;
        cursor: pointer;
        background: #FAFAFA;
        background: -moz-linear-gradient(top, #FAFAFA 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #FAFAFA 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #FAFAFA 0%, #e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e8e8e8',GradientType=0 );
        i{
            margin-right: 4px;
        }
    }

    .department-header{
        .box-banner{
            a{
                display: block;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .col-navigator{
        h2{
            font-weight: $bold;
            font-size: 14px;
            color: #013365;
            line-height: 20px;
            margin: 0 0 10px;
            text-transform: uppercase;
        }
        @media( max-width: 767px ){
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: 300ms all;
            &.active-mobile{
                visibility: visible;
                opacity: 1;
                height: auto;
            }
        }
        .menu-navegue{
            display: none;   
        }
        .department-range{
            display: none;
        }
        #department-navigator{
            background: #F2F6F7;
            border-radius: 3px;
            padding: 15px;
        }
        .search-single-navigator{
            h3{
                display: none;
            }
            h4{
                padding: 6px 0;
                a{
                    font-weight: $regular;
                    font-size: 13px;
                    color: #768C9A;
                    line-height: 20px;
                    &:hover{
                        color: #0076AA;
                    }
                }
            }
            h5{
                margin: 15px 0 10px;
                padding: 15px 0 0;
                font-weight: $bold;
                font-size: 14px;
                color: #013365;
                text-transform: uppercase;
                border-top: 1px solid #E8EDEF;
                line-height: 20px;
                & + ul{
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                    display: block;
                    transition: 300ms all;
                    li{
                        display: block;
                        padding: 3px 0;
                    }
                    a{
                        font-size: 13px;
                        color: #768C9A;
                        line-height: 20px;
                        display: block;
                        &:before{
                            @include fontAwesome('\f111', 'far');
                            color: #D8D8D8;
                            font-size: 12px;
                            display: inline-block;
                            vertical-align: middle;
                            margin: -2px 5px 0 0;
                            transition: 300ms all;
                        }
                        &:hover{
                            color: darken(#768C9A, 15%);
                            &:before{
                                @include fontAwesome('\f28d', 'fas');
                                display: inline-block;
                                vertical-align: middle;
                                color: #013365;
                                font-size: 12px;
                            }
                        }
                    }
                }
                &.hide{
                    &:after{
                        transform: scaleY(1);
                    }
                    & + ul{
                        overflow: hidden;
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .department-row {
        .col-showcase {
            .resultItemsWrapper + .searchResultsTime + .sub,
            .compare,
            .filterBy,
            .searchResultsTime{
                display: none!important;
            }
            .sub,
            .resultado-busca-filtro{
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-align: center!important;
                align-items: center!important;
                -ms-flex-pack: justify!important;
                justify-content: space-between!important;
            }
            .resultado-busca-filtro{
                @media( max-width: 767px ){
                    margin: 10px 0;
                    width: 100%;
                    max-width: none;
                    min-width: auto;
                }
            }
            #open-filter-mobile{
                background: #F2F6F7;
                min-width: 47%;
                height: 35px;
                border: 0 none;
                border-radius: 3px;
                font-weight: $medium;
                padding: 0;
                font-size: 11px;
                color: #3B4850;
                letter-spacing: 0;
                text-align: center;
                margin: 0;
            }
            .admake-showcase{
                margin-top: 20px;
            }
            .orderBy{
                @media( max-width: 767px ){
                    width: 46%;
                    margin: 0;
                }
                label, select{
                    display: inline-block;
                    vertical-align: middle;
                }
                label{
                    margin: 0 5px 0 0;
                    @media( max-width: 767px ){
                        display: none!important;
                    }
                }
                select{
                    @media( max-width: 767px ){
                        width: 100%;
                        max-width: 100%;
                        min-width: auto;
                        height: 35px;
                        border: 0 none;
                        margin: 0;
                        border-radius: 3px;
                        font-weight: $medium;
                        font-size: 11px;
                        color: #3B4850;
                    }
                }
            }
            .resultado-busca-numero{
                @media( max-width: 767px ){
                    display: none!important;
                }
                span{
                    font-weight: $regular;
                    font-size: 12px;
                    color: #768C9A;
                    line-height: 16px;
                    &.value{
                        color: #013365;
                        font-weight: $bold;
                    }
                }
            }
            .pager{
                margin-top: 5px;
                @media( min-width: 992px ){
                    margin-top: 35px;
                }
                &.top{
                    display: none!important;
                    @media( min-width: 768px ){
                        display: block!important;
                    }
                    @media( min-width: 992px ){
                        margin-top: -35px;
                    }
                }
                .pages{
                    text-align: center;
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        margin: 2px;
                        border-radius: 100%;
                        width: 25px;
                        height: 25px;
                        padding: 0;
                        text-align: center;
                        &.first,
                        &.last{
                            display: none!important;
                        }
                        &.previous{
                            &:before{
                                @include fontAwesome('\f104', 'fas');
                            }
                        }
                        &.next{
                            &:before{
                                @include fontAwesome('\f105', 'fas');
                            }
                        }
                        &.previous,
                        &.next{
                            color: transparent;
                            line-height: 0;
                            font-size: 0;
                            &:before{
                                font-size: 12px;
                                color: #0076AA;
                                line-height: 25px;
                                transition: 300ms all;
                            }
                            &:hover{
                                transform: scale(1.03);
                            }
                        }
                        &.page-number{
                            background: #F2F6F7;
                            font-weight: $regular;
                            font-size: 11px;
                            color: #768C9A;
                            line-height: 25px;
                            transition: 300ms all;
                            cursor: pointer;
                            &:hover{
                                background: darken(#F2F6F7, 5%);
                            }
                            &.pgCurrent{
                                background: #0076AA;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            #department-showcase {
                margin-top: 0;
            }
        }
    }
    .department-description{
        margin: 30px 0 15px;
        display: none;
        line-height: 23px;
        @media( min-width: 768px ){
            display: block;
        }
        p{
            font-weight: $regular;
            font-size: 14px;
            color: #768C9A;
            line-height: 22px;
        }
        h4{
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 15px 0 6px;
        }
    }
    #returnToTop{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}