﻿#page-home {
    #full-banner,
    #full-banner-mobile {
        line-height: 0;
        .slick-arrow {
            background: #013365;
            color: #fff;
            opacity: .6;
            cursor: pointer;
            i{
                display: block;
                line-height: 33px;
            }
            &.slick-prev {
                left: 20px;
            }
            &.slick-next {
                right: 20px;
            }
            &:hover {
                opacity: 1;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: 0;
        }
    }

    .admake-filter-home{
        background: #0076AA;
        padding: 15px;
        margin: 15px -15px;
        @media( min-width: 768px ){
            border-radius: 3px;
            padding: 30px;
            margin: 15px 0;
        }
        .title{
            font-weight: $bold;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 18px;
            text-transform: uppercase;
            margin: 0 0 20px 0;
            text-align: center;
            @media( min-width: 768px ){
                font-size: 16px
            }
            @media( min-width: 992px ){
                text-align: left;
                margin: 0 15px 0 0;
                max-width: 260px;
            }
        }
        .options{
            .options-box{
                position: relative;
                padding: 0 0 15px;
                width: 100%;
                &.active{
                    .step{
                        background: #013365;
                    }
                }
                @media( min-width: 768px ){
                    width: auto;
                    padding: 0 15px;
                }
                .step{
                    transition: 300ms all;
                    width: 51px;
                    height: 51px;
                    border-radius: 100%;
                    background: #E8EDEF;
                    line-height: 53px;
                    font-weight: $bold;
                    font-size: 26px;
                    color: #FFFFFF;
                    text-align: center;
                    position: absolute;
                    top: -3px;
                    left: 0;
                }
                select{
                    height: 45px;
                    background-color: #FFFFFF;
                    padding-left: 61px;
                    border-radius: 25px 0 0 25px;
                    width: 100%;
                    @media( min-width: 768px ){
                        width: 230px;
                    }
                    @media( min-width: 992px ){
                        width: 210px;
                    }
                    @media( min-width: 1200px ){
                        width: 300px;
                    }
                }
            }
        }
        .btn{
            width: 125px;
            height: 45px;
            @media( max-width: 767px ){
                width: 180px;
                margin: auto;
                margin-top: 15px;   
            }
        }
    }

    .showcase-home-banner .box-banner{
        a {
            @extend %hover-zoom-img;
        }
    }
    .showcase-home-nav{
        background: #F2F6F7;
        border-radius: 3px;
        height: 100%;
        ul{
            li{
                display: block;
                &:before{
                    display: block;
                    content: "";
                    background: #E8EDEF;
                    width: 90%;
                    height: 1px;
                    margin: auto;
                }
                &:first-child{
                    &:before{
                        display: none;
                    }
                }
                a{
                    font-size: 14px;
                    color: #3B4850;
                    line-height: 20px;
                    display: block;
                    padding: 20px 15px;
                    background: transparent;
                    &:before{
                        @include fontAwesome('\f152', 'far');
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 15px;
                        font-size: 14px;
                        color: #6A7F8D;
                        transition: 300ms all;
                    }  
                    &:hover{
                        background: #013365;
                        color: #fff;
                        &:before{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .showcase-home.showcase-home-movie{
        background: #F2F6F7;
        padding: 25px 0;
        margin: 15px 0;
        @media( min-width: 768px ){
            margin: 70px 0 60px;
        }
        .showcase-title{
            background: #fff;
        }
        .msg-movie{
            font-size: 10px;
            color: #3B4850;
            line-height: 16px;
            @media( min-width: 768px ){
                font-size: 13px;
                margin-left: 30px;
                max-width: 478px;
            }
        }
        .showcase-home-movie{
            @media( max-width: 767px ){
                margin-bottom: 15px;
            }
            iframe{
                width: 100%;
                min-height: 410px;
            }
        }
    }

    #mini-banner-02,
    #mini-banner-01{
        a{
            display: block;
            overflow: hidden;
            img{
                transition: 300ms all;
            }
            &:hover{
                img{
                    transform: scale(1.02);
                }
            }
        }
        .row{
            margin: -7px;
            @media( min-width: 768px ){
                margin: -15px;
            }
            [class*="col"]{
                padding: 7px;
                @media( min-width: 768px ){
                    padding: 15px;
                }
            }
        }
    }
}

.admake-banner-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    .mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,7/10);
        &:before{
            @include fontAwesome('\f00d', 'fas');
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            border: 0 none;
            box-shadow: 0 0 0 transparent;
            background: transparent;
            color: #fff;
            text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
            font-size: 30px;
            line-height: 50px;
            padding: 0;
            cursor: pointer;
        }
    }
    .content{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 96%;
        max-height: 90%;
        z-index: 2;
        @media( min-width: 768px ){
            max-width: 900px;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
}