﻿// institucional
#page-institutional{
    .bread-crumb{
        margin-bottom: 0;
    }
}

.institutional-title{
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    h1{
        padding: 30px 0 40px;
        text-align: center;
        color: $colorPrimary;
        font-weight: $bold;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        @media( min-width: 768px ){
            font-size: 40px;
            line-height: 60px;
        }
    }
    .box-banner{
        overflow: hidden;
        a{
            display: block;
            cursor: default;
            img{
                @media( max-width: 767px ){
                    width: auto!important;
                    max-width: none;
                    transform: translateX(-50%);
                    height: auto!important;
                }
                @media( min-width: 768px ){
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                }
            }
        }
        & + h1{
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            color: #fff;
            transform: translate(-50%, -50%);
            padding: 0;
            @media( max-width: 767px ){
                width: 90%;
            }
        }
    }
}
.institucional-content{
    h3{
        font-weight: $bold;
        text-transform: uppercase;
        margin: 30px 0 15px;
    }
    h4{
        font-weight: $bold;
        margin: 13px 0 0;
    }
    h3, h4, h5, h6, p, li{
        font-size: 13px;
        color: $colorPrimary;
        line-height: 18px;
    }
    p{
        font-weight: $regular;
        font-size: 14px;
        color: #3B4850;
        line-height: 22px;
        margin-bottom: 15px;
    }
}