﻿#page-product {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #buy-box-float{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99999999;
        background: #F2F6F7;
        border: 1px solid #E8EDEF;
        box-shadow: 4px 2px 4px 0 rgba(0,0,0,2/10);
        padding: 3px 0;
        @media( max-width: 767px ){
            display: none!important;
        }
        .col-name{
            max-width: 40%;
            p{
                font-weight: $medium;
                font-size: 14px;
                color: #0076AA;
                line-height: 22px;
                margin: 0;
            }
        }
        .col-price{
            .productPrice{
                // opacity: 0;
                // visibility: hidden;
                // transition: 300ms all;
                // &.active{
                //     opacity: 1;
                //     visibility: visible;
                // }
                .valor-de{
                    display: none!important;
                }
                .price-list-price{
                    font-size: 12px;
                    line-height: 14px;
                }
                .product-best-price-discount{
                    font-size: 13px;
                    line-height: 20px;
                    strong{
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                .msg-a-vista, .valor-dividido{
                    display: inline-block!important;
                    vertical-align: middle;
                }
                .valor-dividido{
                    margin-left: 5px;
                }
                .valor-total-parcelado,
                .new-sku-best-price,
                .best-price-msg{
                    display: none;
                }
            }
        }
    }
    #ad-product-buy-button{
        &.no-stock{
            .buy-button,
            .quantity-selector-container{
                display: none!important;
            }
        }
    }
    .product-buy {
        .quantity-selector-container{
            position: relative;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            .quantityText {
                display: none;
            }
            label{
                position: relative;
                margin: 0;
            }
            input{
                width: 42px;
                height: 35px;
                background: #FFFFFF;
                border: 0 none;
                text-align: center;
                border-radius: 3px;
                font-weight: $regular;
                font-size: 12px;
                color: #013365;
                line-height: 35px;
            }
            .actions{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                button{
                    width: 15px;
                    height: 35px;
                    border: 0 none;
                    border-radius: 0;
                    font-weight: $regular;
                    font-size: 12px;
                    color: #0076AA;
                    line-height: 35px;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    &.add-qty{
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .buy-button {
            display: inline-block!important;
            vertical-align: middle;
            width: 180px;
            height: 45px;
            border-radius: 3px;
            background: #00DD3E;
            border: 0 none;
            color: #fff;
            font-weight: $semiBold;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            line-height: 45px;
            padding: 0;
            @media( min-width: 992px ){
                width: 130px;
            }
            @media( min-width: 1200px ){
                width: 210px;
            }
            &:hover{
                background: darken(#00DD3E, 5%);
            }
        }
    }

    .productPrice{
        // -webkit-filter: blur(5px);
        // -moz-filter: blur(5px);
        // -o-filter: blur(5px);
        // -ms-filter: blur(5px);
        // filter: blur(5px);
        // text-indent: -9999999999px;
        // font-size: 0;
        // transition: 300ms all;
        &.active{
            // -webkit-filter: blur(0);
            // -moz-filter: blur(0);
            // -o-filter: blur(0);
            // -ms-filter: blur(0);
            // filter: blur(0);
            // text-indent: 0;
            // font-size: inherit;
        }
    }

    .plugin-preco {
        .valor-de,
        .valor-pr {
            display: block;
        }
        .valor-de {
            &, strong, &:after{
                font-weight: $regular;
                font-size: 15px;
                color: #3B4850;
                line-height: 20px;
                text-transform: lowercase;
            }
            // &:after{
            //     content: " por";
            //     display: inline-block;
            //     vertical-align: top;
            //     margin-left: 4px;
            // }
            strong{
                text-transform: uppercase;
                text-decoration: line-through;
            }
        }
        .valor-por{
            &, &:after{
                font-size: 15px;
                line-height: 25px;
                color: #DF6400;
                vertical-align: bottom;
            }
            &:after{
                content: " à vista";
                display: inline-block;
                vertical-align: bottom;
                margin-left: 4px;
            }
            strong{
                font-weight: $bold;
                font-size: 26px;
                line-height: 25px;
            }
        }
        .product-best-price-discount{
            font-size: 15px;
            line-height: 25px;
            color: #DF6400;
            vertical-align: bottom;
            strong{
                font-weight: $bold;
                font-size: 26px;
                line-height: 25px;
            }
        }
        .best-price-msg{
            font-weight: $regular;
            font-size: 11px;
            color: #3B4850;
            line-height: 14px;
            margin-bottom: 12px;
        }
        .msg-a-vista,
        .valor-dividido,
        .valor-total-parcelado{
            font-size: 13px;
            color: #3B4850;
            font-weight: $regular;
            line-height: 16px;
            display: block;
            label {
                color: #3B4850;
                font-weight: $semiBold;
                display: inline-block;
                margin: 0;
            }
        }
        .new-sku-best-price{
            font-weight: $regular;
            font-size: 13px;
            color: #3B4850;
            line-height: 16px;
        }
        .preco-a-vista{
            font-size: 17px;
            color: $colorPrimary;
            line-height: 22px;
            margin-top: 3px;
            display: block;
            strong{
                font-weight: $extraBold;
                font-size: 22px;
                color: $colorSecondary;
            }
        }
        .economia-de{
            display: none;
        }
    }

    main {
        > .showcase{
            position: relative;
        }
        .product-main {
            background: #fff;
            padding-bottom: 35px;

            #admake-product-js-infos{
                padding: 0;
                @media( min-width: 992px ){
                    padding: 20px 0 20px 97px;
                }
                ul{
                    margin: -10px -5px;
                    @media( min-width: 768px ){
                        margin: -10px;
                    }
                    &.info-verde{
                        .informacoes-border{
                            background: #2EC4B6;
                        }
                    }
                    &.info-azul{
                        .informacoes-border{
                            background: #0076AA;
                        }
                    }
                    .informacoes-item{
                        padding: 10px 5px;
                        width: 33.33333333%;
                        @media( min-width: 768px ){
                            padding: 10px;
                        }
                        .informacoes-border{
                            padding: 5px;
                            border-radius: 3px;
                            text-align: center;
                            font-weight: $regular;
                            font-size: 10px;
                            color: #FFFFFF;
                            line-height: 13px;
                            max-width: 140px;
                            display: block;
                            margin: auto;
                            min-height: 50px;
                            height: 100%;
                            @media( min-width: 768px ){
                                font-size: 11px;
                            }
                        }
                        strong{
                            font-weight: $bold;
                            font-size: 10px;
                            color: #FFFFFF;
                            display: block;
                            line-height: 13px;
                            margin-bottom: 5px;
                            @media( min-width: 768px ){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .product-image-flags {
                position: relative;

                
               
                .product-image {
                    #show {
                        display: none;
                        position: relative;
                        #include {
                            padding-left: 97px;
                            #image {
                                background: #fff;
                                border: 1px solid #F2F6F7;
                                border-radius: 3px;
                                padding: 2px;
                                .zoomPad {
                                    overflow: hidden;
                                    position: relative;
                                }
                                .zoomWindow {
                                    overflow: hidden;
                                    left: 0 !important;
                                    right: 0 !important;
                                    bottom: 0 !important;
                                    top: 0 !important;
                                    z-index: 10 !important;
                                }
                                .image-zoom {
                                    display: block;
                                    text-align: center;
                                    max-width: 500px;
                                    margin: 0 auto;
                                }
                                #image-main {
                                    display: block;
                                    margin: 0 auto;
                                    max-width: 100%;
                                }
                                .zoomWrapperImage {
                                    img {
                                        min-width: 1200px;
                                    }
                                }
                            }
                        }
                        #btn-movie{
                            cursor: pointer;
                            width: 69px;
                            height: 69px;
                            position: absolute;
                            bottom: -30px;
                            left: 0;
                            border-radius: 3px;
                            border: 1px solid #013365;
                            background: #fff;
                            padding: 0;
                            i{
                                font-size: 30px;
                                line-height: 30px;
                                display: block;
                                color: #013365;
                            }
                            span{
                                display: block;
                                font-size: 9px;
                                line-height: 11px;
                                color: #013365;
                                text-transform: uppercase;
                            }
                            &:hover{
                                border-color: #000;
                                i, span{
                                    color: #000;
                                }
                            }
                        }
                        .thumbs {
                            top: 0;
                            left: 0;
                            width: 70px;
                            position: absolute;
                            &.slick-vertical{
                                padding: 20px 0;
                            }
                            .slick-arrow{
                                background: transparent;
                            }
                            li {
                                padding: 10px 0;
                                text-align: center;
                                
                                a, button {
                                    @include size(69px, 69px);
                                    border-radius: 3px;
                                    text-align: center;
                                    background: #FFFFFF;
                                    padding: 6px;
                                    border: 1px solid #D8D8D8;
                                    display: inline-block;
                                    box-shadow: 0 4px 10px 0 transparent;
                                    img {
                                        width: 55px;
                                        height: 55px;
                                        display: block;
                                        margin: auto;
                                    }
                                    &.ON,
                                    &:hover {
                                        border-color: #0076AA;
                                    }
                                }
                            }
                        }
                    }
                    .product-image-mobile {
                        img {
                            margin: auto;
                        }
                        .slick-dots{
                            margin: 3px 0 20px;
                            li{
                                button{
                                    background: #F4F4F4;
                                    opacity: 1;
                                }
                                &.slick-active{
                                    button{
                                        background: #E02C3E;
                                        box-shadow: 0 2px 0 0 rgba(0,0,0,0.13);
                                    }
                                }
                            } 
                        }
                    }
                }
                .product-flags {
                    position: absolute;
                    top: 0;
                    right: 2px;
                    z-index: 1;
                    .flag {
                        @extend %flag;
                        &.retira-loja{
                            background: #435B9F;
                        }
                        // &[class*="frete-gratis"]{
                            font-size: 13px;
                            padding: 5px 10px;
                        // }
                    }
                }
            }
            .product-name{
                margin-top: 20px;
                @media( min-width: 768px ){
                    margin: 0;
                }
                .productName{
                    font-weight: $medium;
                    font-size: 20px;
                    color: #0076AA;
                    letter-spacing: 0;
                    line-height: 22px;
                    margin: 0 0 11px;
                }
            }
            .model-cod{
                margin-bottom: 15px;
                .product-model-sku{
                    &, a, div{
                        font-weight: $semiBold;
                        font-size: 11px;
                        color: #3B4850;
                        line-height: 16px;
                    }
                    > div{
                        margin-left: 4px;
                        font-weight: $medium;
                    }
                }
            }
            .evaluation{
                a{
                    font-weight: $regular;
                    font-size: 11px;
                    color: #0076AA;
                    line-height: 15px;
                    strong{
                        display: none;
                    }
                    > span{
                        // display: inline-block;
                        // vertical-align: middle;
                        // margin-left: 4px;
                        // font-size: 0;
                        // color: transparent;
                    }
                }
            }

            .price-border{
                background: #F2F6F7;
                padding: 27px 21px;
                border-radius: 3px;
                position: relative;
                z-index: 2;
                margin-top: 15px;
                @media( min-width: 768px ){
                    margin-top: 0;
                }
            }

            .product-variations {
                .topic {
                    margin-bottom: 14px;
                    .specification{
                        display: block;
                        font-weight: $regular;
                        font-size: 13px;
                        color: #3B4850;
                        line-height: 20px;
                        margin-bottom: 8px;
                    }
                    .skuList{
                        margin: -2px;
                        input{
                            display: none;
                        }
                        label{
                            background: #FFFFFF;
                            font-weight: $regular;
                            font-size: 11px;
                            color: #3B4850;
                            line-height: 13px;
                            min-width: 76px;
                            height: 21px;
                            padding: 5px 6px;
                            border-radius: 3px;
                            display: inline-block;
                            vertical-align: middle;
                            margin: 2px;
                            transition: 300ms all;
                            cursor: pointer;
                            &.sku-picked,
                            &:hover{
                                background: #0076AA;
                            }
                            &:before{
                                @include fontAwesome('\f111', 'far');
                                color: #768C9A;
                                font-size: 11px;
                                line-height: 11px;
                                display: inline-block;
                                vertical-align: top;
                                margin-right: 7px;
                            }
                            &.sku-picked{
                                color: #fff;
                                &:before{
                                    @include fontAwesome('\f111', 'fas');    
                                    color: #0076AA;
                                    border: 3px solid #fff;
                                    border-radius: 100%;
                                    font-size: 5px;
                                    line-height: 5px;
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-right: 7px;
                                }
                            }
                        }
                        &.select{
                            
                        }
                    }
                }
            }
            .portal-notify-me-ref {
                // padding: 20px;
                text-align: center;
                h3 {
                    @include title-default(20px, $color3, $mb: 10px);
                }
                p {
                    color: $colorPrimary;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                fieldset {
                    position: relative;
                    input {
                        vertical-align: middle;
                        height: 45px;
                        background: #fff;
                        &[type="text"] {
                            width: 100%;
                            &.notifyme-client-email {
                                padding-right: 50px;
                                margin: 5px 0 0;
                            }
                        }
                        &[type="button"] {
                            @extend %reset-btn;
                            @include size(45px);
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-align: center;
                            line-height: 45px;
                            color: $colorSecondary;
                            &::before {
                                @include fontAwesome("\f30b", $color: $color3);
                            }
                        }
                    }
                }
                @include media-queries('phone-wide') {
                    // padding: 30px 40px;
                    p {
                        margin-bottom: 25px;
                    }
                }
                @include media-queries('tablet') {
                    fieldset {
                        input {
                            &[type="text"] {
                                width: 49%;
                                &.notifyme-client-email {
                                    margin: 0 0 0 5px;
                                }
                            }
                            &[type="button"] {
                                right: 5px;
                            }
                        }
                    }
                }
            }
            .product-price {
                
            }
            .other-payments{
                display: block;
                position: relative;
                // border: 1px solid #F2F6F7;
                border-radius: 3px;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 0;
                z-index: 1;
                @media( min-width: 768px ){
                    // padding: 27px 21px;
                }
                .titulo-parcelamento{
                    font-weight: $semiBold;
                    font-size: 13px;
                    color: #fff;
                    border-radius: 3px;
                    background: #013365;
                    line-height: 14px;
                    padding: 15px;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    i{
                        margin-left: 10px;
                    }
                    &:hover{
                        background: darken(#013365, 10%);
                    }
                }
                .see-other-payment-method-link{
                    display: none!important;
                }
                .other-payment-method-ul{
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    padding: 0 15px;
                    overflow: hidden;
                    transition: 300ms all;
                    &.active{
                        padding: 15px;
                        margin-top: 15px;
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                    }
                    @media( min-width: 768px ){
                        column-count: 2;
                    }
                    li{
                        padding: 5px 0;
                        &.vista{
                            display: none;
                        }
                        *{
                            font-weight: $regular;
                            font-size: 13px;
                            color: #3B4850;
                            line-height: 16px;
                        }
                        strong{
                            // &:after{
                            //     content: " sem juros";
                            //     display: inline-block;
                            //     vertical-align: top;
                            //     margin-left: 4px;
                            //     font-weight: $regular;
                            //     font-size: 13px;
                            //     color: #3B4850;
                            //     line-height: 16px;
                            // }
                        }
                    }
                }
            }
            
            .col-buy-button {
                margin-top: 20px;
                @media( min-width: 992px ){
                    min-width: 280px;
                    margin-top: 0;
                }
                .unitSelector{
                    display: none;
                }
            }
            
            .product-shipping {
                .ad-shipping-form {
                    overflow: hidden;
                    padding-top: 25px;
                    background: #fff;
                    position: relative;
                    h5 {
                        font-weight: $regular;
                        font-size: 13px;
                        color: #3B4850;
                        letter-spacing: 0;
                        line-height: 20px;
                        i{
                            display: none;
                        }
                    }
                    .box-input {
                        position: relative;
                        margin: 0 8px;
                        @media( max-width: 767px ){
                            margin: 5px 10px 0 0;
                            max-width: 140px;
                            display: inline-block;

                        }
                        input {
                            font-size: 12px;
                            color: #3B4850;
                            letter-spacing: 0;
                            max-width: 100%;
                            font-size: 12px;
                            height: 35px;
                        }
                        #btn-shipping {
                            position: absolute;
                            top: 1px;
                            right: 1px;
                            border: 0 none;
                            border-radius: 3px;
                            text-align: center;
                            width: 33px;
                            height: 33px;
                            font-size: 17px;
                            background: #0076AA;
                            color: #fff;
                        }
                    }
                    a {
                        font-weight: $light;
                        font-size: 13px;
                        color: #3B4850;
                        line-height: 20px;
                        &:hover {
                            color: $colorSecondary;
                        }
                    }
                }
                #shipping-results {
                    margin: 10px 0 0;
                    p{
                        color: $color3;
                    }
                    .alert {
                        background: #F3F3F3;
                    }
                    table {
                        th, td{
                            padding: 5px 4px;
                        }
                        th {
                            color: $colorPrimary;
                            font-size: 11px;
                            text-align: left;
                            border-top: 0;
                            font-weight: $bold;
                        }
                        td {
                            color: $color3;
                            font-size: 11px;
                            text-align: left;
                            &.value {
                                font-weight: $bold;
                                min-width: 85px;
                            }
                        }
                    }
                }
            }
        }

        #admake-anchor-product-info{
            @media( min-width: 768px ){
                margin-top: 10px;
            }
            .adamke-anchor-list{
                height: 50px;
                background: #E3ECEF;
                border-radius: 3px;
                padding: 0 100px;
                @media( max-width: 767px ){
                    display: none!important;
                }
                > li{
                    a{
                        display: block;
                        margin-top: -6px;
                        height: 56px;
                        border-radius: 3px;
                        background: #013365;
                        font-weight: $bold;
                        font-size: 14px;
                        color: #FFFFFF;
                        line-height: 26px;
                        padding: 15px;
                        text-align: center;
                        @media( min-width: 992px ){
                            min-width: 190px;
                            font-size: 16px;
                        }
                        &:hover{
                            background: darken(#013365, 10%);
                        }
                    }
                }
            }
            .adamke-anchor-content{
                padding: 15px 0;
                border-radius: 3px;
                border-top: 1px solid #E8EDEF;
                @media( min-width: 768px ){
                    padding: 50px 15px;
                }
                &#diferenciais-anchor{
                    background: #F2F6F7;
                    border: 0 none;
                }
                &#descricao-anchor{
                    border: 0 none;
                    > h3{
                        display: none;
                    }
                    h3{
                        text-align: left;
                    }
                }
                h3{
                    font-weight: $bold;
                    font-size: 18px;
                    color: #013365;
                    line-height: 20px;
                    margin: 0 0 21px;
                    text-align: center;
                }
            }
            #diferenciais-anchor{
                padding-left: 15px;
                padding-right: 15px;
                @media( min-width: 768px ){
                    padding-left: 35px;
                    padding-right: 35px;
                }
                ul{
                    li{
                        background: #fff;
                        border-radius: 3px;
                        max-width: 283px;
                        width: 100%;
                        padding: 15px;
                        margin: 15px;
                        text-align: center;
                        font-weight: $light;
                        font-size: 13px;
                        color: #3B4850;
                        line-height: 17px;
                        @media( min-width: 768px ){
                            margin: 15px;
                            width: 33.3333333%;
                        }
                        br{
                            display: none!important;
                        }
                        span{
                            display: block;
                            margin-bottom: 10px;
                            img{
                                max-width: 100%;
                                height: auto;
                                display: table;
                                margin: auto;
                            }
                        }
                        strong{
                            font-weight: $bold;
                            display: block;
                            font-size: 15px;
                            color: #0076AA;
                            text-transform: uppercase;
                            text-align: center;
                            margin: 0 0 10px;
                        }
                    }
                }
            }
            #caracteristicas-anchor{
                ul{
                    margin: -5px;
                    @media( min-width: 768px ){
                        margin: -15px;
                    }
                    li{
                        width: 50%;
                        padding: 5px;
                        @media( min-width: 768px ){
                            padding: 15px;
                            width: 33.33333333%;
                        }
                        @media( min-width: 992px ){
                            width: 20%;
                        }
                        .caracteristica-border{
                            height: 100%;
                            background: #2EC4B6;
                            border-radius: 3px;
                            padding: 10px 5px;    
                            text-align: center;
                            font-weight: $regular;
                            font-size: 11px;
                            color: #FFFFFF;
                            line-height: 17px;
                            @media( min-width: 768px ){
                                padding: 20px 15px; 
                                font-size: 13px;
                            }
                        }
                        strong{
                            font-weight: $bold;
                            font-size: 12px;
                            color: #FFFFFF;
                            display: block;
                            text-transform: uppercase;
                            text-align: center;
                            margin: 0 0 10px;
                            @media( min-width: 768px ){
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            #descricao-anchor{
                img{
                    max-width: 100%;
                    height: auto;
                    width: auto;
                }
                .description-box{
                    font-weight: $light;
                    font-size: 14px;
                    color: #3B4850;
                    line-height: 22px;
                    h4{
                        font-weight: $bold;
                        font-size: 14px;
                        color: #013365;
                        line-height: 16px;
                        margin: 15px 0 10px;
                    }
                    strong, b{
                        font-weight: $bold;
                    }
                }
            }
            #especificacoes-anchor{
                table{
                    width: 100%;
                    tr{
                        background: #F2F6F7;
                        &.even{
                            background: #fff;
                        }
                    }
                    td,th{
                        font-weight: $medium;
                        font-size: 12px;
                        color: #3B4850;
                        line-height: 20px;
                        padding: 15px 5px;
                        @media( min-width: 768px ){
                            font-size: 15px;
                            width: 50%;
                            padding: 20px;
                        }
                    }
                }
                .link-manual{
                    background: #DB532A;
                    width: 295px;
                    height: 45px;
                    border-radius: 3px;
                    padding: 10px;
                    text-align: center;
                    margin: 20px auto 0;
                    font-weight: $semiBold;
                    font-size: 13px;
                    color: #FFFFFF;
                    line-height: 20px;
                    text-align: center;
                    display: table;
                    &:hover{
                        background: darken(#DB532A, 5%);
                    }
                }
            }
        }
        
        #admake-tab-product-info{
            background: #fff;
            padding-top: 35px;
            padding-bottom: 80px;
            .adamke-tabs-content{
                padding: 25px 0;
                
                font-size: 14px;
                color: #AAAAAA;
                letter-spacing: 0;
                line-height: 20px;
                .productDescription{
                    padding: 15px 0;
                }
                h4{
                    font-weight: $bold;
                    font-size: 14px;
                    color: $colorPrimary;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin: 15px 0 10px;
                }

                table{
                    th, td{
                        font-size: 13px;
                        color: #8E8786;
                    }
                    th{
                        font-weight: $semiBold;
                    }
                    td{
                    }
                }
            }
        }
    }
}


#modal-movie{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999999;
    background: #000;
    background: rgba(0,0,0,.9);
    .mask{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        .btn-close{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            border: 0 none;
            box-shadow: 0 0 0 transparent;
            background: transparent;
            color: #fff;
            text-shadow: $textShadow;
            font-size: 30px;
            line-height: 50px;
            padding: 0;
            cursor: pointer;
            &:hover{
                transform: rotate(90deg);
            }
        }
    }
    #player{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        max-width: 100%;
        max-height: 100%;
    }
}

#modal-photos{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999999;
    background: rgba(0,0,0,7/10);
    display: none;
    .mask{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0,0,0,7/10);
        &:before{
            @include fontAwesome('\f00d', 'fas');
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            border: 0 none;
            box-shadow: 0 0 0 transparent;
            background: transparent;
            color: #fff;
            text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
            font-size: 30px;
            line-height: 50px;
            padding: 0;
            cursor: pointer;
        }
    }
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 900px;
        margin: auto;
        transform: translate(-50%, -50%);
        display: block;
        overflow: hidden;
        z-index: 2;
        padding: 30px;
        max-height: 90%;
        img{
            display: block;
            margin: auto;
            max-width: 100%;;
            height: auto;
            max-height: 530px;
        }
    }
}

.seller-description{
    .seller-name{
        font-weight: $regular;
        font-size: 10px;
        color: #3B4850;
        // text-align: center;
        a{
            color: #3B4850;
            font-weight: $bold;
        }
    }
}
.seller-message{
    .seller-img{
        text-align: center;
        width: 50%;
        > b{
            font-weight: $bold;
            font-size: 13px;
            color: #003166;
            line-height: 14px;
            display: block;
        }
        > img{
            display: block;
            margin: 10px auto;
        }
    }
}
#seller-info{
    .sellers{
        > h3{
            border-top: 1px solid #E8EDEF;
            font-weight: $bold;
            font-size: 13px;
            color: #003166;
            letter-spacing: 0;
            line-height: 12px;
            margin: 25px 0 0;
            text-transform: none;
            padding: 15px 0;
        }
    }
    .box{
        > ul{
            > li{
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-align: center!important;
                align-items: center!important;
                -ms-flex-pack: justify!important;
                justify-content: space-between!important;
                border-top: 1px solid #E8EDEF;
                padding: 15px 0;
                &:first-child{
                    border-top: 0 none;
                }
                h4{
                    margin: 0;
                    padding: 0;
                    a{
                        font-weight: $bold;
                        font-size: 16px;
                        color: #0076AA;
                        letter-spacing: 0;
                        line-height: 12px;
                        text-transform: none;
                        display: block;
                        &:after{
                            content: "Loja Parceira";
                            display: block;
                            font-weight: $regular;
                            font-size: 10px;
                            color: #003166;
                            line-height: 11px;
                            max-width: 42px;
                            margin-top: 3px;
                        }
                    }
                }
                .photo{
                    display: none;
                }
                span{
                    font-weight: $bold;
                    font-size: 16px;
                    color: #DF6400;
                    line-height: 20px;
                }
                .buy-button-sellers{
                    display: block;
                    width: 103px;
                    height: 31px;
                    border-radius: 3px;
                    background: $colorSuccess;
                    border: 0 none;
                    color: #fff;
                    font-weight: $semiBold;
                    font-size: 11px;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 31px;
                    padding: 0;
                    &:hover{
                        background: darken($colorSuccess, 10%);
                    }
                }
                .seller-shipping{
                    b{
                        font-weight: $bold;
                        font-size: 13px;
                        color: #0076AA;
                        line-height: 14px;
                        display: block;
                        margin-bottom: 3px;
                    }
                    span{
                        display: block;
                        font-weight: $regular;
                        font-size: 10px;
                        color: #ABB3B6;
                        margin: 0;
                        line-height: 11px;
                        max-width: 110px;
                    }
                    table{
                        th{
                            font-weight: $bold;
                            font-size: 11px;
                            color: #0076AA;
                            line-height: 15px;
                            padding: 0 5px;
                        }
                        td{
                            padding: 0 5px;
                            font-weight: $regular;
                            font-size: 11px;
                            color: #A6AEB1;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}