.iframe-credit-card-payment-group{
    h5{
        font-size: 16px;
        line-height: 20px;
        font-weight: $medium;
        color: $colorText;
    }
    input, label, select{
        box-sizing: border-box;
    }
    input,select{
        height: 35px;
        line-height: 35px;
        border-radius: 5px;
    }
    .add-on{
        height: 35px;
        border: 1px solid $colorBorder;
        background: $colorBorder;
        color: $colorText;
        padding: 0 5px;
        line-height: 33px;
        box-sizing: border-box;
        text-shadow: 0 0 0 transparent;
    }
    input[type="checkbox"],
    input[type="radio"]{
        height: auto;
        line-height: none;
        margin-right: 5px;
    }
    label{
        font-size: 13px;
        color: $colorText;
        font-weight: $medium;
        line-height: 20px;
    }
    .PaymentCardCVV{
        input,label{
            display: inline-block!important;
            vertical-align: middle;
            margin: 0;
            float: none;
        }
    }
    .CardForm{
        >div,>p, .PaymentCardHolderName{
            margin-bottom: 10px;
        }
        .PaymentCardFlags{
            margin: 10px 0 20px;
        }
    }
    .card-flags{
        @extend %d-flex;
        @extend %align-items-center;
        input{
            display: none;
        }
    }
    .ChangeNumberOfPayments{
        a{
            color: $colorPrimary;
            font-size: 14px;
            line-height: 20px;
            font-weight: $regular;
        }
    }
}