<div class="header-container">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <div class="container">
            <div class="logo">
                <a href="/" title="H2O Purificadores" class="link-logo">
                    <img src="https://hdoiso.vteximg.com.br/arquivos/header-logo-fechamento.png" />
                </a>
            </div>
    
            <div class="header-contato">
                <div class="header-contatoSeguranca">
                    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                        <path fill="#ffffff" d="M256 32c123.5 0 224 100.5 224 224S379.5 480 256 480 32 379.5 32 256 132.5 32 256 32m0-32C114.625 0 0 114.625 0 256s114.625 256 256 256 256-114.625 256-256S397.375 0 256 0zm142.719 341.594l-1.438-4.375c-3.375-10.062-14.5-20.562-24.75-23.375L334.688 303.5c-10.25-2.781-24.875.969-32.405 8.5l-13.688 13.688c-49.75-13.469-88.781-52.5-102.219-102.25l13.688-13.688c7.5-7.5 11.25-22.125 8.469-32.406L198.219 139.5c-2.781-10.25-13.344-21.375-23.406-24.75l-4.313-1.438c-10.094-3.375-24.5.031-32 7.563l-20.5 20.5c-3.656 3.625-6 14.031-6 14.063-.688 65.063 24.813 127.719 70.813 173.75 45.875 45.875 108.313 71.345 173.156 70.781.344 0 11.063-2.281 14.719-5.938l20.5-20.5c7.5-7.469 10.874-21.875 7.531-31.937z"/>
                    </svg>
                    <span><strong>ATENDIMENTO:</strong> (11) 5831-6666</span>
                </div>
            </div>
    
            <div class="header-seguranca">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <g fill="#ffffff">
                        <path d="M230.792 354.313l-6.729 60.51a10.67 10.67 0 0 0 10.604 11.844h42.667a10.67 10.67 0 0 0 10.604-11.844l-6.729-60.51c10.927-7.948 17.458-20.521 17.458-34.313 0-23.531-19.135-42.667-42.667-42.667S213.333 296.469 213.333 320c0 13.792 6.532 26.365 17.459 34.313zM256 298.667c11.76 0 21.333 9.573 21.333 21.333 0 8.177-4.646 15.5-12.125 19.125a10.673 10.673 0 0 0-5.958 10.781l6.167 55.427h-18.833l6.167-55.427c.5-4.49-1.885-8.802-5.958-10.781-7.479-3.625-12.125-10.948-12.125-19.125-.001-11.76 9.572-21.333 21.332-21.333z"/>
                        <path d="M437.333 192h-32v-42.667C405.333 66.99 338.344 0 256 0S106.667 66.99 106.667 149.333V192h-32A10.66 10.66 0 0 0 64 202.667v266.667C64 492.865 83.135 512 106.667 512h298.667C428.865 512 448 492.865 448 469.333V202.667A10.66 10.66 0 0 0 437.333 192zM128 149.333c0-70.583 57.417-128 128-128s128 57.417 128 128V192h-21.333v-42.667c0-58.813-47.854-106.667-106.667-106.667S149.333 90.521 149.333 149.333V192H128v-42.667zm213.333 0V192H170.667v-42.667C170.667 102.281 208.948 64 256 64s85.333 38.281 85.333 85.333zm85.334 320c0 11.76-9.573 21.333-21.333 21.333H106.667c-11.76 0-21.333-9.573-21.333-21.333v-256h341.333v256z"/>
                    </g>
                </svg>
                <span>Compra <strong>100% Segura</strong></span>
            </div>
        </div>
    </div>