#set($id 				= $product.Id)
#set($uri 				= $product.Uri)
#set($escapedName 		= $product.HtmlEscapedName)
#set($evaluationRate 	= $product.EvaluationRate)

#set($textAddToCart 	= 'Adicionar ao Carrinho')
#set($addToCartInImage 	= false)
#set($shortDescription 	= false)
#set($departmentLink 	= false)
#set($categoryLink 		= false)
#set($brandLink 		= false)

#if ($product.IsInStock)
<div class="ad-showcase-create-your-shop" data-id="$id">
#else
<div class="ad-showcase-create-your-shop out-of-stock" data-id="$id">
#end
    <div class="product-info d-flex align-items-center flex-wrap flex-sm-nowrap">

        <div class="product-checkbox">
            <label for="product-active-$id">
                <input type="checkbox" class="d-none" checked="checked" name="product-active" id="product-active-$id" />
                <i class="far fa-times-circle"></i>
            </label>
        </div>

        <div class="product-image">
            <a title="$escapedName" href="$uri">
                <!-- 
                    ImagemProdutoVitrinePequena (Tamanho: 65×65) 	= 1;
                    ImagemProdutoVitrineMedia 	(Tamanho: 90×90) 	= 29;
                    ImagemProdutoVitrineGrande 	(Tamanho: 130×130) 	= 30;
                    ImagemProdutoPrincipal 		(Tamanho: 250×250) 	= 2;
                    ImagemProdutoThumb 			(Tamanho: 45×45) 	= 3;
                    ImagemProdutoZoom 			(Tamanho: 344×344)	= 10;
                -->
                $product.GetImageTag(1)
            </a>
        </div>

        <div class="product-name">
            <a title="$escapedName" href="$uri">$product.Name</a>
        </div>

        <div class="product-variation mr-auto">

        </div>

        #if ($product.IsInStock)
		<div class="product-price" data-numbers-of-installment="${product.NumbersOfInstallment}" data-max-numbers-of-installment="${product.MaxNumbersOfInstallment}">
            <span class="old-price">
                #if ($product.HasBestPrice)
                    $product.ListPrice
                #end
            </span>
            <span class="best-price"><strong>$product.BestPrice</strong></span>
                
            <div class="d-none">
            #if ($product.NumbersOfInstallment > 1)
                <span class="installment">
                    <strong>ou até ${product.NumbersOfInstallment}x</strong> de <strong>$product.InstallmentValue</strong> sem juros
                </span>
            #else
                #if ($product.MaxNumbersOfInstallment > 1)
                    <span class="installment installment-max">
                        <strong>ou até ${product.MaxNumbersOfInstallment}x</strong> de <strong>$product.MaxInstallmentValue</strong> com juros
                    </span>
                #end
            #end
            </div>
        </div>
        #else
            <div class="msg-out-of-stock">Sem estoque</div> 
        #end

        <div class="product-qty-box">
            <div class="qty">
                <button class="add-remove-qty del">-</button>
                <input type="number" max="99" min="1" class="input-qty" value="1"/> 
                <button class="add-remove-qty add">+</button>
            </div>
        </div>

        <div class="product-total-price">
            <span class="old-price">
                #if ($product.HasBestPrice)
                    $product.ListPrice
                #end
            </span>
            <span class="best-price"><strong>$product.BestPrice</strong></span>
        </div>

        <button class="btn-alter-product"><i class="fas fa-sync-alt"></i> Alterar</button>

    </div>
    
</div>