#set($id 				= $product.Id)
#set($uri 				= $product.Uri)
#set($escapedName 		= $product.HtmlEscapedName)
#set($evaluationRate 	= $product.EvaluationRate)

#set($textAddToCart 	= 'Adicionar ao Carrinho')
#set($shortDescription 	= false)
#set($departmentLink 	= false)
#set($categoryLink 		= false)
#set($brandLink 		= false)

#if ($product.IsInStock)
<div class="ad-showcase-product" data-id="$id">
#else
<div class="ad-showcase-product out-of-stock" data-id="$id">
#end

	<div class="product-image">
		<a title="$escapedName" href="$uri">
			<!-- 
				ImagemProdutoVitrinePequena (Tamanho: 65×65) 	= 1;
				ImagemProdutoVitrineMedia 	(Tamanho: 90×90) 	= 29;
				ImagemProdutoVitrineGrande 	(Tamanho: 130×130) 	= 30;
				ImagemProdutoPrincipal 		(Tamanho: 250×250) 	= 2;
				ImagemProdutoThumb 			(Tamanho: 45×45) 	= 3;
				ImagemProdutoZoom 			(Tamanho: 344×344)	= 10;
			-->
			$product.GetImageTag(2)
		</a>
		<div class="product-flags">
			#if($product.ListPriceMinusBestPriceInPercent > 0)
			<div class="percent flag">
				-<span>$product.ListPriceMinusBestPriceInPercent</span>
			</div>
			#end
			$product.HightLight
			<div class="discount">
				$product.DiscountHightLight
			</div>
		</div>
	</div>

	<div class="product-name">
		<a title="$escapedName" href="$uri">$product.Name</a>
	</div>
	
	<!-- Trustvox -->
        <div class="trustvox-showcase" style="text-align: center">
           <div data-trustvox-product-code="$product.Id"></div>
        </div>
    <!-- /Trustvox -->
	
	#if ($product.IsInStock)
		<div class="product-price">
			
    		<a title="$escapedName" href="$uri">
				<span class="old-price">
					#if ($product.HasBestPrice)
						De <span>$product.ListPrice</span> por
					#end
				</span>
				<span class="best-price"><strong>$product.BestPrice</strong></span>
				<span class="discount-msg" style="display: none;">desconto à vista 1X cartão ou boleto</span>
				
				#if ($product.NumbersOfInstallment > 1)
					<span class="installment">
						<strong>${product.NumbersOfInstallment}x</strong> de <strong>$product.InstallmentValue</strong> iguais
					</span>
				#else
					#if ($product.MaxNumbersOfInstallment > 1)
						<span class="installment installment-max">
							<strong>${product.MaxNumbersOfInstallment}x</strong> de <strong>$product.MaxInstallmentValue</strong> iguais
						</span>
					#end
				#end
				<span class="best-price-not-discount" style="display: none;">Total a prazo <strong>$product.BestPrice</strong></span>
			</a>
		</div>

		<div class="product-buy">
			<!-- $product.BottomBuy -->
			<div class="buy-button-normal">
				<a class="buy-button-normal-a" href="$uri" title="Ver detalhes">VER DETALHES</a>
			</div>
		</div>
		
	#else
		<a href="$uri" class="msg-out-of-stock">Avise-me</a> 
	#end
</div>