#set($id 				= $product.Id)
#set($uri 				= $product.Uri)
#set($escapedName 		= $product.HtmlEscapedName)
#set($evaluationRate 	= $product.EvaluationRate)

#set($textAddToCart 	= 'Adicionar ao Carrinho')
#set($addToCartInImage 	= false)
#set($shortDescription 	= false)
#set($departmentLink 	= false)
#set($categoryLink 		= false)
#set($brandLink 		= false)

#if ($product.IsInStock)
<div class="ad-showcase-product ad-showcase-product-suggestion" data-id="$id">
#else
<div class="ad-showcase-product ad-showcase-product-suggestion out-of-stock" data-id="$id">
#end

	<div class="product-name">
		<a title="$escapedName" href="$uri">$product.Name</a>
	</div>

	<div class="product-image">
		<a title="$escapedName" href="$uri">
			<!-- 
				ImagemProdutoVitrinePequena (Tamanho: 65×65) 	= 1;
				ImagemProdutoVitrineMedia 	(Tamanho: 90×90) 	= 29;
				ImagemProdutoVitrineGrande 	(Tamanho: 130×130) 	= 30;
				ImagemProdutoPrincipal 		(Tamanho: 250×250) 	= 2;
				ImagemProdutoThumb 			(Tamanho: 45×45) 	= 3;
				ImagemProdutoZoom 			(Tamanho: 344×344)	= 10;
			-->
			$product.GetImageTag(30)
		</a>
	</div>
	
	#if ($product.IsInStock)
		<div class="product-price">
			<a title="$escapedName" href="$uri">
				<span class="old-price">
					#if ($product.HasBestPrice)
						De $product.ListPrice
					#end
				</span>
				<span class="best-price">Por <strong>$product.BestPrice</strong></span>
			</a>
		</div>
	#else
		<p class="msg-out-of-stock">Sem estoque</p> 
	#end
</div>