@media( max-width: 767px ){
    #footer .footer-institucional-payments{
        .accordion-content{
            width: 100%;
            &.active{
                .accordion-btn{
                    &:before{
                        transform: scaleY(-1);
                    }
                    & + ul {
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                        padding: 10px 0;
                    }   
                }
            }
            .accordion-btn{
                margin: 0;
                padding: 10px 0;
                font-weight: $semiBold;
                font-size: 13px;
                border-bottom: 1px solid #E3E3E3;
                color: #013365;
                letter-spacing: 0;
                line-height: 20px;
                position: relative;
                cursor: pointer;
                &:before{
                    @include fontAwesome('\f107', 'fas');
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -12px;
                    text-align: center;
                    border-radius: 100%;
                    line-height: 24px;
                    color: #013365;
                    font-size: 13px;
                    letter-spacing: 0;
                }
                & + ul{
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    padding: 0;
                    transition: 300ms all;
                }   
            }
        }
    }
}