﻿#benefits-banner{
    position: relative;
    background: #0076AA; /* Old browsers */
    @media( min-width: 768px ){
        background: -moz-linear-gradient(left, #f2f6f7 0%, #f2f6f7 35%, #0076aa 35%, #0076aa 35%, #0076aa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f2f6f7 0%,#f2f6f7 35%,#0076aa 35%,#0076aa 35%,#0076aa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f2f6f7 0%,#f2f6f7 35%,#0076aa 35%,#0076aa 35%,#0076aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f7', endColorstr='#0076aa',GradientType=1 ); /* IE6-9 */
    }
    @media( min-width: 992px ){
        background: -moz-linear-gradient(left, #f2f6f7 0%, #f2f6f7 50%, #0076aa 50%, #0076aa 50%, #0076aa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f2f6f7 0%,#f2f6f7 50%,#0076aa 50%,#0076aa 50%,#0076aa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f2f6f7 0%,#f2f6f7 50%,#0076aa 50%,#0076aa 50%,#0076aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f7', endColorstr='#0076aa',GradientType=1 ); /* IE6-9 */
    }
    .container{
        position: relative;
        z-index: 2;
    }
}
#benefits-banner{
    ul{
        margin: 0 -10px;
        li{
            padding: 22px 10px;
            margin: 0;
            position: relative;
            -ms-flex-positive: 1!important;
            flex-grow: 1!important;
            &:before{
                content: "";
                width: 1px;
                height: 44px;
                background: #D9E0E4;
                position: absolute;
                top: 50%;
                margin-top: -22px;
                right: 0; 
            }
            &:last-child{
                &:before{
                    display: none!important;
                }
            }
            .icon,
            .text{
                display: inline-block;
                vertical-align: middle;
            }
            .icon{
                margin-right: 3px;
                i{
                    font-size: 19px;
                    color: #2EC4B6;
                    text-align: center;
                }
            }
            .text{
                font-weight: $regular;
                font-size: 13px;
                color: #3B4850;
                line-height: 14px;
                strong{
                    display: block;
                    font-weight: $bold;
                    margin-bottom: 2px;
                    font-size: 13px;
                    color: #013365;
                    line-height: 15px;
                }
            }
        }
    }
}

#benefits-banner-product-page{
    border: 1px solid $colorBorder;
    text-align: center;
    background-image: linear-gradient(-180deg, #F0F0F0 3%, #FAFAFA 15%, #FBFBFB 62%, #E7E7E7 100%);
    background: rgb(240,240,240); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(250,250,250,1) 15%, rgba(251,251,251,1) 62%, rgba(231,231,231,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(250,250,250,1) 15%,rgba(251,251,251,1) 62%,rgba(231,231,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(250,250,250,1) 15%,rgba(251,251,251,1) 62%,rgba(231,231,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    ul{
        -webkit-box-align: start!important;
        -ms-flex-align: start!important;
        align-items: flex-start!important;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        margin: 0;
    }
    li{
        width: 100%;
        display: block;
        margin: 0;
        padding: 10px 0;
        &:nth-child(3){
            position: relative;
            &:after{
                content: "";
                display: block;
                max-width: 100%;
                width: 170px;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edebea+0,edebea+50,edebea+100&0+0,1+50,0+100 */
                background: -moz-linear-gradient(left, rgba(237,235,234,0) 0%, rgba(237,235,234,1) 50%, rgba(237,235,234,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(237,235,234,0) 0%,rgba(237,235,234,1) 50%,rgba(237,235,234,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(237,235,234,0) 0%,rgba(237,235,234,1) 50%,rgba(237,235,234,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edebea', endColorstr='#00edebea',GradientType=1 ); /* IE6-9 */
            }
        }
        &:nth-child(2){
            order: 3;
        }
        &:before,
        &:first-child,
        &:last-child{
            display: none;
        }
    }
}