﻿section.bread-crumb{
    padding: 18px 0;
    border-bottom: 1px solid #E8EDEF;
    display: none;
    background: #fff;
    position: relative;
    margin-bottom: 25px;
    ul{
        position: relative;
        z-index: 3;
        margin: 0 -12px;
        li{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0 12px;
            &, a{
                font-size: 13px;
                line-height: 18px;
                text-transform: capitalize;
            }
            &:not(:last-child){
                &:not(.last){
                    &, a{
                        color: #768C9A;
                    }
                    a:hover{
                        color: #013365;
                    }
                    &::after{
                        content: "";
                        width: 1px;
                        height: 12px;
                        background: #768C9A;
                        position: absolute;
                        right: -1px;
                        top: 3px;
                    }
                }
            }
            &:first-child{
                a{
                    font-size: 0;
                    display: block;
                    line-height: 0;
                    &:before{
                        @include fontAwesome('\f015', 'fas');
                        font-size: 14px;
                        color: #013365;
                        line-height: 18px;
                    }
                }
            }
            &.last, &:last-child{
                &, a{
                    color: #013365;
                }
                a:hover{
                    color: #013365;
                }
            }
        }
    }
    @include media-queries('phone'){
        display: block;
    }
}