﻿// MY CART
#admake-cart-sidebar {
    @include modals;

    .cart-header {
        padding: 19px 0 17px 30px;
        position: relative;
        background: $color3;
        strong {
            @include title-default(18px, #F3F3F3, $mb: 0);
            line-height: 30px;
        }
        .cart-btn-close {
            @include center-absolute($vertical: true, $height: 25px);
            right: 15px;
            i{
                @include btn-close(25px, $color4);
                @include size(25px);
                display: block;
            }            
        }
    }
    .cart-body {
        padding: 30px 20px 30px 30px;
        overflow-y: auto;
        .cart-loader{
            text-align: center;
            font-size: 30px;
        }
        .cart-items{
            margin: -20px 0;
            > button{
                margin-top: 10px;
                cursor: pointer;
                display: block;
                width: 100%;
                height: 50px;
                border: 1px solid $colorBorder;
                background: #f1f1f1;
                font-weight: $semiBold;
                font-size: 13px;
                color: $colorPrimary;
                letter-spacing: 0;
                &:hover {
                    background: darken(#f1f1f1, 5%);
                }
            }
            .item{
                padding: 20px 0;
                .item-image{
                    max-width: 55px;
                }
                .item-details{
                    width: calc(100% - 70px);
                    padding: 0 15px;
                    .item-name{
                        margin-bottom: 5px;
                        a{
                            color: $colorPrimary;
                            font-weight: $semiBold;
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }
                    .item-qty, .item-listprice, .item-bestprice, .item-freeprice{
                        vertical-align: middle;
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                    .item-qty, .item-bestprice{
                        font-weight: $semiBold;
                    }
                    .item-qty, .item-listprice{
                        margin-right: 3px;
                    }
                    .item-qty{
                        color: $colorPrimary;
                    }
                    .item-listprice{
                        text-decoration: line-through;
                        vertical-align: middle;
                        color: $colorPrimary;
                    }
                    .item-bestprice{
                        color: $colorSuccess;
                    }
                    .item-freeprice{
                        font-size: 11px;
                        margin-left: 5px;
                        color: $color3;
                    }
                }
                .item-remove{
                    color: $color4;
                    &:hover{
                        color: darken($color4, 10%);
                    }
                }
            }
            
        }
    }
    .cart-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        .cart-alerts {
            padding: 0 15px;
            margin: 10px 0;
            li {
                padding: 5px 0;
                font-weight: $semiBold;
                font-size: 12px;
                color: $color4;
                letter-spacing: 0;
            }
        }
        .cart-values {
            >div {
                display: block;
                padding: 17px 15px;
                background: #F3F3F3;
                span, strong{
                    font-weight: $semiBold;
                    letter-spacing: 0;
                }
                span {
                    font-size: 16px;
                    color: $color4;
                }
                strong {
                    font-size: 18px;
                    color: $color3;
                }
            }
        }
        .cart-actions {
            .cart-btn-buy{
                @include title-default(18px, #fff, 0);
                display: block;
                background: $colorSuccess;
                padding: 15px 0;
                letter-spacing: 0;
                text-align: center;

                &::before{
                    @include fontAwesome('\f023', $size: 18px, $display: inline-block, $color: #fff);
                    margin-right: 10px;
                }
                &:hover{
                    background: darken($colorSuccess, 5%)
                }
            }
        }
    }
}