﻿.about-box{
    
}

#page-home{
    #footer{
        .about-box{
            .about-text{
                display: block!important;
            }
        }
    }
}

#footer{
    margin-top: 20px;
    @media( min-width: 768px ){
        margin-top: 50px;
    }
    &:before{
        content: "";
        display: block;
        height: 71px;
        width: 100%;
        background: bg('bg-efect-1.png', $position: bottom center, $repeat: no-repeat, $attachment: scroll, $color: transparent);
        background-size: 100% auto;
        margin-bottom: -2px;
        @media( min-width: 768px ){
            height: 171px;
        }
    }
    .about-box{
        background: #E8EDEF;
        text-align: center;
        padding: 30px 0;
        .about-text{
            display: none!important;
            @media( min-width: 768px ){
                margin-bottom: 55px;
            }
        }
        h3{
            font-weight: $bold;
            font-size: 15px;
            color: #013365;
            line-height: 20px;
            margin: 5px 0 10px;
            @media( min-width: 768px ){
                font-size: 19px;
                line-height: 26px;
                margin: 10px 0 20px;
            }
        }
        p{
            font-weight: $regular;
            font-size: 11px;
            color: #3B4850;
            text-align: center;
            line-height: 20px;
            max-width: 940px;
            margin-left: auto;
            margin-right: auto;
            @media( min-width: 768px ){
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
    .footer-institucional-payments{
        background: #E8EDEF;
        padding: 0;
        @media( min-width: 768px ){
            background: #F2F6F7;
            padding: 25px 0 27px;
        }
        h5{
            font-weight: $bold;
            font-size: 16px;
            color: #013365;
            line-height: 20px;
            margin: 0 0 10px;
            &.title-inline{
                margin: 0 30px 0 0;
            }
        }
        .row-links,
        .row-social{
            @media( min-width: 768px ){
                margin-bottom: 40px;
            }
        }
        .row-links{
            > div{
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .row-social,
        .row-payments-security > div,
        .row-links{
            > div{
                @media( max-width: 767px ){
                    min-width: 100%;
                    padding: 0;
                }
            }
        }
        .row-payments-security{
            @media( min-width: 768px ){
                border-top: 1px solid #E8EDEF;
                padding: 24px 0;
            }
        }
        .col-contacts{
            max-width: 260px;
            li{
                &.phone{
                    padding: 4px 0;
                    i{
                        font-size: 20px;
                        color: #2EC4B6;
                        line-height: 20px;
                        margin-right: 5px;
                        min-width: 20px;
                        text-align: center;
                    }
                    span{
                        font-weight: $bold;
                        font-size: 19px;
                        color: #013365;
                        line-height: 20px;
                    }
                }
                &.email{
                    padding: 8px 0 10px;
                    border-bottom: 1px solid #E8EDEF;
                    i{
                        font-size: 15px;
                        color: #3B4850;
                        line-height: 20px;
                        margin-right: 5px;
                        min-width: 20px;
                        text-align: center;
                    }
                    a{
                        font-size: 13px;
                        color: #3B4850;
                        line-height: 20px;
                        text-decoration: none;
                        &:hover{
                            color: darken(#3B4850, 20%);
                        }
                    }
                }
                &.h-atendimento{
                    padding: 13px 0;
                    border-bottom: 1px solid #E8EDEF;
                    span{
                        display: block;
                        font-weight: $regular;
                        font-size: 12px;
                        color: #3B4850;
                        line-height: 16px;
                        padding: 2px 0;
                        b{
                            color: #013365;
                        }
                    }
                }
                &.link{
                    margin-top: 10px;
                    a{
                        font-size: 12px;
                        color: #000000;
                        line-height: 20px;
                    }
                }
            }
        }
        div.links{
            ul{
                li{
                    padding: 4px 0;
                    a{
                        font-weight: $regular;
                        font-size: 13px;
                        color: #3B4850;
                        text-decoration: none;
                        line-height: 20px;
                        &:hover{
                            color: darken(#3B4850, 20%);
                        }
                    }
                }
            }
        }
        .col-social-links{
            margin-right: 10%;
        }
        .col-security{
            li{
                vertical-align: middle;
                margin-left: 30px;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        ul.social-links{
            margin: -3px;
            li{
                display: inline-block;
                vertical-align: middle;
                padding: 3px;
                a{
                    display: block;
                    width: 47px;
                    height: 47px;
                    background: #E8EDEF;
                    border-radius: 100%;
                    line-height: 48px;
                    text-align: center;
                    text-decoration: none;
                    i{
                        display: block;
                        font-size: 16px;
                        color: #3B4850;
                        line-height: 47px;
                        text-align: center;
                    }
                    &:hover{
                        background:#013365;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .mesage-footer{
            border-top: 1px solid #E8EDEF;
            padding-top: 27px;
            @media( max-width: 767px ){
                text-align: center;
                padding-bottom: 20px;
            }
            p{
                font-weight: $regular;
                font-size: 8px;
                color: #3B4850;
                line-height: 10px;
                margin-bottom: 5px;
                @media( min-width: 768px ){
                    font-size: 10px;
                    line-height: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

#footer-copyright{
    padding: 20px 0;
    text-align: center;
    display: none;
    @media( min-width: 768px ){
        text-align: left;
    }
    .copyright{
        font-weight: $regular;
        font-size: 8px;
        color: #3B4850;
        letter-spacing: 0;
        @media( min-width: 768px ){
            font-size: 11px;
        }
    }
    #footer-signature{
        text-align: right;
        @media( max-width: 767px ){
            text-align: center;    
            width: 100%;
            margin-top: 15px;
        }
        li{
            display: inline-block;
            vertical-align: middle;
        }
    }
}   