input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="password"],
input[type="textarea"],
select {
    box-shadow: none !important;
    height: 30px;
    border-radius: 3px;
    border: 0 none;
    font-weight: $regular;
    font-size: 12px;
    color: #768C9A;
    background: #F2F6F7;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="password"],
input[type="textarea"] {
    padding: 0 10px;
    &:focus {
        background: darken(#F2F6F7, 5%);
    }
}

select {
    @include prefixed(appearance, none);
    margin: 0;
    background: bg($image: 'icon-select2.png', $position: right center, $color: #F2F6F7);
    background-size: 20px 10px;
    padding: 0 20px 0 10px;
}

@include input-placeholder {
    color: #768C9A;
}

label {
    margin-bottom: .5rem;
    display: block;
    font-size: 12px;
    color: #768C9A;
    font-weight: $regular;
}