#header-top-bar{
    .box-banner{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ec4b6+1,2ec4b6+50,315a82+50,315a82+100 */
        background: rgb(46,196,182); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(46,196,182,1) 1%, rgba(46,196,182,1) 50%, rgba(49,90,130,1) 50%, rgba(49,90,130,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(46,196,182,1) 1%,rgba(46,196,182,1) 50%,rgba(49,90,130,1) 50%,rgba(49,90,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(46,196,182,1) 1%,rgba(46,196,182,1) 50%,rgba(49,90,130,1) 50%,rgba(49,90,130,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec4b6', endColorstr='#315a82',GradientType=1 ); /* IE6-9 */
        a{
            display: block;
            img{
                margin: auto;
                display: block;
                max-width: 100%;
            }
        }
    }
}

#header-bar{
    padding: 5px 0 0;
    position: relative;
    z-index: 1;
    background: #F2F6F7;
    @media( min-width: 768px ){
        padding: 13px 0;
    }
    #header-brand{
        @media( max-width: 767px ){
            margin-left: auto;
            margin-right: auto;
            img{
                max-width: 73px;
            }
        }
    }
    .open-close-nav-mobile{
        width: 40px;
        height: 40px;
        border: 0 none;
        box-shadow: 0 0 0 transparent;
        background: transparent;
        padding: 0;
        text-align: center;
        span{
            font-size: 8px;
            font-weight: $regular;
            line-height: 10px;
            display: block;
            margin: 0;
            color: #003066;
            text-transform: uppercase;
        }
        i{
            display: block;
            font-size: 25px;
            color: #013365;
            line-height: 25px;
        }
    }
    .link-my-account{
        @media( max-width: 767px ){
            margin-right: 0;
        }
        a{
            display: block;
            margin: 0 11px;
            text-decoration: none;
            i{
                display: block;
                font-size: 25px;
                color: #013365;
                text-align: center;
                transition: 300ms all;
                @media( min-width: 768px ){
                    font-size: 20px;
                }
            }
            span{
                font-weight: $semiBold;
                font-size: 11px;
                color: #6A7F8D;
                text-transform: uppercase;
                text-align: center;
                line-height: 13px;
                margin-top: 7px;
                transition: 300ms all;
            }
            &:hover{
                i, span{
                    color: darken(#013365, 20%);
                }
            }
        }
    }
    .link-item-cart{
        border-left: 1px solid #D9E0E4;
        height: 45px;
        padding-left: 15px;
        a{
            display: block;
            &:hover{
                transform: scale(1.03);
            }
            .icon{
                position: relative;
                display: block;
                i{
                    color: #013365;
                    font-size: 25px;
                    line-height: 43px;
                    display: block;
                    @media( min-width: 768px ){
                        font-size: 30px;
                    }
                }
                .badge{
                    width: 21px;
                    height: 21px;
                    background: #00DD3E;
                    border: 2px solid #fff;
                    color: #fff;
                    font-weight: $semiBold;
                    font-size: 12px;
                    color: #FFFFFF;
                    line-height: 17px;
                    text-align: center;
                    border-radius: 100%;
                    position: absolute;
                    top: -3px;
                    right: -10px;
                    padding: 0;
                }
            }
        }
    }
    #header-search{
        .busca{
            @media( max-width: 767px ){
                margin: 4px -15px 0;
            }
        }
    }
}


#header-brand {
    max-width: 135px;
    @media( min-width: 768px ){
        max-width: 227px;
    }
    h1 {
        margin: 0;
        padding: 0;   
    }
}