﻿#header-nav {
    background: #013365;
    border-bottom: 2px solid #2EC4B6;
    position: relative;
    z-index: 2;
    @media( max-width: 767px ){
        background: transparent;
        border: 0 none;
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        left: -100%;
        z-index: 9999;
        transition: 300ms all;
        > .mask{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,7/10);
            z-index: 1;
            &:before{
                @include fontAwesome('\f00d', 'fas');
                width: 24px;
                height: 24px;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 100%;
                background: #fff;
                color: #013365;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
            }
        }
        &.mobile-active{
            right: 0;
            left: 0;
        }
    }

    .header-nav-item-all{
        .header-nav-sub-box{
            .header-nav-sub-item:first-child{
                .all-departments-sub{
                    @media( min-width: 768px ){
                        // width: auto;
                        // opacity: 1;
                        // visibility: visible;
                    }
                }
            }   
        }
    }

    &:hover{
        & + .mask-full{
            opacity: 1;
            visibility: visible;
            height: auto;
            bottom: 0;
        }
    }
    & + .mask-full{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,7/10);
        opacity: 0;
        visibility: hidden;
        transition: 300ms all;
        height: 0;
        @media( max-width: 767px ){
            display: none!important;
        }
    }
    > .container{
        position: static;
        z-index: 2;
        @media( max-width: 767px ){
            position: absolute;
            top: 0;
            left: 0;
            max-width: 260px;
            bottom: 0;
            z-index: 2;
            margin: 0;
            padding: 0;
            overflow: scroll;
            background: #013365;
        }
    }
    .header-nav-items{
        margin: 0;
        @media( min-width: 768px ){
            margin: 0 0 0 -15px;
        }
        &.lvl2{
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            @media( min-width: 768px ){
                padding-top: 30px;
                padding-bottom: 30px;
                min-height: 316px;
                background: #f2f6f7;
            }
        }
    }
    .col-links{
        padding: 0;
    }
    .header-nav-brands{
        background: #FFFFFF;
        height: 100%;
        margin: 0 -5px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 315px;
        @media( max-width: 767px ){
            display: none!important;
        }
        li{
            width: 49%;
            display: inline-block;
            vertical-align: top;
            padding: 5px;
            a{
                border: 1px solid #E8EDEF;
                display: block;
                max-width: 130px;
                height: 50px;
                position: relative;
                margin: auto;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: 300ms all;
                    transform: translate(-50%, -50%);
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
                &:hover{
                    img{
                        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
    .header-nav-banner{
        display: none;
        @media( min-width: 768px ){
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
        }
    }
    .header-nav-item{
        -ms-flex-positive: 1!important;
        flex-grow: 1!important;
        position: static;
        &.header-nav-item-all{
            .container{
                padding: 0;
            }
            .header-nav-sub-box{
                background: transparent!important;
                .header-nav-sub-items{
                    background: #F2F6F7 !important;
                }
            }
            .container{
                position: relative;
            }
            .header-nav-sub-link{
                position: relative;
                &:after{
                    @include fontAwesome('\f105', 'fas');
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    width: 30px;
                    line-height: 20px;
                    font-size: 14px;
                    margin-top: -10px;
                    text-align: center;
                    color: #013365;
                }
            }
        }

        &.purificadores-para-casa,
        &.purificadores-para-empresa{
            .header-nav-sub-box{
                background: #F2F6F7!important;
            }
            .header-nav-items{
                &.lvl2{
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        width: 49%;
                    }
                }
            }
        }

        &:first-child .header-nav-link,
        .link-offer{
            &:before{ display: none; }
        }
        .header-nav-link{
            padding: 15px;
            display: block;
            position: relative;
            background: transparent;
            text-align: left;
            border-bottom: 1px solid #12416F;
            @media( min-width: 768px ){
                border-bottom: 0 none;
                padding: 11px 5px;
                text-align: center;
            }
            @media( min-width: 992px ){
                text-align: left;
                padding: 22px 8px;
            }
            @media( min-width: 1200px ){
                padding: 22px 15px;
            }
            &:after{
                @media( max-width: 767px ){
                    @include fontAwesome('\f105', 'fas');
                    font-size: 13px;
                    line-height: 20px;
                    color: #fff;
                    width: 30px;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -10px;
                }
                @media( min-width: 768px ){
                    content: "";
                    border: 6px solid transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -6px;
                    transition: 300ms all;
                }
            }
            &:before{
                @media( min-width: 768px ){
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -20px;
                    width: 1px;
                    height: 40px;
                    background: #1A4774;
                }
            }
            .icon, .text{
                display: inline-block;
                vertical-align: middle;
            }
            .icon{
                margin: 0 10px 0 0;
                min-width: 30px;
                text-align: center;
                @media( min-width: 768px ){
                    margin: 0 auto 5px;
                    min-width: auto;
                }
                @media( min-width: 992px ){
                    margin: 0 5px 0 0;
                }
            }
            .text{
                font-weight: $medium;
                font-size: 12px;
                color: #FFFFFF;
                line-height: 15px;
                @media( min-width: 768px ){
                    font-size: 9px;
                    line-height: 10px;
                }
                @media( min-width: 992px ){
                    font-size: 11px;
                    line-height: 15px;
                }
                @media( min-width: 1200px ){
                    font-size: 12px;
                }
                span{
                    @media( min-width: 768px ){
                        display: block;
                    }
                }
            }
            &.link-offer{
                background: #2EC4B6;
                padding: 15px;
                @media( min-width: 768px ){
                    text-align: center;
                    padding: 10px 5px 11px;
                }
                @media( min-width: 1200px ){
                    padding: 10px 25px 11px;
                }
                .icon, .text{
                    display: inline-block;
                    vertical-align: middle;
                    @media( min-width: 768px ){
                        display: block;
                        margin: 0;
                    }
                }
                .icon{
                    @media( max-width: 767px ){
                        min-width: 30px;
                        text-align: center;
                    }
                }
                .text{
                    font-weight: $medium;
                    font-size: 12px;
                    @media( min-width: 768px ){
                        font-weight: $semiBold;
                        font-size: 13px;
                        margin-top: 4px;
                        text-align: center;
                    }
                    @media( min-width: 1200px ){
                        font-size: 15px;
                    }
                }
                &:after{
                    display: none;
                }
                &:hover{
                    background: darken(#2EC4B6, 10%);
                }
            }
        }
        &.active{
            .header-nav-sub-box{
                @media( max-width: 767px ){
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
            }
        }
        &:hover{
            .header-nav-link{
                background: #0076AA;
                &:before{
                    display: none;
                }
                &:after{
                    border-bottom-color: #fff;
                }
            }
            .header-nav-sub-box{
                opacity: 1;
                visibility: visible;
                height: auto;
                @media( min-width: 768px ){
                    min-height: 317px;
                }
            }
        }
    }
    .link-lvl2,
    .header-nav-sub-link{
        font-weight: $semiBold;
        font-size: 12px;
        color: #768C9A;
        letter-spacing: 0;
        line-height: 22px;
        padding: 10px 20px;
        display: block;
        @media( min-width: 768px ){
            font-size: 14px;
            line-height: 22px;
            padding: 10px;
        }
        &:before{
            @include fontAwesome('\f111', 'fas');
            color: #013365;
            font-size: 9px;
            line-height: 22px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    .link-lvl2{
        &:hover{
            background: #013365;
            color: #fff;
            &:before{
                color: #fff;
            }
        }
    }
    .header-nav-sub-box{
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: 300ms all;
        overflow: hidden;
        background: #F2F6F7; /* Old browsers */
        @media( min-width: 768px ){
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: #F2F6F7; /* Old browsers */
            background: -moz-linear-gradient(left, #f2f6f7 0%, #f2f6f7 50%, #fff 50%, #fff 50%, #fff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f2f6f7 0%,#f2f6f7 50%,#fff 50%,#fff 50%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f2f6f7 0%,#f2f6f7 50%,#fff 50%,#fff 50%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f7', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
        }
        > img{
            display: none!important;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            @media( max-width: 767px ){
                display: none!important;
            }
        }
        .row{
            position: relative;
            z-index: 2;
        }
        .row,
        .container,
        div[class*="col"]{ 
            @media( max-width: 767px ){
                padding: 0!important;
                margin: 0!important;
            }
        }
    }
    .header-nav-sub-items{
        padding: 30px 0;
        max-width: 390px;
        position: static;
        z-index: 2;
        margin: 0;
        .header-nav-sub-item{
            position: static;
            &:hover{
                .header-nav-sub-link{
                    background: #013365;
                    color: #fff;
                    &:before,
                    &:after{
                        color: #fff;
                    }
                }
                .all-departments-sub{
                    opacity: 1;
                    visibility: visible;
                    width: auto;
                }
            }
            &.purificadores-para-casa,
            &.purificadores-para-empresa{
                .sub-items{
                    min-height: 406px;
                    ul{
                        height: 345px;
                        > li{
                            display: inline-block;
                            vertical-align: middle;
                            width: 49%;
                        }
                    }
                }
            }
        }
        .all-departments-sub{
            position: absolute;
            top: 0;
            right: 0;
            left: 390px;
            visibility: hidden;
            opacity: 0;
            width: 0;
            overflow: hidden;
            transition: 300ms all;
            z-index: 1;
            h3{
                font-weight: $semiBold;
                font-size: 16px;
                color: #013365;
                line-height: 20px;
                margin: 0 0 10px;
            }
            .sub-items{
                background: #E8ECED;
                padding: 20px;
                width: 100%;
                height: 293px;
                position: relative;
                // > img{
                //     display: none!important;
                //     @media (min-width: 992px) {
                //         display: block!important;
                //         position: absolute;
                //         bottom: 0;
                //         right: 0;
                //         z-index: 1;
                //     }
                // }
                .sub-banner{
                    margin-right: -20px;
                    img{
                        height: auto;
                        max-height: 242px;
                        width: auto;
                    }
                }
                ul{
                    padding: 10px 0 0;
                    height: 223px;
                    overflow: scroll;
                    position: relative;
                    z-index: 2;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: transparent; 
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: transparent; 
                    }
                    li{
                        a{
                            font-weight: $medium;
                            font-size: 14px;
                            color: #5C6D78;
                            line-height: 22px;
                            padding: 5px;
                            display: table;
                            &:before{
                                @include fontAwesome('\f111', 'fas');
                                color: #013365;
                                font-size: 9px;
                                line-height: 22px;
                                display: inline-block;
                                margin-right: 10px;
                                vertical-align: middle;
                            }
                            &:hover{
                                background: #013365;
                                color: #fff;
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .sub-brands{
                background: #fff;
                padding: 20px;
                width: 100%;
                ul{
                    margin: -4px;
                    li{
                        padding: 4px;
                        display: inline-block;
                        vertical-align: middle;
                        a{
                            border: 1px solid #E8EDEF;
                            border-radius: 0;
                            min-width: 93px;
                            height: 43px;
                            display: block;
                            position: relative;
                            img{
                                transform: translate(-50%, -50%);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                max-width: 90%;
                            }
                            &:hover{
                                border-color: darken(#E8EDEF, 10%);
                            }
                        }
                    }
                }
            }
            .sub-banner{
                // display: none!important;
            }
        }
    }

    .contact-nav-mobile{
        margin-top: 20px;
        padding: 15px;
        > h5{
            font-weight: $semiBold;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 30px;
        }
        ul{
            li{
                padding: 3px 0;
                i{
                    min-width: 20px;
                    text-align: center;
                    font-size: 12px;
                    color: #2EC4B6;
                }
                span, a{
                    font-weight: $medium;
                    font-size: 9px;
                    color: #FFFFFF;
                    line-height: 14px;
                }
                &.h-atendimento{
                    border-top: 1px solid #11406E;
                    border-bottom: 1px solid #11406E;
                    padding: 10px 0 17px;
                    margin: 10px 0;
                    span{
                        font-weight: $semiBold;
                        font-size: 13px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 30px;
                        display: block;
                        & + span{
                            font-weight: $regular;
                            font-size: 9px;
                            color: #FFFFFF;
                            line-height: 12px;
                        }
                    }
                }
            }
            &.social-links{
                margin: 0 -4px;
                li{
                    display: inline-block;
                    vertical-align: middle;
                    padding: 4px;
                    > a{
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background: #B4BCBF;
                        i{
                            display: block;
                            font-size: 13px;
                            color: #3B4850;
                            line-height: 32px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}