﻿.box-newsletter {
    position: relative;
    z-index: 1;
    padding: 13px 0 13px 15px;
    @media( max-width: 767px ){
        padding: 15px 0;
        text-align: center;
    }
    .title{
        p{
            font-weight: $bold;
            font-size: 13px;
            color: #FFFFFF;
            line-height: 16px;
            margin: 0 0 10px;
            width: 100%;
            @media( min-width: 768px ){
                width: auto;
                margin: 0 15px 0 0;
            }
            span{
                display: block;
            }
        }
    }
    i {
        display: none;
        font-size: 23px;
        color: $colorWhite;
        line-height: 23px;
        margin-right: 9px;
    }
    p {
        margin-bottom: 0;
        b{
            font-size: 17px;
            color: $colorWhite;
            line-height: 20px;
            display: block;
        }
        span{
            display: block;
            font-size: 13px;
            color: $colorWhite;
            line-height: 14px;
        }
    }
    .form {
        position: relative;
        margin: auto;
        @media( max-width: 767px ){
            width: 100%;
        }
        .input-box{
            position: relative;
        }
        input{
            background: #FFFFFF;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
            border-radius: 3px;
            height: 45px;
            width: 100%;
            padding: 0 50px 0 15px;
            font-weight: $regular;
            font-size: 12px;
            color: #6A7F8D;
            @media( min-width: 390px ){
                width: 207px;
            }
            @media( min-width: 992px ){
                width: 207px;
            }
            @media( min-width: 1200px ){
                width: 297px;
            }
        }
        .btn{
            position: absolute;
            top: 1px;
            right: 1px;
            background: #00DD3E;
            border-radius: 3px;
            width: 43px;
            height: 43px;
            display: block;
            line-height: 43px;
            font-weight: $semiBold;
            font-size: 13px;
            color: #FFFFFF;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .alert-message{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        background: #2CC1CA;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 15px;
        box-shadow: 0 0 10px 4px rgb(42, 192, 202);
        z-index: 999999999;
        animation: shadowAlert 500ms linear 0s infinite alternate;
    }
}

@keyframes shadowAlert {
    from { 
        box-shadow: 0 0 5px 0 rgb(42, 192, 202);
    }
    to {
        box-shadow: 0 0 10px 4px rgb(42, 192, 202);
    }
}