﻿// REVIEWS AND RATING
$colorEmpty: #E5E5E5;
$colorFill: #FF6300;
.a0,
.a00,
.a5,
.a10,
.a15,
.a20,
.a25,
.a30,
.a35,
.a40,
.a45,
.a50,
.avaliacao0,
.avaliacao0,
.avaliacao5,
.avaliacao10,
.avaliacao15,
.avaliacao20,
.avaliacao25,
.avaliacao30,
.avaliacao35,
.avaliacao40,
.avaliacao45,
.avaliacao50 {
    display: inline-block;
    vertical-align: middle;
    &:before,
    &:after {
        font: 900 15px Font Awesome\ 5 Free;
        display: inline-block;
        letter-spacing: 4px;
    }
}

.a00:before,
.avaliacao0:before,
.a0:before {
    content: "\F005\F005\F005\F005\F005";
    color: $colorEmpty;
}

.a5:before,
.a10:before,
.avaliacao5:before,
.avaliacao10:before {
    content: "\F005";
    color: $colorFill;
}

.a5:after,
.a10:after,
.avaliacao5:after,
.avaliacao10:after {
    content: "\F005\F005\F005\F005";
    color: $colorEmpty;
}

.a15:before,
.a20:before,
.avaliacao15:before,
.avaliacao20:before {
    content: "\F005\F005";
    color: $colorFill;
}

.a15:after,
.a20:after,
.avaliacao15:after,
.avaliacao20:after {
    content: "\F005\F005\F005";
    color: $colorEmpty;
}

.a25:before,
.a30:before,
.avaliacao25:before,
.avaliacao30:before {
    content: "\F005\F005\F005";
    color: $colorFill;
}

.a25:after,
.a30:after,
.avaliacao25:after,
.avaliacao30:after {
    content: "\F005\F005";
    color: $colorEmpty;
}

.a35:before,
.a40:before,
.avaliacao35:before,
.avaliacao40:before {
    content: "\F005\F005\F005\F005";
    color: $colorFill;
}

.a35:after,
.a40:after,
.avaliacao35:after,
.avaliacao40:after {
    content: "\F005";
    color: $colorEmpty;
}

.a45:before,
.a50:before,
.avaliacao45:before,
.avaliacao50:before {
    content: "\F005\F005\F005\F005\F005";
    color: $colorFill;
}

#rtAvaliacao_A {
    display: block;
    line-height: 20px;
    margin: 0;
    .ratingStar {
        &.filledRatingStar,
        &.emptyRatingStar {
            font-size: 0;
            &:before {
                content: "\F005";
                font: 900 15px Font Awesome\ 5 Free;
                display: inline-block;
            }
        }
        &.filledRatingStar {
            &:before {
                color: $colorFill;
            }
        }
        &.emptyRatingStar {
            &:before {
                color: $colorEmpty;
            }
        }
    }
}

#opiniao_de_usuario {
    .ver-todos-comentarios {
        display: none;
    }
    em {
        font-style: normal;
        font-size: 12px;
        color: $color3;
        letter-spacing: 0;
        line-height: 25px;
    }
    ul {
        @extend %reset-ul;
    }
    .user-review {
        >hr,
        >h4 {
            display: none;
        }
    }
    .avaliacao {
        .media {
            margin-bottom: 20px;
            >span {
                display: none;
            }
            em span {
                margin-left: 5px;
            }
            @include media-queries('phone-wide') {
                margin-bottom: 40px;
            }
        }
        .rating {
            margin: -7px 0;
            >li {
                padding: 7px 0;
                position: relative;
                @extend %clearfix;
                .voteRatingStar {
                    margin-right: 10px;
                }
                .voteRatingBar {
                    @include prefixed(transform, skew(-15deg));
                    border-radius: 3px;
                    width: calc(100% - 210px);
                    height: 22px;
                    background: #EEEEEE;
                    border: 0 none;
                    margin-right: 0;
                    display: inline-block;
                    vertical-align: middle;
                    >span {
                        background: $color3;
                        height: inherit;
                        display: block;
                    }
                    &+span {
                        line-height: 15px;
                        font-size: 12px;
                        color: $color3;
                        @media( max-width: 767px) {
                            @include center-absolute(true);
                            right: 0;
                        }
                        @media( min-width: 768px) {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    @media( min-width: 768px) {
                        margin: 0 auto;
                    }
                }
                >span:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
    .avalie-produto {
        margin-top: 30px;
        h5 {
            @include title-default(15px, $mb: 10px);
        }
        .rating-avalie-wrapper {
            height: 28px;
        }
        #opcoes-avalie {
            margin-top: 5px;
            p {
                display: none;
                strong {}
            }
            input {
                vertical-align: middle;
                margin-bottom: 5px;
            }
            label {
                font-size: 13px;
                color: $color3;
                line-height: 14px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 0 5px 3px;
                width: calc(100% - 25px);
                @media (min-width: 992px) {
                    width: calc(50% - 25px);
                }
                @media (min-width: 1200px) {
                    margin: 0 6px 0 2px;
                    width: auto;
                }
            }
        }
        @include media-queries('phone-wide') {
            margin-top: 50px;
        }
    }
    #ulPubliqueResenha {
        li {
            margin: 20px 0;
            display: block;
            a {
                display: inline-block;
            }
            @include media-queries('phone-wide') {
                margin: 25px 0 0;
                display: inline-block;
                vertical-align: middle;
            }
        }
        #lnkPubliqueResenha {
            @include btn-default($fz: 13px, $width: auto, $height: 35px);
            @include media-queries('phone') {
                display: table;
                width: 210px;
            }
        }
    }
    .formUserComment {
        padding-top: 15px;
        p {
            @include text-default(15px);
        }
    }
    .resenhas {
        >.quem {
            >li,
            .items>li {
                display: block;
                margin-bottom: 35px;
                .quem {
                    position: relative;
                    .dados {
                        margin: 0;
                        strong,
                        span {
                            font-size: 13px;
                            color: $colorSecondary;
                        }
                        strong {
                            display: none;
                            font-weight: $black;
                            font-style: italic;
                        }
                    }
                    .rating-wrapper {
                        margin: 5px 0 10px;
                        strong {
                            display: none;
                        }
                        .rating {
                            @media( min-width: 992px) {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%)
                            }
                        }
                    }
                    @include media-queries('tablet') {
                        .rating-wrapper {
                            margin: 0;
                        }
                    }
                }
                .opt-texto {
                    padding: 5px 0 5px;
                    margin: 0;
                    border: 0 none;
                    p {
                        font-size: 13px;
                        color: $color3;
                    }
                }
                .util {
                    @extend %clearfix;
                    margin-top: 20px;
                    padding: 5px 0;
                    position: relative;
                    border-top: 1px solid $colorBorder;
                    border-bottom: 1px solid $colorBorder;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    span {
                        @include text-default(11px);
                        line-height: 30px;
                    }
                    .considera-util {
                        @media( max-width: 767px) {
                            display: none;
                        }
                    }
                    .opiniao-ajudou {
                        span {
                            line-height: 30px;
                            font-style: normal;
                        }
                        ul {
                            display: inline-block;
                            vertical-align: top;
                            li {
                                display: inline-block;
                                vertical-align: top;
                                a {
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    color: transparent;
                                    font-size: 0;
                                    line-height: 0;
                                    text-align: center;
                                    text-decoration: none;
                                    &:before {
                                        @include fontAwesome("\f164", $color: #000, $size: 18px);
                                        line-height: 30px;
                                    }
                                }
                                &.sim {
                                    a {
                                        &:hover {
                                            transform: scale(1.2) rotate(-7deg);
                                        }
                                        &:before {
                                            color: #00B561;
                                        }
                                    }
                                }
                                &.nao {
                                    a {
                                        &:hover {
                                            transform: scale(0.8) rotate(7deg);
                                        }
                                        &:before {
                                            color: #BB0000;
                                            content: "\f165";
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @include media-queries('tablet') {
                        .opiniao-ajudou {
                            float: right;
                        }
                    }
                    @include media-queries('desktop') {
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .slick-slider {
            padding-bottom: 20px;
            .slick-arrow {
                top: inherit;
                bottom: 0;
                -webkit-transform: none;
                transform: none;
                &.slick-prev {
                    left: calc(50% - 40px);
                }
                &.slick-next {
                    right: calc(50% - 40px);
                }
            }
        }
    }
    #formUserReview {
        animation: slide-up 400ms ease-out;
        position: fixed;
        bottom: 0;
        left: 4%;
        right: 4%;
        height: 430px;
        background: #fff;
        z-index: 140;
        padding: 40px 25px 40px;
        box-shadow: 0px -5px 15px 0 rgba(0, 0, 0, 3/10);
        @media( min-width: 768px) {
            right: auto;
            left: 50%;
            margin-left: - 200px;
            width: 400px;
        }
        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 10;
            opacity: 1;
            a {
                display: block;
                width: 30px;
                height: 30px;
                border: 0 none;
                background: transparent;
                font-size: 0;
                line-height: 0;
                text-decoration: none;
                text-align: center;
                &:before {
                    @include fontAwesome('\f00d', $display: block, $color: $colorPrimary, $size: 18px);
                    @extend %transition;
                }
                &:hover {
                    &:before {
                        color: $colorPrimary;
                    }
                }
            }
        }
        h1,
        .ranking,
        .footer {
            display: none;
        }
        .header {
            height: 335px;
            overflow: scroll;
        }
        .aviso-resenha {
            border-top: 1px solid #E5E5E5;
            margin-top: 10px;
            padding-top: 10px;
            font-size: 11px;
            color: #888;
            letter-spacing: 0.2px;
            line-height: 16px;
            font-weight: 400;
            strong {
                color: #111;
                display: block;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .opiniao {
            >.grp {
                padding-bottom: 5px;
                position: relative;
                span {
                    position: absolute;
                    top: 4px;
                    right: 0;
                }
            }
            input {
                height: 40px;
                width: 100%;
                padding: 0 15px;
            }
            textarea {
                width: 100%;
                padding: 15px;
            }
            label {
                font-size: 13px;
                color: #888888;
                letter-spacing: 0;
                font-weight: 500;
                margin-bottom: 4px;
            }
            input[type="checkbox"] {
                height: auto;
                width: auto;
                float: left;
                margin-right: 6px;
                padding: 0;
                &+label {
                    display: block;
                    overflow: hidden;
                    margin-bottom: 0;
                }
            }
        }
        .avaliar {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            a {
                @extend %btn-default;
                background: $colorSecondary !important;
                display: block;
                border-radius: 0;
                text-transform: uppercase;
                color: #fff;
                &:hover {
                    background: darken($colorSecondary, 5%) !important;
                }
            }
        }
    }
}