#header-search{
    @media( max-width: 767px ){
        width: 100%;
    }
}
.search-box {
    .busca {
        legend,
        label,
        select {
            display: none;
        }
        margin: 0;
        padding: 0;
        position: relative;
        &:before{
            @include fontAwesome('\f002', 'fas', 13px, #CFDCE5);
            position: absolute;
            top: 0;
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 45px;
        }
        .fulltext-search-box {
            width: 100%;
            height: 45px;
            background: #fff;
            padding: 0 100px 0 43px;
            background: #FFFFFF;
            box-shadow: $boxShadow!important;
            font-weight: $regular;
            font-size: 12px;
            color: #6A7F8D;
            border-radius: 3px;
            border: 0 none;
            @media( min-width: 768px ){
                width: 290px;
            }
            @media( min-width: 992px ){
                width: 360px;
            }
            @media( min-width: 1200px ){
                width: 533px;
            }
        }
        .btn-buscar{
            position: absolute;
            top: 1px;
            right: 1px;
            background: #00DD3E;
            border-radius: 3px;
            @include size(85px, 43px);
            @extend %reset-btn;
            display: block;
            line-height: 43px;
            
            font-weight: $semiBold;
            font-size: 13px;
            color: #FFFFFF;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                background: darken(#00DD3E, 5%);
            }
        }
    }
}