﻿.admake-showcase > h2,
.showcase-home .showcase-title{
    border: 1px solid #EDEBEA;
    position: relative;
    margin-bottom: 20px;
}
.showcase-home .showcase-title .title-text h2{
    margin: 0;
}
.admake-showcase > h2{
    margin: 0 0 15px;  
    padding: 15px 15px 15px 30px; 
    background: #F2F6F7;
    border-radius: 25px 0 0 25px;
    border: 0 none;
    font-weight: $bold;
    font-size: 18px;
    color: #013365;
    line-height: 20px;
    text-align: left;
}

.showcase-home{
    margin-top: 15px;
    margin-bottom: 15px;
    @media( min-width: 768px ){
        margin-top: 34px;
        margin-bottom: 52px;
    }
    .showcase-title{
        background: #F2F6F7;
        border-radius: 25px 0 0 25px;
        border: 0 none;
        .title-icon{
            border-radius: 100%;
            width: 36px;
            height: 36px;
            margin-right: 14px;
            overflow: hidden;
            position: relative;
            text-align: center;
            background: #013365;
            @media( min-width: 768px ){
                border-radius: 25px;
                width: 50px;
                height: 50px;
                margin-right: 18px;
            }
            i{
                font-size: 17px;
                line-height: 38px;
                color: #F2F6F7;
                display: block;
                margin: auto;
                @media( min-width: 768px ){
                    font-size: 22px;
                    line-height: 50px;
                }
            }
        }
        .title-text{
            font-weight: $bold;
            font-size: 15px;
            color: #013365;
            line-height: 20px;
            @media( min-width: 768px ){
                font-size: 18px;
            }
        }
    }
}

.showcase {
    margin: 0;
    .slick-slider{
        .slick-track{
            margin: 0;
        }
        .slick-dots{
            li{
                margin: 0 4px;
                button{
                    background: #D1CCCB;
                    box-shadow: 0 2px 0 0 transparent;
                }
                &.slick-active{
                    button{
                        background: $colorSecondary;
                        box-shadow: 0 2px 0 0 rgba(0,0,0,1/10)!important;
                    }
                }
            }
        }
        .slick-arrow{
            background: #F4F4F4;
            color: $color6;
            box-shadow: 0 2px 0 0 transparent;
            &:hover{
                background: $colorSecondary;
                color: $colorWhite;
                box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
                transform: none;
            }
            &.slick-prev{
                left: -16px;
            }
            &.slick-next{
                right: -16px;
                padding-left: 4px;
            }
        }
    }
    .admake-showcase {
        >div {
            >ul {
                margin: -10px -8px;
                >li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 8px;
                    width: 50%;
                    @include media-queries('tablet') {
                        width: 33%;
                    }
                    @include media-queries('desktop') {
                        width: 25%;
                    }
                    .ad-showcase-product{
                        padding-left: 7px;
                        padding-right: 7px;
                        .product-price .percent.flag{
                            right: -7px;
                        }
                        .price-economize{
                            strong{
                                display: table;
                                margin: 2px auto 0;
                            }
                        }
                    }
                }
            }
        }
    }
    ul {
        margin: 0 -5px;
        @media( min-width: 768px ){
            margin: 0 -15px;
        }
        li {
            padding: 0 5px;
            @media( min-width: 768px ){
                padding: 0 15px;
            }
        }
        &.slick-slider{
            margin: 0;
            .slick-dots{
                display: none!important;
            }
            .slick-active{
                li{
                    padding: 0 5px;
                    @media( min-width: 768px ){
                        padding: 0 15px;
                    }
                }
                &:nth-child(4n+1){
                    li{
                        @media( min-width: 992px ){
                            padding-left: 2px;
                        }
                    }
                }
                &:nth-child(4n+4){
                    li{
                        @media( min-width: 992px ){
                            padding-right: 2px;
                        }
                    }
                }
            }
        }
    }
    &.showcase-2-cols{
        ul {
            &.slick-slider{
                .slick-active{
                    li{
                        padding-left: 5px;
                        padding-right: 5px;
                        @media( min-width: 768px ){
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                    &:nth-child(2n+1){
                        li{
                            @media( min-width: 992px ){
                                padding-left: 0;
                            }
                        }
                    }
                    &:nth-child(2n+2){
                        li{
                            @media( min-width: 992px ){
                                padding-right: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.showcase-3-cols{
        ul {
            &.slick-slider{
                .slick-active{
                    li{
                        padding-left: 5px;
                        padding-right: 5px;
                        @media( min-width: 768px ){
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                    &:nth-child(3n+1){
                        li{
                            @media( min-width: 992px ){
                                padding-left: 0;
                            }
                        }
                    }
                    &:nth-child(3n+3){
                        li{
                            @media( min-width: 992px ){
                                padding-right: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    .ad-showcase-product {
        position: relative;
        padding: 7px;
        border-radius: 3px;
        text-align: center;
        transition: 300ms all;
        overflow: hidden;

        background: #FFFFFF;
        border: 1px solid #F2F6F7;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,1/10);
        @media( min-width: 768px ){
            padding: 15px;
        }
        .product-flags {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            .flag {
                @extend %flag;
                display: table;
                margin: 0 0 3px auto;
            }
        }
        .product-image {
            position: relative;
            margin-bottom: 15px;
            min-height: 119px;
            @media( min-width: 768px ){
                min-height: 169px;
            }
            > a{
                display: block;
            }
            img {
                max-height: 110px;
                width: auto;
                max-width: 100%;
                height: auto;
                margin: auto;
                @media( min-width: 768px ){
                    max-height: 170px;
                }
            }
        }
        .product-name {
            min-height: 52px;
            position: relative;
            margin: 0 0 5px;
            @media( min-width: 768px ){
                margin: 15px 0;
                min-height: 70px;
            }
            a {
                font-weight: $regular;
                font-size: 11px;
                color: #3B4850;
                letter-spacing: 0;
                text-align: center;
                line-height: 13px;
                display: block;
                min-height: 52px;
                text-overflow: ellipsis;
                word-wrap: break-word;
                overflow: hidden;
                max-height: 52px;
                @media( min-width: 768px ){
                    font-size: 12px;
                    min-height: 70px;
                    max-height: 70px;
                    line-height: 17px;
                }
            }
        }
        .product-price {
            position: relative;
            margin-top: 15px;
            min-height: 100px;
            a {
                display: block;
                .installment,
                .old-price,
                .best-price,
                .price-discount {
                    display: block;
                }
                .old-price{
                    font-weight: $regular;
                    font-size: 12px;
                    color: #3B4850;
                    text-align: center;
                    line-height: 15px;
                    min-height: 15px;
                    @media( min-width: 768px ){
                        font-size: 15px;
                        line-height: 20px;
                        min-height: 20px;
                    }
                    span{
                        text-decoration: line-through;
                    }
                }
                .best-price {
                    color: #DF6400;
                    font-size: 12px;
                    line-height: 19px;
                    vertical-align: bottom;
                    &.admake-has-best-price{
                        color: #DF6400;
                        font-size: 12px;
                        line-height: 19px;
                        vertical-align: bottom;
                        @media( min-width: 768px ){
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }
                    strong{
                        font-weight: $bold;
                        font-size: 16px;
                        color: #DF6400;
                        line-height: 19px;
                        @media( min-width: 768px ){
                            font-size: 19px;
                            line-height: 22px;
                        }
                    }
                }
                .discount-msg{
                    font-weight: $regular;
                    font-size: 9px;
                    color: #3B4850;
                    line-height: 14px;
                    text-align: center;
                    @media( min-width: 768px ){
                        font-size: 11px;
                    }
                }
                .installment{
                    display: block;
                    margin-top: 10px;
                    font-weight: $regular;
                    font-size: 11px;
                    color: #3B4850;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 16px;
                    @media( min-width: 768px ){
                        font-size: 13px;
                    }
                    strong{
                        font-weight: $semiBold;
                    }
                }
                .best-price-not-discount{
                    font-weight: $regular;
                    font-size: 11px;
                    color: #3B4850;
                    line-height: 16px;
                    @media( min-width: 768px ){
                        font-size: 13px;
                    }
                }
                .price-discount{
                    display: block;
                    margin-top: 6px;
                    font-size: 14px;
                    color: #8E8786;
                    line-height: 19px;
                    strong{
                        color: $colorSecondary;
                        font-size: 19px;
                        font-weight: $extraBold;
                    }
                }
            }
        }
        .product-buy {
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            padding: 8px;
            height: 0;
            overflow: hidden;
            transition: max-height .35s;
            @media( max-width: 767px ){
                display: none!important;
            }
            a, button {
                background: #00DD3E;
                border-radius: 3px;
                font-weight: $semiBold;
                font-size: 13px;
                color: #FFFFFF;
                line-height: 45px;
                padding: 0;
                text-transform: uppercase;
                text-align: center;
                display: block;
                margin: auto;
                position: relative;
                &:hover{
                    background: darken(#00DD3E, 10%);
                }
            }
        }
        &.out-of-stock {
            .product-image,
            .product-name,
            .trustvox-showcase{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            .msg-out-of-stock {
                @include size(100%, 45px);
                @include title-default(16px, #fff, 0);
                text-align: center;
                line-height: 45px;
                background: #2EC4B6;
                margin-top: 70px;
                display: block;
                &:hover{
                    background: darken(#2EC4B6, 5%);
                }
            }
        }
        &:hover{
            border-color: #0194BD;
            box-shadow: 0 2px 10px 0 rgba(1,148,189,1/10);
            .product-buy {
                height: auto;
                bottom: 0;
            }
        }
    }
}