.store-address-list{
    padding: 10px 0;
    .store-address-item{
        padding: 25px 0;
        max-width: 364px;
        h4{
            font-weight: $bold;
            font-size: 18px;
            color: #435B9F;
            line-height: 20px;
            margin: 0 0 8px;
            text-transform: uppercase;
        }
        address{
            font-size: 15px;
            color: $colorPrimary;
            font-style: normal;
            text-decoration: none;
            line-height: 18px;
            margin: 0 0 8px;
        }
        a{
            font-weight: $semiBold;
            font-size: 14px;
            color: $colorSuccess;
            line-height: 16px;
            font-style: italic;
            &:hover{
                color: darken($colorSuccess, 10%);
            }
            i{
                font-size: 15px;
                margin-right: 5px;
            }
        }
        .phones{
            padding: 22px 0;
            min-height: 94px;
            p{
                font-size: 14px;
                color: $colorPrimary;
                line-height: 20px;
                margin-bottom: 5px;
                i{
                    color: $colorSecondary;
                    margin-right: 5px;
                }
            }
        }
        .atendimento{
            padding: 24px 0;
            overflow: hidden;
            position: relative;
            @include sombra('top');
            font-size: 14px;
            color: $colorPrimary;
            line-height: 23px;
        }
    }
}